extends ../../../templates/secretariat

block prepend main
		//- #wrap
		//- //- #calendar
		//- div(style='clear:both')
		.content
				.container-fluid
						.row
								.col-lg-12.col-md-12
										form#needs-validation.form(method='POST', action='/secretariat/newpriestaccount' novalidate)
											.form-group
												.form-row
													.form-group.col-md-4.m-0
														.form-group
															label.h6 Last Name
																.text-danger.d-inline *
															input.form-control(type='text' placeholder="Ex. Dela Cruz" name='lastname' required)
															.invalid-feedback Please re-enter your password valid Last Name.

													.form-group.col-md-4.m-0
														.form-group
															.invalid-feedback Please re-enter your password valid Last Name.
															label.h6 First Name
																.text-danger.d-inline *
															input.form-control(type='text' placeholder="Ex. Juan" name='firstname' required)
															.invalid-feedback Please provide a valid First Name.
													.form-group.col-md-4.m-0
														.form-group
															label.h6 Middle Name
															input.form-control(type='text' placeholder="Ex. Santos" name='middlename')
												.form-row
													.form-group.col-md-6
														label.h6 Gender
															.text-danger.d-inline *
														select#inputState.form-control(name="gender" required) 
															//- option(selected='' value="" disabled) Choose...
															option(value="Male") Male
															option(value="Female") Female						
													.form-group.col-md-6
														label.h6 Contact Number
														input.form-control(type='text' placeholder="Ex. 09324252352" name='contactnumber')
												//- .form-check
												//- 	label.form-check-label
												//- 		input#gridRadios1.form-check-input(type='radio', name='gridRadios', value='option1', checked='')
												//- 		| ption one is this and that—be sure to include why it's great
												//- .form-check
												//- 	label.form-check-label
												//- 		input#gridRadios2.form-check-input(type='radio', name='gridRadios', value='option2')
												//- 		| ption two can be something else and selecting it will deselect option one

														.invalid-feedback Please choose a gender.
													.form-group.col-md-6
														label.h6 Contact Number:
															.text-danger.d-inline *
														input.form-control(type='text' name='contactnumber' placeholder="Ex. 091234567890	")
												.form-group
													label.h6(for='exampleFormControlTextarea1') Address:
														.text-danger.d-inline *
													textarea#exampleFormControlTextarea1.form-control(rows='1' name='address' placeholder="Ex. 56 Sampaguita Street Sta. Maria")
												.form-row
													.form-group.col-md-6
														label.h6 Username:
															.text-danger.d-inline *
														input.form-control(type='text' name='username' placeholder="Ex. Mark234" required)
														.invalid-feedback Please provide a username.
													.form-group.col-md-6
														label.h6 Email Address:
															.text-danger.d-inline *
														input.form-control(type='text' name='email' placeholder="Ex. markfrancisco@gmail.com" required)
														.invalid-feedback Please provide a valid email address.
												.form-group
													label.h6 Password:
														.text-danger.d-inline *
													input.form-control(type='text' name='createpassword' placeholder="Enter Password" required)
													.invalid-feedback Please provide password.
												
												button.btn.btn-primary.mt-3(type='submit') Submit

		script(type='text/javascript', src='/js/jquery.min.js')
		script(type='text/javascript', src='/admin/vendor.js')
		script(type='text/javascript', src='/admin/bundle.js')
		script(type='text/javascript', src='/js/loader.js')
		script.
			(function() {
				'use strict';

				window.addEventListener('load', function() {
					var form = document.getElementById('needs-validation');
					form.addEventListener('submit', function(event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add('was-validated');
					}, false);
				}, false);
			})();
