extends ../../../templates/secretariat
block prepend main
  style.
  // ### $App Screen Content ###
  #mainContent
    .row.gap-20.masonry.pos-r
      .masonry-sizer.col-md-6
      .masonry-item.w-100
        .row.gap-20
          // #Toatl Visits ====================
          .col-md-3
            .layers.bd.bgc-white.p-20.shadow
              .layer.w-100.mB-10
                h6.lh-1 Baptism
              .layer.w-100
                .peers.ai-sb.fxw-nw
                  .peer.peer-greed
                    span#sparklinedash
                  .peer
                    span.d-ib.lh-0.va-m.fw-600.bdrs-10em.pX-15.pY-15.bgc-green-50.c-green-500=baptism.baptismcount
          // #Total Page Views ====================
          .col-md-3
            .layers.bd.bgc-white.p-20.shadow
              .layer.w-100.mB-10
                h6.lh-1 Other Event Application
              .layer.w-100
                .peers.ai-sb.fxw-nw
                  .peer.peer-greed
                    span#sparklinedash2
                  .peer
                    span.d-ib.lh-0.va-m.fw-600.bdrs-10em.pX-15.pY-15.bgc-red-50.c-red-500=application.applicationcount
          // #Unique Visitors ====================
          .col-md-3
            .layers.bd.bgc-white.p-20.shadow
              .layer.w-100.mB-10
                h6.lh-1 Document Request
              .layer.w-100
                .peers.ai-sb.fxw-nw
                  .peer.peer-greed
                    span#sparklinedash3
                  .peer
                    span.d-ib.lh-0.va-m.fw-600.bdrs-10em.pX-15.pY-15.bgc-purple-50.c-purple-500=request.requestcount
          // #Bounce Rate ====================
          .col-md-3
            .layers.bd.bgc-white.p-20.shadow
              .layer.w-100.mB-10
                h6.lh-1 Facility Reservation
              .layer.w-100
                .peers.ai-sb.fxw-nw
                  .peer.peer-greed
                    span#sparklinedash4
                  .peer
                    span.d-ib.lh-0.va-m.fw-600.bdrs-10em.pX-15.pY-15.bgc-blue-50.c-blue-500=reservation.reservationcount
    .container-fluid.mt-3
      .row
        .col-md-12.mx-auto
          ul.nav.nav-tabs
            //- li.nav-item
            //-   a.nav-link.active(data-toggle='tab', href='#first') First Calendar
            //- li.nav-item
            //-   a.nav-link(data-toggle='tab', href='#second') Second Calendar
            //- li.nav-item
            //-   a.nav-link(data-toggle='tab', href='#third') Third Calendar

            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false')
                | Secretariat Schedules
              .dropdown-menu
                a.dropdown-item(href='#') All
                .dropdown-divider
                a.dropdown-item(href='#') Services
                .dropdown-divider
                a.dropdown-item(href='#') Masses
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false')
                | Priests Schedules
              .dropdown-menu
                a.dropdown-item(href='#') Priest1
                .dropdown-divider
                a.dropdown-item(href='#') Priest2
                .dropdown-divider
                a.dropdown-item(href='#') Priest3


          .tab-content
            // IMPORTANT!!! CALENDARS THAT IVE PUT IN HERE ARE LOCATED AT THE BOTTOM THANKS! :)
            #first.shadow.tab-pane.active
            #second.tab-pane.shadow
            #third.tab-pane.shadow
      //- #calendar-edit.modal.fade
        .modal-dialog(role='document')
          .modal-content
            .bd.p-15
              h5.m-0 Add Event
            .modal-body
              form
                .form-group
                  label.fw-500 Event title
                  input.form-control.bdc-grey-200
                .row
                  .col-md-6
                    label.fw-500 Start
                    .timepicker-input.input-icon.form-group
                      .input-group
                        .input-group-addon.bgc-white.bd.bdwR-0
                          i.ti-calendar
                        input.form-control.bdc-grey-200.start-date(type='text', placeholder='Datepicker', data-provide='datepicker')
                  .col-md-6
                    label.fw-500 End
                    .timepicker-input.input-icon.form-group
                      .input-group
                        .input-group-addon.bgc-white.bd.bdwR-0
                          i.ti-calendar
                        input.form-control.bdc-grey-200.end-date(type='text', placeholder='Datepicker', data-provide='datepicker')
                .form-group
                  label.fw-500 Event title
                  textarea.form-control.bdc-grey-200(rows='5')
                .text-right
                  button.btn.btn-primary.cur-p(data-dismiss='modal') Done
                
block addjs
  script.
    $('#first').fullCalendar()
    $('#second').fullCalendar()
    $('#third').fullCalendar()

