extends ../../../../templates/admin
block prepend main
	#mainContent
		.row.masonry.pos-r
			.masonry-sizer.col-md-6
			.masonry-item.w-100
				//- .row.gap-20
					// #Toatl Visits ====================
					.col-md-3
						.layers.bd.bgc-white.p-20.shadow
							.layer.w-100.mB-10
								h6.lh-1 Facility Reservations
							.layer.w-100
								.peers.ai-sb.fxw-nw
									.peer.peer-greed
										span#sparklinedash
									.peer
										span.d-ib.lh-0.va-m.fw-600.bdrs-10em.pX-15.pY-15.bgc-green-50.c-green-500=reservation.reservationcount
					// #Total Page Views ====================
					.col-md-3
						.layers.bd.bgc-white.p-20.shadow
							.layer.w-100.mB-10
								h6.lh-1 Document Requests
							.layer.w-100
								.peers.ai-sb.fxw-nw
									.peer.peer-greed
										span#sparklinedash2
									.peer
										span.d-ib.lh-0.va-m.fw-600.bdrs-10em.pX-15.pY-15.bgc-red-50.c-red-500=request.requestcount
					// #Unique Visitors ====================
					.col-md-3
						.layers.bd.bgc-white.p-20.shadow
							.layer.w-100.mB-10
								h6.lh-1 Baptisms
							.layer.w-100
								.peers.ai-sb.fxw-nw
									.peer.peer-greed
										span#sparklinedash3
									.peer
										span.d-ib.lh-0.va-m.fw-600.bdrs-10em.pX-15.pY-15.bgc-purple-50.c-purple-500=baptism.baptismcount
					// #Bounce Rate ====================
					.col-md-3
						.layers.bd.bgc-white.p-20.shadow
							.layer.w-100.mB-10
								h6.lh-1 Other Event Application
							.layer.w-100
								.peers.ai-sb.fxw-nw
									.peer.peer-greed
										span#sparklinedash4
									.peer
										span.d-ib.lh-0.va-m.fw-600.bdrs-10em.pX-15.pY-15.bgc-blue-50.c-blue-500=application.applicationcount
			.masonry-item.col-12
				// #Site Visits ====================
				//- .bd.bgc-white
					.peers.ai-s.shadow(class='fxw-nw@lg+')
						.peer.peer-greed.p-20(class='w-70p@lg+ w-100@lg-')
							.layers
								.layer.w-100.mB-10
									h6.lh-1 Site Visits
								.layer.w-100
									.mT-30
										canvas#area-chart(height='160')
									//- #world-map-marker
						//- .peer.bdL.p-20(class='w-30p@lg+ w-100p@lg-')
						//- 	.layers
						//- 		.layer.w-100
						//- 			// Progress Bars
						//- 			.layers
						//- 				.layer.w-100
						//- 					h5.mB-5 100k
						//- 					small.fw-600.c-grey-700 Visitors From USA
						//- 					span.pull-right.c-grey-600.fsz-sm 50%
						//- 					.progress.mT-10
						//- 						.progress-bar.bgc-deep-purple-500(role='progressbar', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100', style='width:50%;')
						//- 							span.sr-only 50% Complete
						//- 				.layer.w-100.mT-15
						//- 					h5.mB-5 1M
						//- 					small.fw-600.c-grey-700 Visitors From Europe
						//- 					span.pull-right.c-grey-600.fsz-sm 80%
						//- 					.progress.mT-10
						//- 						.progress-bar.bgc-green-500(role='progressbar', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100', style='width:80%;')
						//- 							span.sr-only 80% Complete
						//- 				.layer.w-100.mT-15
						//- 					h5.mB-5 450k
						//- 					small.fw-600.c-grey-700 Visitors From Australia
						//- 					span.pull-right.c-grey-600.fsz-sm 40%
						//- 					.progress.mT-10
						//- 						.progress-bar.bgc-light-blue-500(role='progressbar', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100', style='width:40%;')
						//- 							span.sr-only 40% Complete
						//- 				.layer.w-100.mT-15
						//- 					h5.mB-5 1B
						//- 					small.fw-600.c-grey-700 Visitors From India
						//- 					span.pull-right.c-grey-600.fsz-sm 90%
						//- 					.progress.mT-10
						//- 						.progress-bar.bgc-blue-grey-500(role='progressbar', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100', style='width:90%;')
						//- 							span.sr-only 90% Complete
													
									//- // Pie Charts
									//- .peers.pT-20.mT-20.bdT.jc-sb.ta-c.gap-10(class='fxw-nw@lg+')
									//-   .peer
									//-     .easy-pie-chart(data-size='80', data-percent='75', data-bar-color='#f44336')
									//-       span
									//-     h6.fsz-sm New Users
									//-   .peer
									//-     .easy-pie-chart(data-size='80', data-percent='50', data-bar-color='#2196f3')
									//-       span
									//-     h6.fsz-sm New Purchases
									//-   .peer
									//-     .easy-pie-chart(data-size='80', data-percent='90', data-bar-color='#ff9800')
									//-       span
									//-     h6.fsz-sm Bounce Rate
			// line charts
		.row.gap-20.masonry.pos-r
			.masonry-item.col-md-6
				// #Monthly Stats ====================
				.bd.bgc-white
					.layers.shadow
						.layer.w-100.pX-20.pT-20
							h5.lh-1 Baptism
						.layer.w-100.p-20
							canvas#canvas(height='150')
			.masonry-item.col-md-6
				// #Monthly Stats ====================
				.bd.bgc-white
					.layers.shadow
						.layer.w-100.pX-20.pT-20
							h5.lh-1 Blessing
						.layer.w-100.p-20
							canvas#canvas2(height='150')
			.masonry-item.col-md-6
				// #Monthly Stats ====================
				.bd.bgc-white
					.layers.shadow
						.layer.w-100.pX-20.pT-20
							h5.lh-1 Marriage
						.layer.w-100.p-20
							canvas#canvas3(height='150')
			.masonry-item.col-md-6
				// #Monthly Stats ====================
				.bd.bgc-white
					.layers.shadow
						.layer.w-100.pX-20.pT-20
							h5.lh-1 Special Services
						.layer.w-100.p-20
							canvas#canvas4(height='150')
			.masonry-item.col-12
					// #Site Visits ====================
					.bd.bgc-white
						.peers.ai-s(class='fxw-nw@lg+')
							.peer.peer-greed.p-20.shadow(class='w-70p@lg+ w-100@lg-')
								.layers
									.layer.w-100.mB-10
										h5.lh-1 Facility Reservation
									.layer.w-100
										.row.gap-20.masonry.pos-r
											.masonry-item.col-md-4
												// #Monthly Stats ====================
												.bd.bgc-white.shadow
													.layers.shadow
														.layer.w-100.pX-20.pT-20
															h5.lh-1 Approval Status
														.layer.w-100
															canvas#oilChart30(height='250')
											.masonry-item.col-md-4
												// #Monthly Stats ====================
												.bd.bgc-white.shadow
													.layers.shadow
														.layer.w-100.pX-20.pT-20
															h5.lh-1 Payment Status
														.layer.w-100
															canvas#oilChart31(height='250')
											.masonry-item.col-md-4
												// #Monthly Stats ====================
												.bd.bgc-white.shadow
													.layers.shadow
														.layer.w-100.pX-20.pT-20
															h5.lh-1 Requirement Status
														.layer.w-100
															canvas#oilChart32(height='250')
			.masonry-item.col-12
					// #Site Visits ====================
					.bd.bgc-white
						.peers.ai-s(class='fxw-nw@lg+')
							.peer.peer-greed.p-20.shadow(class='w-70p@lg+ w-100@lg-')
								.layers
									.layer.w-100.mB-10
										h5.lh-1 Regular Baptism
									.layer.w-100
										.row.gap-20.masonry.pos-r
											.masonry-item.col-md-4
												// #Monthly Stats ====================
												.bd.bgc-white.shadow
													.layers.shadow
														.layer.w-100.pX-20.pT-20
															h5.lh-1 Approval Status
														.layer.w-100
															canvas#oilChart(height='250')
											.masonry-item.col-md-4
												// #Monthly Stats ====================
												.bd.bgc-white.shadow
													.layers.shadow
														.layer.w-100.pX-20.pT-20
															h5.lh-1 Payment Status
														.layer.w-100
															canvas#oilChart2(height='250')
											.masonry-item.col-md-4
												// #Monthly Stats ====================
												.bd.bgc-white.shadow
													.layers.shadow
														.layer.w-100.pX-20.pT-20
															h5.lh-1 Requirement Status
														.layer.w-100
															canvas#oilChart3(height='250')
			// special baptism
			.masonry-item.col-12
					// #Site Visits ====================
					.bd.bgc-white
						.peers.ai-s(class='fxw-nw@lg+')
							.peer.peer-greed.p-20.shadow(class='w-70p@lg+ w-100@lg-')
								.layers
									.layer.w-100.mB-10
										h5.lh-1 Special Baptism
									.layer.w-100
										.row.gap-20.masonry.pos-r
											.masonry-item.col-md-4
												// #Monthly Stats ====================
												.bd.bgc-white.shadow
													.layers.shadow
														.layer.w-100.pX-20.pT-20
															h5.lh-1 Approval Status
														.layer.w-100
															canvas#oilChart4(height='250')
											.masonry-item.col-md-4
												// #Monthly Stats ====================
												.bd.bgc-white.shadow
													.layers.shadow
														.layer.w-100.pX-20.pT-20
															h5.lh-1 Payment Status
														.layer.w-100
															canvas#oilChart5(height='250')
											.masonry-item.col-md-4
												// #Monthly Stats ====================
												.bd.bgc-white.shadow
													.layers.shadow
														.layer.w-100.pX-20.pT-20
															h5.lh-1 Requirement Status
														.layer.w-100
															canvas#oilChart6(height='250')
			// marriage
			.masonry-item.col-12
					// #Site Visits ====================
					.bd.bgc-white
						.peers.ai-s(class='fxw-nw@lg+')
							.peer.peer-greed.p-20.shadow(class='w-70p@lg+ w-100@lg-')
								.layers
									.layer.w-100.mB-10
										h5.lh-1 Marriage
									.layer.w-100
										.row.gap-20.masonry.pos-r
											.masonry-item.col-md-4
												// #Monthly Stats ====================
												.bd.bgc-white.shadow
													.layers.shadow
														.layer.w-100.pX-20.pT-20
															h5.lh-1 Approval Status
														.layer.w-100
															canvas#oilChart7(height='250')
											.masonry-item.col-md-4
												// #Monthly Stats ====================
												.bd.bgc-white.shadow
													.layers.shadow
														.layer.w-100.pX-20.pT-20
															h5.lh-1 Payment Status
														.layer.w-100
															canvas#oilChart8(height='250')
											.masonry-item.col-md-4
												// #Monthly Stats ====================
												.bd.bgc-white.shadow
													.layers.shadow
														.layer.w-100.pX-20.pT-20
															h5.lh-1 Requirement Status
														.layer.w-100
															canvas#oilChart9(height='250')
			// funeral mass
			.masonry-item.col-12
					// #Site Visits ====================
					.bd.bgc-white
						.peers.ai-s(class='fxw-nw@lg+')
							.peer.peer-greed.p-20.shadow(class='w-70p@lg+ w-100@lg-')
								.layers
									.layer.w-100.mB-10
										h5.lh-1 Funeral Mass
									.layer.w-100
										.row.gap-20.masonry.pos-r
											.masonry-item.col-md-4
												// #Monthly Stats ====================
												.bd.bgc-white.shadow
													.layers.shadow
														.layer.w-100.pX-20.pT-20
															h5.lh-1 Approval Status
														.layer.w-100
															canvas#oilChart10(height='250')
											.masonry-item.col-md-4
												// #Monthly Stats ====================
												.bd.bgc-white.shadow
													.layers.shadow
														.layer.w-100.pX-20.pT-20
															h5.lh-1 Payment Status
														.layer.w-100
															canvas#oilChart11(height='250')
											.masonry-item.col-md-4
												// #Monthly Stats ====================
												.bd.bgc-white.shadow
													.layers.shadow
														.layer.w-100.pX-20.pT-20
															h5.lh-1 Requirement Status
														.layer.w-100
															canvas#oilChart12(height='250')
			// funeral service
			.masonry-item.col-6
					// #Site Visits ====================
					.bd.bgc-white
						.peers.ai-s(class='fxw-nw@lg+')
							.peer.peer-greed.p-20.shadow(class='w-70p@lg+ w-100@lg-')
								.layers
									.layer.w-100.mB-10
										h5.lh-1 Funeral Service
									.layer.w-100
										.row.gap-20.masonry.pos-r
											.masonry-item.col-md-6
												// #Monthly Stats ====================
												.bd.bgc-white.shadow
													.layers.shadow
														.layer.w-100.pX-20.pT-20
															h5.lh-1 Approval Status
														.layer.w-100
															canvas#oilChart13(height='250')
											.masonry-item.col-md-6
												// #Monthly Stats ====================
												.bd.bgc-white.shadow
													.layers.shadow
														.layer.w-100.pX-20.pT-20
															h5.lh-1 Requirement Status
														.layer.w-100
															canvas#oilChart15(height='250')
			// anointing
			.masonry-item.col-6
					// #Site Visits ====================
					.bd.bgc-white
						.peers.ai-s(class='fxw-nw@lg+')
							.peer.peer-greed.p-20.shadow(class='w-70p@lg+ w-100@lg-')
								.layers
									.layer.w-100.mB-10
										h5.lh-1 Anointing of the sick
									.layer.w-100
										.row.gap-20.masonry.pos-r
											.masonry-item.col-md-6
												// #Monthly Stats ====================
												.bd.bgc-white.shadow
													.layers.shadow
														.layer.w-100.pX-20.pT-20
															h5.lh-1 Approval Status
														.layer.w-100
															canvas#oilChart17(height='250')
											.masonry-item.col-md-6
												// #Monthly Stats ====================
												.bd.bgc-white.shadow
													.layers.shadow
														.layer.w-100.pX-20.pT-20
															h5.lh-1 Requirement Status
														.layer.w-100
															canvas#oilChart18(height='250')
			// anointing
			.masonry-item.col-5
					// #Site Visits ====================
					.bd.bgc-white
						.peers.ai-s(class='fxw-nw@lg+')
							.peer.peer-greed.p-20.shadow(class='w-70p@lg+ w-100@lg-')
								.layers
									.layer.w-100.mB-10
										h5.lh-1 House Blessing
									.layer.w-100
										.row.gap-20.masonry.pos-r
											.masonry-item.col-md-6
												// #Monthly Stats ====================
												.bd.bgc-white.shadow
													.layers.shadow
														.layer.w-100.pX-20.pT-20
															h5.lh-1 Approval Status
														.layer.w-100
															canvas#oilChart19(height='250')
											.masonry-item.col-md-6
												// #Monthly Stats ====================
												.bd.bgc-white.shadow
													.layers.shadow
														.layer.w-100.pX-20.pT-20
															h5.lh-1 Requirement Status
														.layer.w-100
															canvas#oilChart20(height='250')
			// anointing
			.masonry-item.col-7
					// #Site Visits ====================
					.bd.bgc-white
						.peers.ai-s(class='fxw-nw@lg+')
							.peer.peer-greed.p-20.shadow(class='w-70p@lg+ w-100@lg-')
								.layers
									.layer.w-100.mB-10
										h5.lh-1 Document Request
									.layer.w-100
										.row.gap-20.masonry.pos-r
											.masonry-item.col-md-4
												// #Monthly Stats ====================
												.bd.bgc-white.shadow
													.layers.shadow
														.layer.w-100.pX-20.pT-20
															h5.lh-1 Approval Status
														.layer.w-100
															canvas#oilChart21(height='250')
											.masonry-item.col-md-4
												// #Monthly Stats ====================
												.bd.bgc-white.shadow
													.layers.shadow
														.layer.w-100.pX-20.pT-20
															h5.lh-1 Payment Status
														.layer.w-100
															canvas#oilChart22(height='250')
												// #Monthly Stats ====================
											.masonry-item.col-md-4
												.bd.bgc-white.shadow
													.layers.shadow
														.layer.w-100.pX-20.pT-20
															h5.lh-1 Requirement Status
														.layer.w-100
															canvas#oilChart23(height='250')
						//- .layer.w-100.p-20
						//- 	canvas#bar(height='220')
						//- .layer.bdT.p-20.w-100
						//- 	.peers.ai-c.jc-c.gapX-20
						//- 		.peer
						//- 			span.fsz-def.fw-600.mR-10.c-grey-800
						//- 				| 10% 
						//- 				i.fa.fa-level-up.c-green-500
						//- 			small.c-grey-500.fw-600 APPL
						//- 		.peer.fw-600
						//- 			span.fsz-def.fw-600.mR-10.c-grey-800
						//- 				| 2% 
						//- 				i.fa.fa-level-down.c-red-500
						//- 			small.c-grey-500.fw-600 Average
						//- 		.peer.fw-600
						//- 			span.fsz-def.fw-600.mR-10.c-grey-800
						//- 				| 15% 
						//- 				i.fa.fa-level-up.c-green-500
						//- 			small.c-grey-500.fw-600 Sales
						//- 		.peer.fw-600
						//- 			span.fsz-def.fw-600.mR-10.c-grey-800
						//- 				| 8% 
						//- 				i.fa.fa-level-down.c-red-500
						//- 			small.c-grey-500.fw-600 Profit		
block addjs
	
	script(type='text/javascript').
			//line chart data andcolor instantiate
			var baptism = {
				labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
				datasets: [{
						label: "Regular Baptism",
						fill: false,
						borderColor: "#f2af3e",
						backgroundColor: "#f2af3e",
						pointBackgroundColor: "#f2af3e",
						pointHoverBackgroundColor: "#FFF",
						pointHoverBorderColor: "#f2af3e",
						data: ["127.473", "128.983", "129.327", "123.416", "118.829", "116.843", "117.190", "115.215", "125.636", "127.271", "125.667", "129.554"]
				}, {
						label: "Special Baptism",
						fill: false,
						borderColor: "#ec533e",
						backgroundColor: "#ec533e",
						pointBackgroundColor: "#ec533e",
						pointHoverBackgroundColor: "#FFF",
						pointHoverBorderColor: "#ec533e",
						data: ["127.283", "128.147", "124.489", "116.783", "111.696", "110.563", "105.469", "104.332", "125.636", "127.271", "125.667", "129.554"]
				}]

			}
			var blessing = {
				labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
				datasets: [{
						label: "Funeral Mass",
						fill: false,
						borderColor: "#108587",
						backgroundColor: "#108587",
						pointBackgroundColor: "#108587",
						pointHoverBackgroundColor: "#FFF",
						pointHoverBorderColor: "#108587",
						data: ["128.940", "131.397", "132.235", "128.235", "125.636", "127.271", "125.667", "129.554", "125.636", "127.271", "125.667", "129.554"]
				},  {
						label: "Funeral Service",
						fill: false,
						borderColor: "#f2af3e",
						backgroundColor: "#f2af3e",
						pointBackgroundColor: "#f2af3e",
						pointHoverBackgroundColor: "#FFF",
						pointHoverBorderColor: "#f2af3e",
						data: ["127.473", "128.983", "129.327", "123.416", "118.829", "116.843", "117.190", "115.215", "125.636", "127.271", "125.667", "129.554"]
				}, {
						label: "Anointing of the sick",
						fill: false,
						borderColor: "#ec533e",
						backgroundColor: "#ec533e",
						pointBackgroundColor: "#ec533e",
						pointHoverBackgroundColor: "#FFF",
						pointHoverBorderColor: "#ec533e",
						data: ["127.283", "128.147", "124.489", "116.783", "111.696", "110.563", "105.469", "104.332", "125.636", "127.271", "125.667", "129.554"]
				}]

			}

			var marriage = {
				labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
				datasets: [{
						label: "Marriage",
						fill: false,
						borderColor: "#52b99f",
						backgroundColor: "#52b99f",
						pointBackgroundColor: "#52b99f",
						pointHoverBackgroundColor: "#FFF",
						pointHoverBorderColor: "#52b99f",
						data: ["128.948", "130.369", "131.038", "125.867", "121.893", "119.656", "119.026", "119.737", "125.636", "127.271", "125.667", "129.554"]
				}]

			}

			var specialServices = {
				labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
				datasets: [{
						label: "House Blessing",
						fill: false,
						borderColor: "#52b99f",
						backgroundColor: "#52b99f",
						pointBackgroundColor: "#52b99f",
						pointHoverBackgroundColor: "#FFF",
						pointHoverBorderColor: "#52b99f",
						data: ["128.948", "130.369", "131.038", "125.867", "121.893", "119.656", "119.026", "119.737", "125.636", "127.271", "125.667", "129.554"]
				}, {
						label: "Facility Reservation",
						fill: false,
						borderColor: "#f2af3e",
						backgroundColor: "#f2af3e",
						pointBackgroundColor: "#f2af3e",
						pointHoverBackgroundColor: "#FFF",
						pointHoverBorderColor: "#f2af3e",
						data: ["127.473", "128.983", "129.327", "123.416", "118.829", "116.843", "117.190", "115.215", "125.636", "127.271", "125.667", "129.554"]
				}, {
						label: "Document Request",
						fill: false,
						borderColor: "#ec533e",
						backgroundColor: "#ec533e",
						pointBackgroundColor: "#ec533e",
						pointHoverBackgroundColor: "#FFF",
						pointHoverBorderColor: "#ec533e",
						data: ["127.283", "128.147", "124.489", "116.783", "111.696", "110.563", "105.469", "104.332", "125.636", "127.271", "125.667", "129.554"]
				}]

			}

			window.onload = function() {
					// first
					var canvas = document.getElementById("canvas");
					var ctx = canvas.getContext("2d");	
					var myNewChart = new Chart(ctx , {
							type: "line",
							data: baptism,
							responsive: true,
					});
					//second
					var canvas = document.getElementById("canvas2");
					var ctx2 = canvas.getContext("2d");	
					var myNewChart = new Chart(ctx2 , {
							type: "line",
							data: blessing,
							responsive: true,
					});
					//third
					var canvas = document.getElementById("canvas3");
					var ctx3 = canvas.getContext("2d");	
					var myNewChart = new Chart(ctx3 , {
							type: "line",
							data: marriage,
							responsive: true,
					});
					//fourth
					var canvas = document.getElementById("canvas4");
					var ctx4 = canvas.getContext("2d");	
					var myNewChart = new Chart(ctx4 , {
							type: "line",
							data: specialServices,
							responsive: true,
					});
			}
			// end of line charts

			// Facility
			var oilCanvas30 = document.getElementById("oilChart30");
			var oilCanvas31 = document.getElementById("oilChart31");
			var oilCanvas32 = document.getElementById("oilChart32");
			var approval9 = {
					labels: [
							"Pending",
							"Approved",
							"Disapproved",
					],
					datasets: [
							{
									data: [36.2, 43.3, 20.2],
									backgroundColor: [
											"#f2af3e",
											"#52b99f",
											"#ec533e",
									]
							}]
			};
			var payment9 = {
					labels: [
							"Paid",
							"Unpaid",
					],
					datasets: [
							{
									data: [55, 45.2],
									backgroundColor: [
											"#6384FF",
											"#ec533e",
									]
							}]
			};
			var requirement9 = {
					labels: [
							"Submitted",
							"Accepted",
							"Rejected",
					],
					datasets: [
							{
									data: [55.3, 70.2, 18.2],
									backgroundColor: [
											"#f2af3e",
											"#52b99f",
											"#ec533e",
									]
							}]
			};

			var pieChart = new Chart(oilCanvas30, {
				type: 'pie',
				data: approval9
			});
			var pieChart = new Chart(oilCanvas31, {
				type: 'pie',
				data: payment9
			});
			var pieChart = new Chart(oilCanvas32, {
				type: 'pie',
				data: requirement9
			});
			// pie chart
			var oilCanvas = document.getElementById("oilChart");
			var oilCanvas2 = document.getElementById("oilChart2");
			var oilCanvas3 = document.getElementById("oilChart3");
			var approval = {
					labels: [
							"Pending",
							"Approved",
							"Disapproved",
					],
					datasets: [
							{
									data: [46.2, 33.3, 25.2],
									backgroundColor: [
											"#f2af3e",
											"#52b99f",
											"#ec533e",
									]
							}]
			};
			var payment = {
					labels: [
							"Paid",
							"Unpaid",
					],
					datasets: [
							{
									data: [45, 36.2],
									backgroundColor: [
											"#6384FF",
											"#ec533e",
									]
							}]
			};
			var requirement = {
					labels: [
							"Submitted",
							"Accepted",
							"Rejected",
					],
					datasets: [
							{
									data: [55.3, 20.2, 10.2],
									backgroundColor: [
											"#f2af3e",
											"#52b99f",
											"#ec533e",
									]
							}]
			};

			var pieChart = new Chart(oilCanvas, {
				type: 'pie',
				data: approval
			});
			var pieChart = new Chart(oilCanvas2, {
				type: 'pie',
				data: payment
			});
			var pieChart = new Chart(oilCanvas3, {
				type: 'pie',
				data: requirement
			});
			// special baptism
			var oilCanvas4 = document.getElementById("oilChart4");
			var oilCanvas5 = document.getElementById("oilChart5");
			var oilCanvas6 = document.getElementById("oilChart6");
			var approval2 = {
					labels: [
							"Pending",
							"Approved",
							"Disapproved",
					],
					datasets: [
							{
									data: [29.2, 43.3, 10.2],
									backgroundColor: [
											"#f2af3e",
											"#52b99f",
											"#ec533e",
									]
							}]
			};
			var payment2 = {
					labels: [
							"Paid",
							"Unpaid",
					],
					datasets: [
							{
									data: [55, 26.2],
									backgroundColor: [
											"#6384FF",
											"#ec533e",
									]
							}]
			};
			var requirement2 = {
					labels: [
							"Submitted",
							"Accepted",
							"Rejected",
					],
					datasets: [
							{
									data: [45.3, 50.2, 10.2],
									backgroundColor: [
											"#f2af3e",
											"#52b99f",
											"#ec533e",
									]
							}]
			};

			var pieChart = new Chart(oilCanvas4, {
				type: 'pie',
				data: approval2
			});
			var pieChart = new Chart(oilCanvas5, {
				type: 'pie',
				data: payment2
			});
			var pieChart = new Chart(oilCanvas6, {
				type: 'pie',
				data: requirement2
			});
			// marriage
			var oilCanvas7 = document.getElementById("oilChart7");
			var oilCanvas8 = document.getElementById("oilChart8");
			var oilCanvas9 = document.getElementById("oilChart9");
			var approval3 = {
					labels: [
							"Pending",
							"Approved",
							"Disapproved",
					],
					datasets: [
							{
									data: [50.2, 63.3, 20.2],
									backgroundColor: [
											"#f2af3e",
											"#52b99f",
											"#ec533e",
									]
							}]
			};
			var payment3 = {
					labels: [
							"Paid",
							"Unpaid",
					],
					datasets: [
							{
									data: [15, 76.2],
									backgroundColor: [
											"#6384FF",
											"#ec533e",
									]
							}]
			};
			var requirement3 = {
					labels: [
							"Submitted",
							"Accepted",
							"Rejected",
					],
					datasets: [
							{
									data: [35.3, 60.2, 10.2],
									backgroundColor: [
											"#f2af3e",
											"#52b99f",
											"#ec533e",
									]
							}]
			};

			var pieChart = new Chart(oilCanvas7, {
				type: 'pie',
				data: approval3
			});
			var pieChart = new Chart(oilCanvas8, {
				type: 'pie',
				data: payment3
			});
			var pieChart = new Chart(oilCanvas9, {
				type: 'pie',
				data: requirement3
			});
			// funeral mass
			var oilCanvas10 = document.getElementById("oilChart10");
			var oilCanvas11 = document.getElementById("oilChart11");
			var oilCanvas12 = document.getElementById("oilChart12");
			var approval4 = {
					labels: [
							"Pending",
							"Approved",
							"Disapproved",
					],
					datasets: [
							{
									data: [30.2, 63.3, 10.2],
									backgroundColor: [
											"#f2af3e",
											"#52b99f",
											"#ec533e",
									]
							}]
			};
			var payment4 = {
					labels: [
							"Paid",
							"Unpaid",
					],
					datasets: [
							{
									data: [45, 26.2],
									backgroundColor: [
											"#6384FF",
											"#ec533e",
									]
							}]
			};
			var requirement4 = {
					labels: [
							"Submitted",
							"Accepted",
							"Rejected",
					],
					datasets: [
							{
									data: [55.3, 30.2, 15.2],
									backgroundColor: [
											"#f2af3e",
											"#52b99f",
											"#ec533e",
									]
							}]
			};

			var pieChart = new Chart(oilCanvas10, {
				type: 'pie',
				data: approval4
			});
			var pieChart = new Chart(oilCanvas11, {
				type: 'pie',
				data: payment4
			});
			var pieChart = new Chart(oilCanvas12, {
				type: 'pie',
				data: requirement4
			});
			// funeral mass
			var oilCanvas13 = document.getElementById("oilChart13");
			var oilCanvas15 = document.getElementById("oilChart15");
			var approval5 = {
					labels: [
							"Pending",
							"Approved",
							"Disapproved",
					],
					datasets: [
							{
									data: [30.2, 63.3, 10.2],
									backgroundColor: [
											"#f2af3e",
											"#52b99f",
											"#ec533e",
									]
							}]
			};
			var requirement5 = {
					labels: [
							"Submitted",
							"Accepted",
							"Rejected",
					],
					datasets: [
							{
									data: [55.3, 30.2, 15.2],
									backgroundColor: [
											"#f2af3e",
											"#52b99f",
											"#ec533e",
									]
							}]
			};

			var pieChart = new Chart(oilCanvas13, {
				type: 'pie',
				data: approval5
			});
			var pieChart = new Chart(oilCanvas15, {
				type: 'pie',
				data: requirement5
			});
			// funeral mass
			var oilCanvas17 = document.getElementById("oilChart17");
			var oilCanvas18 = document.getElementById("oilChart18");
			var approval6 = {
					labels: [
							"Pending",
							"Approved",
							"Disapproved",
					],
					datasets: [
							{
									data: [10.2, 43.3, 5.2],
									backgroundColor: [
											"#f2af3e",
											"#52b99f",
											"#ec533e",
									]
							}]
			};
			var requirement6 = {
					labels: [
							"Submitted",
							"Accepted",
							"Rejected",
					],
					datasets: [
							{
									data: [45.3, 25.2, 10.2],
									backgroundColor: [
											"#f2af3e",
											"#52b99f",
											"#ec533e",
									]
							}]
			};

			var pieChart = new Chart(oilCanvas17, {
				type: 'pie',
				data: approval6
			});
			var pieChart = new Chart(oilCanvas18, {
				type: 'pie',
				data: requirement6
			});
			// funeral service
			var oilCanvas19 = document.getElementById("oilChart19");
			var oilCanvas20 = document.getElementById("oilChart20");
			var approval7 = {
					labels: [
							"Pending",
							"Approved",
							"Disapproved",
					],
					datasets: [
							{
									data: [10.2, 43.3, 5.2],
									backgroundColor: [
											"#f2af3e",
											"#52b99f",
											"#ec533e",
									]
							}]
			};
			var requirement7 = {
					labels: [
							"Submitted",
							"Accepted",
							"Rejected",
					],
					datasets: [
							{
									data: [45.3, 25.2, 10.2],
									backgroundColor: [
											"#f2af3e",
											"#52b99f",
											"#ec533e",
									]
							}]
			};

			var pieChart = new Chart(oilCanvas19, {
				type: 'pie',
				data: approval7
			});
			var pieChart = new Chart(oilCanvas20, {
				type: 'pie',
				data: requirement7
			});
			// funeral mass
			var oilCanvas21 = document.getElementById("oilChart21");
			var oilCanvas22 = document.getElementById("oilChart22");
			var oilCanvas23 = document.getElementById("oilChart23");
			var approval8 = {
					labels: [
							"Pending",
							"Approved",
							"Disapproved",
					],
					datasets: [
							{
									data: [30.2, 63.3, 10.2],
									backgroundColor: [
											"#f2af3e",
											"#52b99f",
											"#ec533e",
									]
							}]
			};
			var payment8 = {
					labels: [
							"Paid",
							"Unpaid",
					],
					datasets: [
							{
									data: [45, 26.2],
									backgroundColor: [
											"#6384FF",
											"#ec533e",
									]
							}]
			};
			var requirement8 = {
					labels: [
							"Submitted",
							"Accepted",
							"Rejected",
					],
					datasets: [
							{
									data: [55.3, 30.2, 15.2],
									backgroundColor: [
											"#f2af3e",
											"#52b99f",
											"#ec533e",
									]
							}]
			};

			var pieChart = new Chart(oilCanvas21, {
				type: 'pie',
				data: approval8
			});
			var pieChart = new Chart(oilCanvas22, {
				type: 'pie',
				data: payment8
			});
			var pieChart = new Chart(oilCanvas23, {
				type: 'pie',
				data: requirement8
			});
			$(document).ready(function(){
				$.ajax({
					url: "/admin/reports/queries",
					method: "GET",
					success: function(data) {
						console.log(data);
						var player = [];
						var score = [];

						for(var i in data) {
							score.push(data[i]);
						}
						console.log(score)

						var chartdata = {
							labels: player,
							datasets : [
								{
									label: 'Player Score',
									backgroundColor: 'rgba(200, 200, 200, 0.75)',
									borderColor: 'rgba(200, 200, 200, 0.75)',
									hoverBackgroundColor: 'rgba(200, 200, 200, 1)',
									hoverBorderColor: 'rgba(200, 200, 200, 1)',
									data: data
								}
							]
						};

						var ctx = $("#bar");

						var barGraph = new Chart(ctx, {
							type: 'bar',
							data: chartdata
						});
					},
					error: function(data) {
						console.log(data);
					}
				});
			})
				