extends ../../../templates/home
block nav
	#headers
		header#header-style-1
			nav.navbar.navbar-expand-lg.fixed-top.scrolling-navbar.indigo
				.container
					.navbar-header
						.slicknav_menu
							liner.slicknav_btn.slicknav_collapsed(aria-haspopup='true', tabindex='0', style='outline: none;')
								span.slicknav_menutxt
								span.slicknav_icon.slicknav_no-text
									span.slicknav_icon-bar
									span.slicknav_icon-bar
									span.slicknav_icon-bar
							ul.slicknav_nav.slicknav_hidden(aria-hidden='true', role='menu', style='display: none;')
								li
									a.page-scroll(href='#sliders', role='menuitem', tabindex='-1')
										| Home
								li
									a.page-scroll(href='#about', role='menuitem', tabindex='-1')
										| Item 1
								li
									a.page-scroll(href='#services', role='menuitem', tabindex='-1')
										| Item 2
								li.dropdown
									a.page-scroll.dropdown-toggle(href='#', data-toggle='dropdown', role='menuitem', tabindex='-1' aria-haspopup='true', aria-expanded='false') Dropdown Item
									.dropdown-menu
										a.dropdown-item(href='#') Action
										a.dropdown-item(href='#') Another action
										a.dropdown-item(href='#') Something else here
								li
									a.page-scroll(href='/login', role='menuitem', tabindex='-1')
										| Login
								li
									a.page-scroll(href='/signup', role='menuitem', tabindex='-1')
										| Sign-up
						button.navbar-toggler(type='button', data-toggle='collapse', data-target='#main-navbar', aria-controls='main-navbar', aria-expanded='false', aria-label='Toggle navigation')
							span.navbar-toggler-icon
							span.icon-menu
							span.icon-menu
							span.icon-menu
						a.navbar-brand(href='')
							img(src='/Helium/img/logo.png', alt='')
					#main-navbar.collapse.navbar-collapse
						ul.navbar-nav.mr-auto.w-100.justify-content-end.clearfix
							li.nav-item.active
								a.nav-link(href='#sliders')
									| Home
							li.nav-item
								a.nav-link(href='#about')
									| Item 1
							li.nav-item
								a.nav-link(href='#services')
									| Item 2
							li.nav-item.dropdown
								a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown Item
								.dropdown-menu
									a.dropdown-item(href='#') Action
									a.dropdown-item(href='#') Another action
									a.dropdown-item(href='#') Something else here
							li.nav-item
								a.nav-link(href='/login')
									| Login
							li.nav-item
								a.nav-link(href='/signup')
									| Sign-up
				ul.mobile-menu.navbar-nav
					li.active
						a.page-scroll(href='#sliders')
							| Home
					li
						a.page-scroll(href='#about')
							| About
					li.dropdown
						a.page-scroll.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown Item
						.dropdown-menu
							a.dropdown-item(href='#') Action
							a.dropdown-item(href='#') Another action
							a.dropdown-item(href='#') Something else here
					li
						a.page-scroll(href='/login')
							| Login
					li
						a.page-scroll(href='/signup')
							| Signup
			.header-caption
				.row
					.col-md-12.header-content
						h3.header-title.animated.fadeInDown
							span.text-primary Helium 
							|  - Bootstrap 4 UI Kit
						h5.header-text.animated.fadeIn
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit
							br
							| Lorem ipsum dolor sit amet, consectetuer.
						a.page-scroll.btn.btn-lg.btn-default-filled.animated.fadeInUp(href='#') Download Now
						a.page-scroll.btn.btn-lg.btn-common.animated.fadeInUp(href='#') Explore
block prepend main 
	.container

	.row
		.col-md-12
			hr.mt-5.mx-5
	.row
		.col-md-12.my-3
			h3.text-center.text-uppercase Request Form
	.row
		.col-md-8.my-auto.mx-auto
			form(action="/guest/document/form" enctype="multipart/form-data" method='post')
				.row
					.col-md-6
						.form-group
							label.label-control Document
							select.selectpicker.form-control(type="text" name='documenttype')
								option Baptismal Certificate
								option Confirmation Certificate
								option First Communion Certificate
					.col-md-6
						.form-group
							label.label-control(for='exampleFormControlFile1') Choose File:
							input#exampleFormControlFile1.form-control-file.form-control(type='file')
				.row
					.col-md-12.my-3
						h5.text-center.text-uppercase Person in the certificate
				.row
					.col-md-6
						label.label-control First Name:
						input#firstName.form-control(type='text' name='firstname' placeholder='Ex. John Mark')
					.col-md-6
						label.label-control Last Name:
						input#lastName.form-control(type='text' name='lastname' placeholder='Ex. Doe')
				.row
					.col-md-12
						.form-group
							label(for='exampleFormControlTextarea1') Purpose:
							textarea#exampleFormControlTextarea1.form-control(rows='3' name= 'purpose')
				.row
					.col-md-12.text-center
						.learn-more
							button.btn.std-btn.btn-common.btn-info(type='button' onclick="myFunction()") Submit
													// Modal
				#inquireModal.modal.fade2(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
					.modal-dialog.modal-lg(role='document')
						.modal-content
							.modal-header#headerAppend
								//- h5#exampleModalLabel.modal-title
								button.close(type='button', data-dismiss='modal', aria-label='Close')
									span.p-3(aria-hidden='true') ×
							.modal-body#bodyAppend
							.modal-footer
								button.btn.std-btn.btn-common.m-0#cancelButton(type='button', data-dismiss='modal') Close
								button.btn.std-btn.btn-common.btn-info.mb-0#proceedButton(type='button') Save Changes
							
	block addjs
		script.
			const loader = document.getElementById('loader');
			setTimeout(() => {
				loader.classList.remove('fadeOut');
				loader.classList.add('fadeIn');
			}, 2000);