* {
  font-family: "Roboto", sans-serif;
 }

 @font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.row.d-flex.justify-content-center.text-center .fa {
  font-size: 55px; }

.row.d-flex.justify-content-center.text-center i.fa.fa-envelope-o{
  color: #836323; }

.row.d-flex.justify-content-center.text-center i.fa.fa-paper-plane {
  color: #836323; }

.row.d-flex.justify-content-center.text-center i.fa.fa-home {
  color: #836323; }

#home-heading {
  background-attachment: fixed;
  background-repeat: no-repeat; }
  #home-heading i.fa.fa-check {
    color: #38f138; }

.color-black {
  color:black;
}

/* #raised-section img {
  margin-top: -50px; } */

#icon-boxes .fa {
  font-size: 55px; }

i.fa.fa-facebook-square, i.fa.fa-twitter, i.fa.fa-google-plus {
  color: white; }

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.shadow2 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
  
.shadow3 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.main-header__textbox {
  margin: 0 auto;
  margin-top: -80px;
  text-align: center;
}

.main-header__top {
  margin: 0 auto;
  margin-top: -45px;
  text-align: right;
}

#heading-page > div > div > div > button:nth-child(1):hover {
  background-color: #35e25e;
  color: black;
}

#heading-page > div > div > div > button:nth-child(2):hover {
  background-color: #007bff;
  color: black;
  transition: .3s
}

.main-header__textbox h1 {
  font-family: 'EB Garamond', serif;
  letter-spacing: 12px;
  color: #d6b872;
  font-size: 36px;
}

.sub-header__textbox {
  font-family: 'EB Garamond', serif;
  letter-spacing: 6px;
  color: #d6b872;
  font-size: 20px;
}

.main-header__textbox h4 a {
  font-family: 'PT Sans', serif;
  letter-spacing: 3px;
  font-size: 14px;
  color: #fff
}

.main-header__textbox h4 a:hover{
  transition: all, .3s;
  color: rgb(202, 166, 127)
}

.bg-lightblue {
  background-color: rgb(174, 188, 188);
}

.bg-lightgrey {
  background-color: rgb(153, 164, 148);
}

.bg-lightbrown {
  background-color: rgb(203, 179, 153);
}

.color-brown {
  background-color: #836323;
}

.main--header {
  font-family: 'EB Garamond', serif;
  letter-spacing: 12px;
  color: #836323;
}

.main--header_event {
  font-family: 'EB Garamond', serif;
  letter-spacing: 12px;
  font-size: 2.1rem;
  color: #836323;
}

.main--header_event1 {
  font-family: 'EB Garamond', serif;
  letter-spacing: 8px;
  font-size: 1.5rem;
  color: #836323;
}

.main--desc__size {
  font-size: 16px;
}

.main--desc__size:hover {
  transition: all, 1s;
  color: #212529;
}

#heading-page > div > div > div > a > p {
  color: white;
}

#heading-page > div > div > div > a > p:hover {
  color: rgb(202, 166, 127);
  transition: .3s all
}

.card h3 {
  font-family: 'PT Sans', serif;
  letter-spacing: 6px;
  font-size: 24px;
  font-weight: 300;
  
}

/* .card p {
  font-family: 'PT Sans', serif;
  letter-spacing: 4px;
  font-size: 14px;
} */

/* .card p:last-child {
  outline: 1px solid #fff;
  display: inline;
  outline-offset: 5px;
}

p.text-uppercase.card-desc {
  font-family: 'PT Sans', serif;
  letter-spacing: 4px;

} */

hr {
  border: 0;
  height: 2px;
  background: #333;
  background-image: linear-gradient(to right, rgb(203, 179, 153), #d6b872, rgb(203, 179, 153));
}

.guidelines--text {
  font-family: 'PT Sans', serif;
  letter-spacing: 6px;
  font-size: 26px;
  color: #9aa494;
}

.guidelines--header {
  font-family: 'PT Sans', serif;
  letter-spacing: 3px;
  font-size: 20px;
  color: #9aa494;
}

.guidelines--desc {
  font-family: 'PT Sans', serif;
  font-size: 16px;
}

strong {
  color: #836323;
  font-weight: 700;
}

.btn-design:link, .btn-design:visited {
  font-family: 'PT Sans', serif;
  letter-spacing: 6px;
  font-size: 16px;
  border: 1px solid black;
  padding: 12px;
  text-transform: uppercase;
  color: #000;
  transition: all .4s;
}

.btn-design:hover {
  letter-spacing: 6px;
  font-size: 16px;
  background: #836323;
  color: white;
  border: 1px solid #836323;
  padding: 7px;
}

.btn-design2:link, .btn-design2:visited {
  font-family: 'PT Sans', serif;
  letter-spacing: 6px;
  font-size: 16px;
  border: 1px solid whitesmoke;
  padding: 12px;
  text-transform: uppercase;
  color: whitesmoke;
  transition: all .4s;
}

.btn-design2:hover {
  letter-spacing: 6px;
  font-size: 16px;
  background: #836323;
  color: #000;
  border: 1px solid #836323;
  padding: 7px;
}

.text-design {
  font-family: 'PT Sans', serif;
  letter-spacing: 6px;
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
}

.form-control {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  color: #565656;
  padding: 8px 12px;
  height: auto !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#icon-boxes > div > div > div > a > div {
  border-radius: 0%;
}

/* #card--guides {
  height: 25rem;
  width: 25rem;
} */

#card--guides > div > a > div {
  height: 25rem;
  width: 23.5rem;
  border-radius: 0%;
}

#card--guides > div > a > div:hover {
  transition: all .3s;
  transform: translateY(-5%);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #d6b872;
  border: none; 
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #d6b872;
}

.modal-backdrop {
  z-index: -1 !important;
}

.main-header__modal {
  font-family: 'EB Garamond', serif;
  letter-spacing: 10px;
  padding-left: 2.8rem;
}

#loginModal > div {
  max-width: 400px !important;
}

#signupModal > div {
  transform: translate(0, -30px) !important;
  max-width: 900px !important;
}

.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}

.balance {
  margin-top: 2.5rem;
}

.btnDelete {
  cursor: pointer;
  color: grey;
  opacity: 0.8;
  transition: 0.2s linear;
}

.btnDelete:hover {
  opacity: 1;
  color: red;
}
