extends ../../../templates/catechist
block main
	.row
		.col-md-12.mx-auto
			.card
					.card-header.card-header-primary
						.row
							.col-md-6
								h4.card-title STUDENTS
					.card-body.table-responsive
							table.dataTable.table.table-hover.dt-responsive
									thead.text-primary
										th #
										th Name
										th Section
										th Batch
										th Schedule
										th.text-center(style=" width:12rem") Actions
									tbody
										tr
											td 1
											td Andrew Mike
											td Develop
											td 2013
											td € 99,225
											td.td-actions.text-center
												button.btn.btn-info(type='button')
													i.ti-user
												| &nbsp;
												button.btn.btn-warning(type='button')
													i.ti-pencil
												| &nbsp;
												button.btn.btn-danger(type='button')
													i.ti-close
										tr
											td 1
											td Andrew Mike
											td Develop
											td 2013
											td € 99,225
											td.td-actions.text-center
												button.btn.btn-info(type='button')
													i.ti-user
												| &nbsp;
												button.btn.btn-warning(type='button')
													i.ti-pencil
												| &nbsp;
												button.btn.btn-danger(type='button')
													i.ti-close

			//- .table-responsive
			//- 	table.table.text-center
			//- 		thead
			//- 			tr
			//- 				th #
			//- 				th Name
			//- 				th Section
			//- 				th Batch
			//- 				th Schedule
			//- 				th Actions
			//- 		tbody
			//- 			tr.text-center
							//- td 1
							//- td Andrew Mike
							//- td Develop
							//- td 2013
							//- td € 99,225
			//- 				td.td-actions.pt-0
			//- 					button.btn.btn-info.btn-fab.btn-fab-mini
			//- 						i.material-icons person
			//- 					button.btn.btn-success.btn-fab.btn-fab-mini
			//- 						i.material-icons edit
			//- 					button.btn.btn-danger.btn-fab.btn-fab-mini
			//- 						i.material-icons close
			//- 			tr
			//- 				td.text-center 2
			//- 				td John Doe
			//- 				td Design
			//- 				td 2012
			//- 				td € 89,241
							//- td.td-actions.pt-0
							//- 	button.btn.btn-info.btn-fab.btn-fab-mini
							//- 		i.material-icons person
							//- 	button.btn.btn-success.btn-fab.btn-fab-mini
							//- 		i.material-icons edit
							//- 	button.btn.btn-danger.btn-fab.btn-fab-mini
							//- 		i.material-icons close
			//- 			tr
			//- 				td.text-center 3
			//- 				td Alex Mike
			//- 				td Design
			//- 				td 2010
			//- 				td € 92,144
			//- 				td.td-actions.pt-0
			//- 					button.btn.btn-info.btn-fab.btn-fab-mini
			//- 						i.material-icons person
			//- 					button.btn.btn-success.btn-fab.btn-fab-mini
			//- 						i.material-icons edit
			//- 					button.btn.btn-danger.btn-fab.btn-fab-mini
			//- 						i.material-icons close
			//- 			tr
			//- 				td.text-center 4
			//- 				td Alex Mike
			//- 				td Design
			//- 				td 2010
			//- 				td € 92,144
			//- 				td.td-actions.pt-0
			//- 					button.btn.btn-info.btn-fab.btn-fab-mini
			//- 						i.material-icons person
			//- 					button.btn.btn-success.btn-fab.btn-fab-mini
			//- 						i.material-icons edit
			//- 					button.btn.btn-danger.btn-fab.btn-fab-mini
			//- 						i.material-icons close
			//- 			tr
			//- 				td.text-center 5
			//- 				td Alex Mike
			//- 				td Design
			//- 				td 2010
			//- 				td € 92,144
			//- 				td.td-actions.pt-0
			//- 					button.btn.btn-info.btn-fab.btn-fab-mini
			//- 						i.material-icons person
			//- 					button.btn.btn-success.btn-fab.btn-fab-mini
			//- 						i.material-icons edit
			//- 					button.btn.btn-danger.btn-fab.btn-fab-mini
			//- 						i.material-icons close
	.row
		.col-md-12
			#calendar