extends ../../../templates/coorcatechist
block prepend main
//-   button.btn.example(type="button") HI
//- block addjs
//-   script.
//-     $('.example').click(function(){
//-       swal({
//-         title:'Success', 
//-         text:'Requirement information updated', 
//-         icon:'success'
//-       }).then(function(){
//-         location.reload();
//-       })
//-     });
