extends ../../../../templates/masterguests
block main
	.profile-page
		//- Heading Page
		#heading-page.page-header.header-filter(data-parallax="true" style="background-image: url('/img/wedding organizing/package2/flowers.jpg');")
			.container
				.row
					.col-md-11.main-header__textbox
						h1.font-italic Wedding Organizing
						p.text-uppercase.card-desc
							| Mr. and Mrs. Reyes
		#raised-section.main.main-raised
			#guide
				.container
					.row
						.col-md-12
							
					 
					.row
						.col-md-12
							hr.mt-5.mx-5
							h1.main--header.font-italic.text-center Cadbury  Package
					.row
						.col-md-12.text-center
							span
								<h6>Prepare yourself, while we prepare where you're gonna start your happily ever after!</h6>
								<h4 class="card-title">PACKAGE PRICE: ₱4000</H4>
					.row
						table.table
							thead
								tr.text-center
									th Item
									th Details
									th Quantity
							tbody
								td
									<img src='/img/wedding organizing/package2/bridalbouquet4.jpg' class="hvrbox-layer_bottom" alt="..." style= 'width:9rem; height:150;margin-top: 2px;margin-left: 5px'>
								td
									<h4 class="card-title"> Bridal Bouquet</h4>
									<h6>Prepare yourself, while we prepare where you're gonna start your happily ever after!</h6>		
									<h6 style="color: green">₱</h6>		