extends ../../../templates/coordinator
block main
	#guide
		.container
			.row
				.col-md-8.my-3.mx-5
					h3.text-uppercase.guidelines--text Students
			.row
				.table-responsive
					table.table.text-center
						thead
							tr
								th #
								th Name
								th Section
								th Batch
								th Schedule
								th Actions
						tbody
							tr.text-center
								td 1
								td Andrew Mike
								td Develop
								td 2013
								td € 99,225
								td.td-actions
									button.btn.btn-info.btn-fab.btn-fab-mini
										i.fa.fa-user
									| &nbsp;
									button.btn.btn-success.btn-fab.btn-fab-mini
										i.fa.fa-edit
									| &nbsp;
									button.btn.btn-danger.btn-fab.btn-fab-mini
										i.fa.fa-close
							tr
								td.text-center 2
								td John Doe
								td Design
								td 2012
								td € 89,241
								td.td-actions
									button.btn.btn-info.btn-fab.btn-fab-mini
										i.fa.fa-user
									| &nbsp;
									button.btn.btn-success.btn-fab.btn-fab-mini
										i.fa.fa-edit
									| &nbsp;
									button.btn.btn-danger.btn-fab.btn-fab-mini
										i.fa.fa-close
			.section
				#contacts
					.row
						.col-md-8.ml-auto.mr-auto
							h1.main--header.font-italic.text-center Event Proposal
							h4.text-center.description
								| Encourage, inspire, and be the change! 
							form.contact-form
								.form-group
									label.label-control Event Name
									label.bmd-label-floating 
									input.form-control(type="text")
									
								.form-group
									label.label-control Event Description
									label.bmd-label-floating(for="message") 
									textarea#message.form-control(type="text", rows="3")
								.row
									.col-md-6
										.form-group
											label.label-control Desired Date
											input.datepicker.form-control(type='date' name='desireddate1')
									.col-md-6
										.form-group
											label.label-control Event Venue
											input.form-control(type='text' name='')
								.row
									.col-md-12.my-3.text-center
										.form-group
											label.label-control 
												select.selectpicker.form-control(type="text" name='relation')
													option OPEN FOR ALL
													option Exclusive only
													
								.row
									.col-md-4.ml-auto.mr-auto.text-center.mt-3
										a.btn-design(href="#") Propose
	br
	.container
		.row
			.col-md-12
				#calendar