extends ../../../templates/masterguests
block main
	.profile-page
		//- Heading Page
		#heading-page.page-header.header-filter(data-parallax="true" style="background-image: url('/img/Nave.jpeg');")
			.container
				.row
					.col-md-9.main-header__textbox
						h1.font-italic Schedule
						p.text-uppercase.card-desc
							| Day | Time
		#raised-section.main.main-raised
			#guide
				.container
					.row
						.col-md-12
							//- hr.mt-5.mx-5
							//- h1.main--header.font-italic.text-center Mass Schedule
					 
					.row
						.col-md-6.my-3
							.card.mt-5.shadow2
								img.card-img-top(src='/img/events/marriage-slide.jpg', alt='Card image cap' style="height: 18rem;")
						.col-md-6.my-3
							hr.mb-1
							h3.main--header_event.font-italic.text-center.mb-2.mt-1 Marriage Seminar
							.text-left.pl-3 Sam deals with topics such as Biblical Basis of Marriage, Divorce and Remarriage, Being Christ-like in the seminar that can be used on your upcoming new chapter...
							.mt-2.pl-3
								strong Date:
								|  July 28, 2018 (8:00AM - 5:00PM)
								br
								strong Venue:
								|  Lupang Pangako, Payatas Quezon City
								br
								strong Agenda:
								|  Lorem ipsum dolor sit amet consectetur adipisicing elit. amet consectetur adipisicing elit. amet consectetur adipisicing elit.
							.row
								.col-md-12.text-center
									a.btn.btn-info.btn-sm.mb-2(href="/guest/parishevents/details") Read More
										i.material-icons.p-0.m-0(style="margin-top: -2.4px !important;") chevron_right

					.row
						.col-md-6.my-3
							.card.mt-5.shadow
								img.card-img-top(src='/img/img_not_available.jpg', alt='Card image cap' style="height: 18rem;")
						.col-md-6.my-3
							hr.mb-1
							h3.main--header_event.font-italic.text-center.mb-2.mt-1 Marriage Seminar
							.text-left.pl-3 Sam deals with topics such as Biblical Basis of Marriage, Divorce and Remarriage, Being Christ-like in the seminar that can be used on your upcoming new chapter...
							.mt-2.pl-3
								strong Date:
								|  July 28, 2018 (8:00AM - 5:00PM)
								br
								strong Venue:
								|  Lupang Pangako, Payatas Quezon City
								br
								strong Agenda:
								|  Lorem ipsum dolor sit amet consectetur adipisicing elit. amet consectetur adipisicing elit. amet consectetur adipisicing elit.
							.row
								.col-md-12.text-center
									button.btn.btn-info.btn-sm.mb-2(type='button') Read More
										i.material-icons.p-0.m-0(style="margin-top: -3px !important;") chevron_right

					.row
						.col-md-7.my-3
							.card.mt-5.shadow
								img.card-img-top(src='/img/events/marriage-seminar.jpg', alt='Card image cap' style="height: 18rem;")
						.col-md-5.my-3
							hr.mb-1
							h3.main--header.font-italic.text-left.m-0 Marriage Seminar
							.text-left Sam deals with topics such as Biblical Basis of Marriage, Divorce and Remarriage, Being Christ-like in
							.text-left.text-muted A Seminar Organized By:
								strong  Dr. Sam Matthews, Associate Pastor
							button.btn.btn-info.float-left.mb-2(type='button') View More
					