extends ../../../templates/masterguests
block main
	.profile-page
		//- Heading Page
		#heading-page.page-header.header-filter(data-parallax="true" style="background-image: url('/img/Nave.jpeg');")
			.container
				.row
					.col-md-9.main-header__textbox
						h1.font-italic Schedule
						p.text-uppercase.card-desc
							| Day | Time
		#raised-section.main.main-raised
			#guide
				.container
					.row
						.col-md-12
							hr.mt-5.mx-5
							h1.main--header.font-italic.text-center Mass Schedule
					 
					.row
						.col-md-4.my-3
							h3.text-right.text-uppercase.guidelines--text Sunday Masses
						.col-md-7.my-3
							//- p.mt-3.guidelines--desc
							//- 	| Time and day are as follows:
							p.mt-4.guidelines--desc
								strong.d-block MORNING
								strong.mt-2 7:30AM
								|  - Tagalog Mass
								br
								strong.mt-3 9:00AM
								|  - 1st and 4th Sunday English Mass 								
								br
								|  - 2nd and 3rd Sunday Tagalog Mass
							p.mt-4.guidelines--desc
								strong.d-block AFTERNOON
								strong.mt-2 5:00PM
								|  - Tagalog Mass
					.row
						.col-md-4.my-3
							h3.text-right.text-uppercase.guidelines--text Baptism
						.col-md-7.my-3
							p.mt-4.guidelines--desc
								strong 10:00AM 
								| - Pre-Jordan Seminar
								.mt-4.d-block 
								strong 11:00AM 
								| - Rite of Baptism
					.row
						.col-md-4.my-3
							h3.text-right.text-uppercase.guidelines--text Dawn Process
								br
								| and Mass
						.col-md-7.my-3
							p.mt-4.guidelines--desc.mt-3
								.d-block 
									strong 5:00AM 
									| - Dawn Procession every 4th Sunday of the Month
								.mt-4.d-block 
									strong 9:00AM 
									| - Holy mass every first Saturday of the month in Honor of Our Lady of the Miraculous Medal
