extends ../../../../templates/masterguests
block main
	.profile-page
		//- Heading Page
		#heading-page.page-header.header-filter(data-parallax="true" style="background-image: url('/img/Nave.jpeg');")
			.container
				.row
					.col-md-9.main-header__textbox
						h1.font-italic Right of Christian Initiation of Adults
						p.text-uppercase.card-desc
							| Guidelines | Requirements
		#raised-section.main.main-raised
			#guide
				.container
					.row
						.col-md-12
							hr.mt-5.mx-5
					.row
						.col-md-4.my-3
							h3.text-right.text-uppercase.guidelines--text Guidelines
						.col-md-7.my-3
							p.guidelines--desc
								| The 
								strong Wedding Ceremony Director 
								| of the parish will assist the Bride and Groom in their preparation for the sacrament of matrimony. Reservation must be made at least (3) months to (1) year in advance.
							p.mt-3.guidelines--desc
								| Time slots allotted for weddings are as follows:
							p.mt-4.guidelines--desc
								strong.d-block Mondays to Saturdays
								| 8:00 AM, 10:00AM, 2:00PM,
								br 
								| 4:00PM & 7:00 PM
							p.mt-5.guidelines--desc
								| Kindly view the church availability for your desired date on our availability page. You shall be prompted to fill-out the reservation request form and submit a signed copy of the Memorandum of Agreement on the same page. Please note that the reservation request may only be confirmed after coordinating with 
								strong Ms. Zyrene Parsad Valencia (www.bridalwalk.co)
								|  the wedding ceremony director.
					//- .row
					//- 	.col-md-4.my-3
					//- 		h3.text-right.text-uppercase.guidelines--text Requirements
					//- 	.col-md-7.my-3
					//- 		p.guidelines--desc
					//- 			| The 
					//- 			strong Wedding Ceremony Director 
					//- 			| of the parish will assist the Bride and Groom in their preparation for the sacrament of matrimony. Reservation must be made at least (3) months to (1) year in advance.
					//- 		p.mt-3.guidelines--desc
					//- 			| Time slots allotted for weddings are as follows:
					//- 		p.mt-4.guidelines--desc
					//- 			strong.d-block Mondays to Saturdays
					//- 			| 8:00 AM, 10:00AM, 2:00PM,
					//- 			br 
					//- 			| 4:00PM & 7:00 PM
					//- 		p.mt-5.guidelines--desc
					//- 			| Kindly view the church availability for your desired date on our availability page. You shall be prompted to fill-out the reservation request form and submit a signed copy of the Memorandum of Agreement on the same page. Please note that the reservation request may only be confirmed after coordinating with 
					//- 			strong Ms. Zyrene Parsad Valencia (www.bridalwalk.co)
					//- 			|  the wedding ceremony director.
					.row
						.col-md-12.text-center.mb-5
							a.btn-design(href="/guest/rcia/form") Inquire
