extends ../../../../templates/guests
block prepend main
  style.
    #header-style-1 {
      height:10.5rem;
      background-image: url(/imgchurch/bible2.png);
    }
    .blog-post-small img {
      max-width: 45px;
    }
  #headers
    #header-style-1
      .container
        .header-caption
          .row
            .col-md-12.header-content
              h3.header-title.animated.fadeInDown.invisible
                span.text-primary Helium - 
                | Bootstrap 4 UI Kit
              h6.header-text.animated.fadeIn.invisible
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit<br>Lorem ipsum dolor sit amet, consectetuer.</h6>
              //- a.page-scroll.btn.btn-lg.btn-default-filled.animated.fadeInUp.invisible(href="#") Download Now
              //- a.page-scroll.btn.btn-lg.btn-secondary.animated.fadeInUp.invisible.destination(href="#") Explore
  #raised-section.main.main-raised
    .container.my-5
      h3 Notifications
      hr
      .blog-posts-small
        .blog-post-small.first-post
          img(src='/document_templates/logo.png')
          a(href='#') Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus autem qui eligendi consequatur expedita quas, nobis earum, modi, aut aspernatur veniam hic quasi cum repudiandae tenetur sit eius rerum.
          p 
            a.post-date(href='#') Sep. 03, 2016
      .blog-posts-small
        .blog-post-small.first-post
          img(src='/document_templates/logo.png')
          a(href='#') Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus autem qui eligendi consequatur expedita quas, nobis earum, modi, aut aspernatur veniam hic quasi cum repudiandae tenetur sit eius rerum.
          p 
            a.post-date(href='#') Sep. 03, 2016
      .blog-posts-small
        .blog-post-small.first-post
          img(src='/document_templates/logo.png')
          a(href='#') Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus autem qui eligendi consequatur expedita quas, nobis earum, modi, aut aspernatur veniam hic quasi cum repudiandae tenetur sit eius rerum.
          p 
            a.post-date(href='#') Sep. 03, 2016
      .blog-posts-small
        .blog-post-small.first-post
          img(src='/document_templates/logo.png')
          a(href='#') Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus autem qui eligendi consequatur expedita quas, nobis earum, modi, aut aspernatur veniam hic quasi cum repudiandae tenetur sit eius rerum.
          p 
            a.post-date(href='#') Sep. 03, 2016
      .blog-posts-small
        .blog-post-small.first-post
          img(src='/document_templates/logo.png')
          a(href='#') Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus autem qui eligendi consequatur expedita quas, nobis earum, modi, aut aspernatur veniam hic quasi cum repudiandae tenetur sit eius rerum.
          p 
            a.post-date(href='#') Sep. 03, 2016
      .blog-posts-small
        .blog-post-small.first-post
          img(src='/document_templates/logo.png')
          a(href='#') Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus autem qui eligendi consequatur expedita quas, nobis earum, modi, aut aspernatur veniam hic quasi cum repudiandae tenetur sit eius rerum.
          p 
            a.post-date(href='#') Sep. 03, 2016
