extends ../../../templates/priest
block main
	#raised-section.main.main-raised
		section.form-box
			.container
				.row
					.col-md-12.form-wizard
						h1.font-weight-bold Appointments
						h4.font-weight-bold
				.row
					.table-responsive
						table.table.text-center
							thead
								tr
									th #
									th Event Type
									th Parishioner
									th Schedule
									th Venue
									th Actions
							tbody
								tr.text-center
									td 1
									td Anointing of the sick
									td Juan Dela Cruz
									td 2018-08-30
									td 212 Molave St. Payatas B Quezon City
									td.td-actions
										button(type="button" data-toggle="modal" data-target="#exampleModal").btn.btn-primary.btn-sm
											| View
										| &nbsp;
										button.confirmButton(type="button").btn.btn-success.btn-sm
											| Confirm
								
	#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5#exampleModalLabel.modal-title Event Description
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					label.h5 Name: &nbsp;
					label Juan Dela Cruz
					br
					label.h5 Venue: &nbsp;
					label 212 Molave St. Payatas B Quezon City
					br
					label.h5 Schedule: &nbsp;
					label September 10, 2018
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Close
block addjs
	script.
		$(document).ready(function() {
			$('.confirmButton').click(function(){
				swal({
					title: 'Can you attend this event?',
					//- text: "Please choose",
					type: 'info',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					cancelButtonText: 'No',
					confirmButtonText: 'Yes',
				}).then((result) => {
					if (result.value) {
						swal(
							'Deleted!',
							'Your file has been deleted.',
							'success'
						)
					}
				})
			})
		});
	//- 			.row
	//- 				.col-md-7.my-3
	//- 					#form-facility
	//- 						#calendar
	//- 				.col-md-5.my-3.text-center
	//- 					form(action="#" method='post')
	//- 						input.form-control(type='hidden' name='userID')
	//- 						.form-group
	//- 							label.label-control Event
	//- 							input.form-control(type='text' name= 'event')
	//- 						.form-group
	//- 							label.label-control Desired Date
	//- 							input.datepicker2.form-control(type='date' name='desireddate')
	//- 						.form-group
	//- 							label.label-control Start Time
	//- 							input.timepicker.form-control(type='text' name='starttime')
	//- 						.form-group
	//- 							label.label-control End Time
	//- 							input.timepicker.form-control(type='text' name='endtime')
	//- 						.form-group.form-file-upload.form-file-multiple.p-0
	//- 							input.inputFileHidden(type='file', multiple='')
	//- 							.input-group
	//- 								input.form-control.inputFileVisible(type='text', placeholder='Valid ID')
	//- 								span.input-group-btn
	//- 									button.btn.btn-fab.btn-round.btn-primary(type='button')
	//- 										i.fa.fa-file(aria-hidden='true')
	//- 						.row
	//- 							.col-md-12.text-center.mb-5
	//- 								//- button.btn.btn-primary.btn-valid Submit
	//- 								button.btn.btn-primary(type='submit') Submit
	//- #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
	//- 	.modal-dialog(role='document')
	//- 		.modal-content
	//- 			.modal-header
	//- 				button.close(type='button', data-dismiss='modal', aria-label='Close')
	//- 					span(aria-hidden='true') ×
	//- 			.modal-body
	//- 				#calendar1
