extends ../../../templates/mastercoordinators
block main
	.profile-page
		//- Heading Page
		#heading-page.page-header.header-filter(data-parallax="true" style="background-image: url('/img/wedding organizing/package2/flowers.jpg');")
			.container
				.row
					.col-md-9.main-header__textbox
						h1.font-italic Wedding Organizing
						p.text-uppercase.card-desc
							| Mr. and Mrs. Reyes
		#raised-section.main.main-raised
			#guide
				.container
					.row
						.col-md-12
							hr.mt-5.mx-5
					
					.row
						.col-md-4
							.row
								#form-facility
									#calendar
							.row
								<div class="card" style="width: 20rem;">
									<ul class="list-group list-group-flush">
										<li class="list-group-item">Cras justo odio</li>
										<li class="list-group-item">Dapibus ac facilisis in</li>
										<li class="list-group-item">Vestibulum at eros</li>
										<li class="list-group-item">Cras justo odio</li>
										<li class="list-group-item">Dapibus ac facilisis in</li>
									
									</ul>
								</div>
					
						.col-md-8
							<div class="card border-light mb-3" style="max-width: 50rem;">
								//- <div class="card-header" style="width: 18rem; margin: auto">Header</div>
								<div class="card-body">
									.row
										.col-md-12.text-center
											h3.card-title APPOINTMENTS
									.row
										.col-md-3
											<h4 class="card-title">Event Date: </h4>
										.col-md-8
											<h5 class="card-text"> June 23, 2018</h5>
									.row
										.col-md-3
											<h4 class="card-title">Time: </h4>
										.col-md-8
											<h5 class="card-text"> 11:00am-12:00pm</h5>
									.row
										.col-md-3
											<h4 class="card-title">Event Type: </h4>
										.col-md-8
											<h5 class="card-text"> Wedding Ceremony</h5>
									

		#conditionModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
			.modal-dialog.modal-notify.modal-success(role='document')
				// Content
				.modal-content
					// Header
					.modal-header
						p.heading.lead New Member
						button.close(type='button' data-dismiss='modal' aria-label='Close')
							span.white-text(aria-hidden='true') &times;
					// Body
					.modal-body
						form.form(action="/signup" method="post")
							.form-group
								label.label-control Name:										
								.row
									.col-md-4
										.form-group.pt-0
											input.form-control(type='text' placeholder="Last Name" name='lastname')
									.col-md-4
										.form-group.pt-0
											input.form-control(type='text' placeholder="First Name" name='firstname')
									.col-md-4
										.form-group.pt-0
											input.form-control(type='text' placeholder="Middle Name" name='middlename')
							
							.form-group
								label.label-control Email Address:
								input.form-control(type='text' name='email')
							.form-group
								label.label-control Username:
								input.form-control(type='text' name='username')
							.form-group
								label.label-control Password:
								input.form-control(type='text' name='newmemberpassword')
							
							.row
								.col-md-12.text-center.my-3
									button.btn.btn-primary(type='submit') Add