extends ../../../templates/mastercoordinators
block main
	.profile-page
		//- Heading Page
		#heading-page.page-header.header-filter(data-parallax="true" style="background-image: url('/img/choir11.jpg');")
			.container
				.row
					//- .col-md-9.main-header__textbox
					//- 	h1.font-italic Music Ministry
					//- 	h4
					//- 		a.text-uppercase(href="/coordinator/members") Officers
					//- 			|  |  
					//- 		a.text-uppercase(href="/coordinator/officers") Members
		#raised-section.main.main-raised
			.container
				.row
					.col-md-12
						hr.mt-5.mx-5
				//- .row
				//- 	.col-md-12.text-right.my-3
				//- 		ul.nav.navbar-nav
				//- 			<li class="nav-item">
				//- 					<button type="button" rel="tooltip" class="btn btn-fab btn-default btn-round">
				//- 							i.fa.fa-bars(aria-hidden='true' )
				//- 							Tasks
				//- 					</a>
				//- 			</li>
										//- .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
										//- 				a.dropdown-item(href='#') Profile
										//- 				a.dropdown-item(href='#') Reports
										//- 				a.dropdown-item(href='#') Activity log
				.row
					.col-md-12.my-3
						h2.main--header.font-italic.text-center OFFICERS
				.row
					.col-md-12
							table.table
								thead
									tr.text-center
										th
										th.text-center MemberID
										th Position
										th Name
										th Status
										th
								tbody
									tr.text-center
										td 
											<img src='/img/usericon.png' alt="..." style= 'width:50px; height:50px; margin-top:3px;'>
										td B101
										td President
										td Basa, Eigiebon T.										
										td Active
										td.td-actions
												<button type="button" rel="tooltip" class="btn btn-fab btn-info btn-round">
													i.fa.fa-pencil-square-o(aria-hidden='true' )
												<button type="button" rel="tooltip" class="btn btn-fab btn-warning btn-round">
													i.fa.fa-envelope(aria-hidden='true' )
									tr.text-center
										td 
											<img src='/img/usericon.png' alt="..." style= 'width:50px; height:50px; margin-top:3px;'>
										td S101
										td Vice President
										td Cotiling, Mary Angel R.										
										td Active
										td.td-actions
												<button type="button" rel="tooltip" class="btn btn-fab btn-info btn-round">
													i.fa.fa-pencil-square-o(aria-hidden='true' )
												<button type="button" rel="tooltip" class="btn btn-fab btn-warning btn-round">
													i.fa.fa-envelope(aria-hidden='true' )
									tr.text-center
										td 
											<img src='/img/usericon.png' alt="..." style= 'width:50px; height:50px; margin-top:3px;'>
										td A101
										td Secretary
										td Fajardo, Grace Loraine S.									
										td Active
										td.td-actions
												<button type="button" rel="tooltip" class="btn btn-fab btn-info btn-round">
													i.fa.fa-pencil-square-o(aria-hidden='true' )
												<button type="button" rel="tooltip" class="btn btn-fab btn-warning btn-round">
													i.fa.fa-envelope(aria-hidden='true' )

									tr.text-center
										td 
											<img src='/img/usericon.png' alt="..." style= 'width:50px; height:50px; margin-top:3px;'>
										td T101
										td Treasurer
										td Dalit, Abert P.
										td Active
										td.td-actions
												<button type="button" rel="tooltip" class="btn btn-fab btn-info btn-round">
													i.fa.fa-pencil-square-o(aria-hidden='true' )
												<button type="button" rel="tooltip" class="btn btn-fab btn-warning btn-round">
													i.fa.fa-envelope(aria-hidden='true' )
				
				.row
					.col-md-12.my-3
						h2.main--header.font-italic.text-center OFFICERS
				.row
					.col-md-12
							table.table
								thead
									tr
										th ID
										th Name
										th Position
										//- th 
										//- th
										th Status
								tbody
									tr
										td A102
										td
											img(src='/img/usericon.png' alt='Contact Person' style= 'width:50px; height:50px; margin-top:3px;')
											|  Basa, Eigiebon T.	
										td President
										//- td 
										//- td
										td
											<span class="badge badge-success">Active</span>
												//- td.td-actions
											<button type="button" rel="tooltip" class="btn btn-fab btn-warning btn-round">
													i.fa.fa-envelope(aria-hidden='true' )
										
									tr
										td S101
										td
											img(src='/img/usericon.png' alt='Contact Person' style= 'width:50px; height:50px; margin-top:3px;')
											|  Cotling, Mary Angel
										td Vice President
										//- td 
										//- td
										td
											<span class="badge badge-success">Active</span>
												//- td.td-actions
											<button type="button" rel="tooltip" class="btn btn-fab btn-warning btn-round">
													i.fa.fa-envelope(aria-hidden='true' )
										
									tr
										td A101
										td
											img(src='/img/usericon.png' alt='Contact Person' style= 'width:50px; height:50px; margin-top:3px;')
											|  Fajardo, Grace Loraine D.
										td Secretary
										//- td 
										//- td
										td
											<span class="badge badge-success">Active</span>
												//- td.td-actions
											<button type="button" rel="tooltip" class="btn btn-fab btn-warning btn-round">
													i.fa.fa-envelope(aria-hidden='true' )
										

									tr
										td T101
										td
											img(src='/img/usericon.png' alt='Contact Person' style= 'width:50px; height:50px; margin-top:3px;')
											|  Dalit, Albert E.
										td Treasurer
										//- td 
										//- td
										td
											<span class="badge badge-success">Active</span>
												//- td.td-actions
											<button type="button" rel="tooltip" class="btn btn-fab btn-warning btn-round">
													i.fa.fa-envelope(aria-hidden='true' )
										
																	
				//- .row
				//- 	.col-md-12.text-right.my-3
				//- 		a.btn-design(href="#") Add new officer
				
		#appointment.modal.fade
			.modal-dialog.modal-lg
				.modal-content
					.modal-header
						h5#loginModalLabel.modal-title.font-weight-bold.d-inline Available Coordinators and Priest
						button.close(data-dismiss='modal') ×
					.modal-body
						.row
							.col-3
								label.text-muted COORDINATORS
							.col-9
								table.table.table-hover.table-striped
									thead
										th Full name
										th Status
										th 
									tbody
										tr
											td Jonalyn Fe Ebrada
											td
												select.custom-select
													option(selected='') Pending
													option(value='1') One
													option(value='2') Two
													option(value='3') Three											
											td
												.form-check.pl-0.mr-4.text-right
													label.form-check-label.p-0
														| &nbsp;
														input.form-check-input(type='checkbox' value='')
														span.form-check-sign
						
						.container.d-flex.justify-content-end.m-3
							button.m-1.btn.btn-primary.btn-fill Update
							button.m-1.btn.btn-danger.btn-fill Cancel												




