extends ../../../templates/masterguests
block addcss
	link(rel="stylesheet" href="/css/entourage.css")
block main
	.profile-page
		//- Heading Page
		#heading-page.page-header.header-filter(data-parallax="true" style="background-image: url('/img/entourage.jpg');")
			.container
				.row
					.col-md-9.main-header__textbox
						h1.font-italic Marriage Seminar
						p.text-uppercase.card-desc
							| Event Details
		#raised-section.main.main-raised
			#details
				.row
					.col-md-12
						.container
							hr.mt-5.mx-5
						//- h1.main--header.font-italic.text-center Mass Schedule
				.row
					.col-md-7.pr-0
						.container
							button#addAdditionalSponsor.btn.btn-success.btn-fab.btn-fab-mini.btn-round.ml-5(type="button")
								i.material-icons add
							.row
								.col-md-6
									h2.main--header.font-italic.text-center.m-0 Role
								.col-md-6
									h2.main--header.font-italic.text-center.m-0 Name
							.row#additionalSponsor
								.col-md-12.p-0
					.col-md-5.pl-0
						.container
							.card#cardUnder
								.card-body
									#entouragePic.row.text-center
										.leftCol.col-md-6
										.rightCol.col-md-6
	id(src='/img/man.png', alt='')


block addjs
	script(src="/js/entourage.js")