extends ../../../../templates/masterguests
block main
	.profile-page
		//- Heading Page
		#heading-page.page-header.header-filter(data-parallax="true" style="background-image: url('/img/wedding organizing/package2/flowers.jpg');")
			.container
				.row
					.col-md-11.main-header__textbox
						h1.font-italic Wedding Organizing
						p.text-uppercase.card-desc
							| Mr. and Mrs. Reyes
		#raised-section.main.main-raised
			#guide
				.container
					.row
						.col-md-12
							//- hr.mt-5.mx-5
							//- h1.main--header.font-italic.text-center Mass Schedule
					 
					.row
						.col-md-12
							hr.mt-5.mx-5
							h1.main--header.font-italic.text-center Cadbury  Package
					.row
						.col-md-12.text-center
							span
								<h6>Prepare yourself, while we prepare where you're gonna start your happily ever after!</h6>
								<h4 class="card-title">PACKAGE PRICE: ₱4000</H4>
					//- .row
					//- 	.col-md-12.text-center
					//- 		span
					//- 			<h6>Special setting for your special day</h6>
					//- .row
					//- 	.col-md-12.text-center
					//- 		span
					//- 			<h6>Best Wishes!</h6>
					.row
						.col-md-6
							.card.card-blog.mt-5.shadow2
								.card-header.card-header-image
									a.shadow.mt-5(href='#pablo')
										img.img.img-fluid(src='/img/wedding organizing/package2/group.jpg')
										//- .card-title
										//- 	h2.main--header.font-italic.text-white.m-0 Meeting Room
								//- <img src='/img/wedding organizing/package2/Capture1.jpg' alt="..." style= 'width:211rem; height:2110px; margin-left:8%; margin-top: 5%; margin-bottom:25px'>
							
							
							//- .row
						.col-md-6
							.card.card-blog.mt-5.shadow2
								.card-header.card-header-image
									a.shadow.mt-5(href='#pablo')
										img.img.img-fluid(src='/img/wedding organizing/package2/aisledecor2.jpg')
										//- .card-title
											//- h2.main--header.font-italic.text-white.m-0 Meeting Room
					.row
						.col-md-3
						.col-md-4
							<div class="card" style="width: 34rem; float: center">
								//- <img src='/img/wedding organizing/package2/group.jpg' alt="..." style= 'width:211rem; height:300px; margin-left:8%; margin-top: 5%'>
								<div class="card-body" >
										//- <h4 class="card-title">Motif</h4>
									
										.row
											.col-md-4
												<div class="rectangle" style="width:157px; height: 30px; background:#480278"></div>
											.col-md-4
												<div class="rectangle" style="width:157px; height: 30px; background:#8f07b1"></div>
											.col-md-4
												<div class="rectangle" style="width:157px; height: 30px; background:#7456b2; margin-right: 8px"></div>
								</div>
							</div>
					//- .row
					//- 	.col-md-4
					//- 		span
					//- 			<h4 class="card-title">Package Price: </h4>
							
					//- 	.col-md-8
					//- 		.row
					//- 			<h5>₱4000</h4>
					
							//- <a href="#" class="btn btn-primary" style="float:riaght">Detailed View</a>
								
						//- .row
						//- .col-md-12
						//- 	hr.mt-5.mx-5
					.row
					
						.col-md-2
							<div class="card" style="width: 11rem; text-align: center">
								<div class="hvrbox" >
									<img src='/img/wedding organizing/package2/bridalbouquet4.jpg' class="hvrbox-layer_bottom" alt="..." style= 'width:11rem; height:170px;margin-top: 2px'>
									<div class="hvrbox-layer_top">
										<div class="hvrbox-text"><a href="#" style="margin-left: 6px; color: violet">Detailed View</a></div>
									</div>
								</div>
								<div class="card-body">
									<h4 class="card-title"> Bouquet</h4>
								</div>
							</div>
						.col-md-2
							<div class="card" style="width: 11rem;text-align: center">
								<div class="hvrbox" >
									<img src='/img/wedding organizing/package2/button2.jpg' alt="..."  class="hvrbox-layer_bottom"  style= 'width:11rem; height:170px; margin-top: 2px'>
									<div class="hvrbox-layer_top">
										<div class="hvrbox-text"><a href="#" style="margin-left: 6px; color: violet">Detailed View</a></div>
									</div>
								</div>
								<div class="card-body">
									<h4 class="card-title">Boutonnieres</h4>
								</div>
							</div>
						
						.col-md-2
							<div class="card" style="width: 11rem;text-align: center">
								<div class="hvrbox" >
									<img src='/img/wedding organizing/package2/coursage2.jpg' alt="..."  class="hvrbox-layer_bottom"  style= 'width:11rem; height:170px; margin-top: 2px'>
									<div class="hvrbox-layer_top">
										<div class="hvrbox-text"><a href="#" style="margin-left: 6px; color: violet">Detailed View</a></div>
									</div>
								</div>
								<div class="card-body">
									<h4 class="card-title">Corsage</h4>
								</div>
							</div> 
						.col-md-2
							<div class="card" style="width: 11rem;text-align: center">
								<div class="hvrbox" >
									<img src='/img/wedding organizing/package2/candles1.jpg' alt="..."  class="hvrbox-layer_bottom"  style= 'width:11rem; height:170px; margin-top: 2px'>
									<div class="hvrbox-layer_top">
										<div class="hvrbox-text"><a href="#" style="margin-left: 6px; color: violet">Detailed View</a></div>
									</div>
								</div>
								<div class="card-body">
									<h4 class="card-title">Unity Candles</h4>
								</div>
							</div>
						.col-md-2
							<div class="card" style="width: 11rem; text-align: center">
								<div class="hvrbox" >
									<img src='/img/wedding organizing/package2/headband.jpg' alt="..."  class="hvrbox-layer_bottom"  style= 'width:11rem; height:170px; margin-top: 2px'>
									<div class="hvrbox-layer_top">
										<div class="hvrbox-text"><a href="#" style="margin-left: 6px; color: violet">Detailed View</a></div>
									</div>
								</div>
								<div class="card-body">
									<h4 class="card-title" >Headdress</h4>
								</div>
							</div>
						.col-md-2
							<div class="card" style="width: 11rem;text-align: center">
								<div class="hvrbox" >
									<img src='/img/wedding organizing/package2/aisle4.jpg' alt="..."  class="hvrbox-layer_bottom"  style= 'width:11rem; height:170px; margin-top: 2px'>
									<div class="hvrbox-layer_top">
										<div class="hvrbox-text"><a href="#" style="margin-left: 6px; color: violet">Detailed View</a></div>
									</div>
								</div>
								<div class="card-body">
									<h4 class="card-title">Aisle Decor</h4>
								</div>
							</div>
						.col-md-3
						.col-md-2
						
							<div class="card" style="width: 11rem;text-align: center">
								<div class="hvrbox" >
									<img src='/img/wedding organizing/package2/basket1.jpg' alt="..."  class="hvrbox-layer_bottom"  style= 'width:11rem; height:170px; margin-top: 2px'>
									<div class="hvrbox-layer_top">
										<div class="hvrbox-text"><a href="#" style="margin-left: 6px; color: violet">Detailed View</a></div>
									</div>
								</div>
								<div class="card-body">
									<h4 class="card-title">Flowergirl Basket</h4>
								</div>
							</div>
						.col-md-2
							<div class="card" style="width: 11rem;text-align: center">
								<div class="hvrbox" >
									<img src='/img/wedding organizing/package2/pillow1.jpg' alt="..."  class="hvrbox-layer_bottom"  style= 'width:11rem; height:170px; margin-top: 2px'>
									<div class="hvrbox-layer_top">
										<div class="hvrbox-text"><a href="#" style="margin-left: 6px; color: violet">Detailed View</a></div>
									</div>
								</div>
								<div class="card-body">
									<h4 class="card-title">Ring Bearer Pillow</h4>
								</div>
							</div>
						.col-md-2
							<div class="card" style="width: 11rem;text-align: center">
								<div class="hvrbox" >
									<img src='/img/wedding organizing/package2/carpet.jpg' alt="..."  class="hvrbox-layer_bottom"  style= 'width:11rem; height:170px; margin-top: 2px'>
									<div class="hvrbox-layer_top">
										<div class="hvrbox-text"><a href="#" style="margin-left: 6px; color: violet">Detailed View</a></div>
									</div>
								</div>
								<div class="card-body">
									<h4 class="card-title">Your Purple Carpet</h4>
								</div>
							</div>
					