extends ../../../../templates/guests
block main
	style.
		#header-style-1 {
			background-image: url(/imgchurch/reservation.jpg)
		}
		.btn-sm {
			font-size: 12px;
			min-width: 40px;
			padding: 5px 11px;
		}
		.form-control
			{
				display:block;
				width:100%;
				min-height:20px;
				padding:.375rem .75rem;
				font-size:.75rem;
				line-height:1.5;
				color:#495057;
				background-color:#fff;
				background-clip:padding-box;
				border:1px solid #ced4da;
				border-radius:.25rem;
				transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
			}
			.custom-select.custom-select-sm.form-control.form-control-sm {
				margin:0;
			}
	#headers
		#header-style-1
			.container
				.header-caption
					.row
						.col-md-12.header-content
							h3.header-title.animated.fadeInDown.invisible
								span.text-primary Helium - 
								| Bootstrap 4 UI Kit
							h5.header-text.animated.fadeIn.invisible
								| Lorem ipsum dolor sit amet, consectetuer adipiscing elit<br>Lorem ipsum dolor sit amet, consectetuer.</h5>
							//- a.page-scroll.btn.btn-lg.btn-default-filled.animated.fadeInUp.invisible(href="#") Download Now
							//- a.page-scroll.btn.btn-lg.btn-common.animated.fadeInUp.invisible(href="#") Explore
		#raised-section.main.main-raised
			section.form-box
				.container
					.row
						.col-md-12.form-wizard
							h3 Reservation List
							p 
					.row
						.col-lg-12.col-md-12.mb-60
							table.table.dataTable
								thead
									tr.text-center
										th Name
										th Status
										th Actions
								tbody
									each reservation in reservations
										tr.text-center
											td=reservation.var_eventname
											td=reservation.char_approvalstatus
											td.td-actions
												button.btn.btn-danger.btn-sm.deleteButton(type='button',rel='tooltip',value=`${reservation.int_eventinfoID}`) Cancel
												| &nbsp;
												button.btn.btn-success.btn-sm.updateButton(type='button',rel='tooltip', value=`${reservation.int_eventinfoID}`) Edit
	#conditionModal.modal.animated.fadeIn(tabindex='-1', role='dialog')
		.modal-dialog.modal-login.modal-lg(role='document')
			.modal-content
				.card.card-signup.card-plain
					.modal-header
						//- .card-header.card-header-warning.text-center
						//- 	button.close(type='button', data-dismiss='modal', aria-hidden='true')
						//- 		i.material-icons clear
						//- 	h3.main-header__modal.text-white SIGNUP
							
					.modal-body
							//- <div class="card card-nav-tabs">
							//- <div class="card-header card-header-warning">
							//- 	Featured
							//- </div>
							<div class="card-body">
								<h4 class="card-title">Special title treatment</h4>
								<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
								
							</div>
							</div>
					.modal-footer.justify-content-center
						.row
							.col-md-12
								a#anchorRegisterSubmit.btn-design(href="#") Submit
