extends ../../../../templates/guests
block main
	#headers
		#header-style-1
			.container
				.header-caption
					.row
						.col-md-12.header-content
							h3.header-title.animated.fadeInDown.invisible
								span.text-primary Helium - 
								| Bootstrap 4 UI Kit
							h5.header-text.animated.fadeIn.invisible
								| Lorem ipsum dolor sit amet, consectetuer adipiscing elit<br>Lorem ipsum dolor sit amet, consectetuer.</h5>
							//- a.page-scroll.btn.btn-lg.btn-default-filled.animated.fadeInUp.invisible(href="#") Download Now
							//- a.page-scroll.btn.btn-lg.btn-common.animated.fadeInUp.invisible(href="#") Explore
	#raised-section.main.main-raised
		.container
			.row
				.col-md-12
					hr.mt-5.mx-5
			.row
				.col-md-12.my-3
					h3 Request Form
					p Fill all form field to go next step
			form(action="/guest/anointing/form" enctype="multipart/form-data" method="post")
				input.form-control(type='hidden' name='userID' value=`${user.int_userID}`)
				h5.label-control Name of the Ill:
				.row
					.col-md-4
						.form-group.pt-0
							input.form-control(type='text' placeholder="Last Name" name='lastname')
					.col-md-4.p-0
						.form-group.p-0
							input.form-control(type='text' placeholder="First Name" name='firstname')
					.col-md-4
						.form-group.pt-0
							input.form-control(type='text' placeholder="Middle Name" name='middlename')
				.row
					.col-md-4
						.form-group.m-0
							h5.label-control Gender
						.custom-control.custom-radio
							input#customRadio1.custom-control-input(type='radio', name='gender' value="Male")
							label.custom-control-label(for='customRadio1') 
								label Male
						.custom-control.custom-radio
							input#customRadio2.custom-control-input(type='radio', name='gender' value="Female")
							label.custom-control-label(for='customRadio2') 
								label Female
					.col-md-4.p-0
						.form-group
							h5.label-control Birthday
							input.datepicker.form-control(type='date' name='birthday')
					.col-md-4
						.form-group
							h5.label-control Birthplace:
							input.form-control(type='text' name='birthplace')
				.row
					.col-md-8
						.row
							.col-md-6.p-0
								.form-group
									h5.label-control Desired Date
									input.datepicker.form-control(type='date' name='desireddate1')
							.col-md-6
								.form-group
									h5.label-control Desired Time
									input.timepicker.form-control(type='text' name='desiredtime1')
					.col-md-4
						.form-group
							h5.label-control Relationship with the Ill:
							select(type="text" name='relation')
								option Spouse
								option Parent
								option Child
								option Grandparent
								option Grandchild
								option Aunt/Uncle
								option Nephew/Niece
								option BF/GF
								option Friend
					.col-md-6
						.form-group
							h5.label-control Place where the blessing will happen:
							.ml-4
								.form-check
									label.form-check-label
										input#radioup.form-check-input(type="radio" name="venue" value="sameaddress" checked)
										| Same as his/her address
										span.circle
											span.check
								.form-check
									label.form-check-label
										input#exampleRadios1.form-check-input(type="radio" name="venue" value="hospital")
										.dropdown-toggle.mr-2 Hospital/Center
										span.circle
											span.check
									#textarea1.form-group
										textarea.form-control(placeholder="Please enter the room number, the hospital name & address" rows="3" name='hospitalname')
								.form-check
									label.form-check-label
										input#exampleRadios3.form-check-input(type="radio" name="venue" value="other")
										.dropdown-toggle.mr-3 Other
										span.circle
											span.check
									#textarea2.form-group
										textarea.form-control(placeholder="Please enter complete address" rows="2" name='othervenue')
						.form-group
							h6.label-control Select Image
							input#datepicker(type='file' name='image')
					.col-md-6
						.form-group
							h5(for='exampleFormControlTextarea1') Address:
							textarea#exampleFormControlTextarea1.form-control.mb-0(rows='2' name='address')
							//- .col-md-6
							//- 	.form-group
							//- 		h5.label-control Select Image:
							//- 		input#datepicker(type='file' name='image')
						.form-group
							h5(for='exampleFormControlTextarea1') Details:
							textarea#exampleFormControlTextarea1.form-control(rows='2' name='details' placeholder="Please enter his/her illness or the reason of the anointing. (Ex. Operation/Surgery)")
						
				.row
					.col-md-12.my-5.text-center
						.learn-more
							button.btn.std-btn.btn-common#submit(type='submit') Submit
						//- a.btn-design.btn-valid(href="/guest/events") Cancel
block addjs
	script.
		$('#textarea1').hide();
		$('#textarea2').hide();
		$('#radioup').click(function() {
			$('#textarea1').slideUp();
			$('#textarea2').slideUp();
		});	
		$('#exampleRadios1').click(function() {
			$('#textarea1').slideDown();
			$('#textarea2').slideUp();
		});
		$('#exampleRadios3').click(function() {
			$('#textarea1').slideUp();
			$('#textarea2').slideDown();
		});