extends ../../../../templates/guests
block main
	style.
		@media screen and (max-width: 576px) {
			.col-md-4, .col-md-6, .col-md-9 {
					padding-left: 0;
					padding-right: 0;
			}
			.form-wizard-step {
					padding-bottom: 10px !important;
			}
		}
		#header-style-1 {
			background-image: url(/imgchurch/bible1.jpg)
		}
		.form-wizard-tolal-steps-3 .form-wizard-step {
			width: 49.33%;
		}
	#headers
		#header-style-1
			.container
				.header-caption
					.row
						.col-md-12.header-content
							h3.header-title.animated.fadeInDown.invisible
								span.text-primary Helium - 
								| Bootstrap 4 UI Kit
							h5.header-text.animated.fadeIn.invisible
								| Lorem ipsum dolor sit amet, consectetuer adipiscing elit<br>Lorem ipsum dolor sit amet, consectetuer.</h5>
							//- a.page-scroll.btn.btn-lg.btn-default-filled.animated.fadeInUp.invisible(href="#") Download Now
							//- a.page-scroll.btn.btn-lg.btn-common.animated.fadeInUp.invisible(href="#") Explore
	#raised-section.main.main-raised
		section.form-box
			.container
				.row
					.col-md-12.form-wizard
						form(action="/guest/anointing/form" enctype="multipart/form-data" method="post" data-toggle='validator')
							h3 Anointing Application
							p Fill all form fields
							.form-wizard-steps.form-wizard-tolal-steps-3
								.form-wizard-progress
										.form-wizard-progress-line(data-now-value='12.25' data-number-of-steps='3' style='width: 12.25%;')
								// Step 1
								.form-wizard-step.active
										.form-wizard-step-icon
												i.fa.fa-user(aria-hidden='true')
										p.d-none.d-sm-block Schedule Date
								// Step 1
								// Step 2
								.form-wizard-step
										.form-wizard-step-icon
												i.fa.fa-location-arrow(aria-hidden='true')
										p.d-none.d-sm-block Anointing Details
								// Step 2
							// Form Step 1
							fieldset
								h4
									.d-none.d-sm-inline Appointment 
									span Step 1 - 2
									h5.label-control.text-lg-center.text-sm-left Desired Date
									.row
										.col-md-6.mx-lg-auto.mx-sm-left.my-lg-auto.my-sm-left.text-lg-center.text-sm-left
											.form-group
												input.desiredDate.form-control(type='date' name='desireddate1')
									.row
										.col-md-6.mx-lg-auto.mx-sm-left.my-lg-auto.my-sm-left.text-lg-center.text-sm-left
											.form-group
												h5.label-control Desired Time
												input.desiredTime.form-control(type='text' name='desiredtime1' placeholder="Input Time"  required='', data-error='Please enter your desired time')
									.learn-more.pull-right
												button.btn.btn-next(type='button') Next
							// Form Step 1
							// Form Step 2
							fieldset
								h4
									.d-none.d-sm-inline Anointing Details:
									span Step 2 - 2
									input.form-control(type='hidden' name='userID' value=`${user.int_userID}`)
									h5.label-control Name of the Ill:
									.row
										.col-md-4.px-lg-3.px-md-0.px-sm-0
											.form-group.pt-0
												input.form-control(type='text' placeholder="Last Name" name='lastname', required='' pattern="[A-Za-z ]{2,}" data-error='Please enter lastname')
												.help-block.with-errors
										.col-md-4.p-lg-0.px-md-3.px-sm-0
											.form-group.p-0
												input.form-control(type='text' placeholder="First Name" name='firstname'  required='' pattern="[A-Za-z ]{3,}" data-error='Please enter firstname')
												.help-block.with-errors
										.col-md-4.px-lg-3.px-md-0.px-sm-0
											.form-group.pt-0
												input.form-control(type='text' placeholder="Middle Name" name='middlename' pattern="[A-Za-z ]{3,}" )
												.help-block.with-errors
									.row
										.col-md-4.px-lg-3.px-md-0.px-sm-0
											.form-group.m-0
												h5.label-control Gender
											.custom-control.custom-radio
												input#customRadio1.custom-control-input(type='radio', name='gender' value="Male"  checked)
												label.custom-control-label(for='customRadio1') 
													label Male
											.custom-control.custom-radio
												input#customRadio2.custom-control-input(type='radio', name='gender' value="Female")
												label.custom-control-label(for='customRadio2') 
													label Female
										.col-md-4.p-lg-0.px-md-3.px-sm-0
											.form-group
												h5.label-control Birthday
												input.birthday.form-control(type='date' name='birthday'  required='', data-error='Please enter your birthday')
										.col-md-4.px-lg-3.px-md-0.px-sm-0
											.form-group
												h5.label-control Birthplace:
												input.form-control(type='text' name='birthplace' placeholder="Ex. Payatas, Quezon City"  required=''  pattern="[A-Za-z0-9,.- ]{3,}"  data-error='Please enter birthplace')
												.help-block.with-errors
									.row
										.col-md-4.px-lg-3.px-md-0.px-sm-0
											.form-group
												h5.label-control Relationship with the Ill:
												select(type="text" name='relation'  required='')
													option(selected="" value="" disabled) Choose...
													option Spouse
													option Parent
													option Child
													option Grandparent
													option Grandchild
													option Aunt/Uncle
													option Nephew/Niece
													option BF/GF
													option Friend
										//- .col-md-8
										//- 	.row
										//- 		.col-md-6.p-lg-0.px-md-3.px-sm-0
										//- 			.form-group
										//- 				h5.label-control Desired Date
										//- 				input.datepicker.form-control(type='date' name='desireddate1'  required='', data-error='Please enter your desired date')
										//- 		.col-md-6.px-lg-3.px-md-0.px-sm-0
										//- 			.form-group
										//- 				h5.label-control Desired Time
										//- 				input.timepicker.form-control(type='text' name='desiredtime1'  required='', data-error='Please enter your desired time')
									.row
										
										.col-md-6.px-lg-3.px-md-3.px-sm-0
											.form-group
												h5(for='exampleFormControlTextarea1') Address:
												textarea#exampleFormControlTextarea1.form-control.mb-0(rows='2' name='address' placeholder="Ex. Urban, Bgy. Payatas B 1119 QC"  required='' pattern="[A-Za-z0-9]{3,}" data-error='Please enter complete address')
												label
													.help-block.with-errors
										
										.col-md-6.px-lg-3.px-md-3.px-sm-0
											.form-group
												h5(for='exampleFormControlTextarea1') Details:
												textarea#exampleFormControlTextarea1.form-control.mb-0(rows='2' name='details' placeholder="Please enter his/her illness or the reason of the anointing. (Ex. Operation/Surgery)"  required='' pattern="[A-Za-z]{3,}" data-error='Please enter anointing details')
												label
													.help-block.with-errors
									.row
										.col-md-6.px-lg-3.px-md-3.px-sm-0
											.form-group
												h5.label-control Place where the blessing will happen:
												.ml-4
													.form-check
														label.form-check-label
															input#radioup.form-check-input(type="radio" name="venue" value="sameaddress" checked)
															| Same as his/her address
															span.circle
																span.check
													.form-check
														label.form-check-label
															input#exampleRadios1.form-check-input(type="radio" name="venue" value="hospital" pattern="[A-Za-z0-9 ]{2,}" )
															.dropdown-toggle.mr-2 Hospital/Center
															span.circle
																span.check
														#textarea1.form-group
															textarea.form-control(placeholder="Please enter the room number, the hospital name & address" rows="3" name='hospitalname' pattern="[A-Za-z0-9 ]{3,}" )
													.form-check
														label.form-check-label
															input#exampleRadios3.form-check-input(type="radio" name="venue" value="other")
															.dropdown-toggle.mr-3 Other
															span.circle
																span.check
														#textarea2.form-group
															textarea.form-control(placeholder="Please enter complete address" rows="3" name='othervenue' pattern="[A-Za-z0-9 ]{3,}" )
										
										.col-md-6.px-lg-3.px-md-3.px-sm-0
											.form-group
													h6.label-control Birth Certificate
													input#file-0b.file(type='file',accept='image/*',name="image")
								.learn-more.pull-right
									button.btn.std-btn.btn-secondary.btn-previous.m-0(type='button') Prev
									button.btn.btn-submit(type='submit') Submit
block addjs
	script.
		$('#textarea1').hide();
		$('#textarea2').hide();
		$('#radioup').click(function() {
			$('#textarea1').slideUp();
			$('#textarea2').slideUp();
		});
		$('#exampleRadios1').click(function() {
			$('#textarea1').slideDown();
			$('#textarea2').slideUp();
		});
		$('#exampleRadios3').click(function() {
			$('#textarea1').slideUp();
			$('#textarea2').slideDown();
		});

		let startDate = moment().add(2, 'days')
		let endDate = moment().add(15, 'days')

		$('.desiredDate').datetimepicker({
			format: 'YYYY-MM-DD',
			minDate: startDate,
			maxDate: endDate,
			icons: {
					time: "fa fa-clock-o",
					date: "fa fa-calendar",
					up: "fa fa-chevron-up",
					down: "fa fa-chevron-down",
					previous: 'fa fa-chevron-left',
					next: 'fa fa-chevron-right',
					today: 'fa fa-screenshot',
					clear: 'fa fa-trash',
					close: 'fa fa-remove',
			},
		});