extends ../../../../templates/guests
block main
	#headers
		#header-style-1
			.container
				.header-caption
					.row
						.col-md-12.header-content
							h3.header-title.animated.fadeInDown.invisible
								span.text-primary Helium - 
								| Bootstrap 4 UI Kit
							h5.header-text.animated.fadeIn.invisible
								| Lorem ipsum dolor sit amet, consectetuer adipiscing elit<br>Lorem ipsum dolor sit amet, consectetuer.</h5>
							//- a.page-scroll.btn.btn-lg.btn-default-filled.animated.fadeInUp.invisible(href="#") Download Now
							//- a.page-scroll.btn.btn-lg.btn-common.animated.fadeInUp.invisible(href="#") Explore
	#raised-section.main.main-raised
		.container
			.row
				.col-md-12
					hr.mt-5.mx-5
			.row
				.col-md-12.my-3
					h3.text-center.text-uppercase.guidelines--text Application Form
			form(action="/guest/baptism/form" enctype="multipart/form-data" method="post")
				input.form-control(type='hidden' name='userID' value=`${user.int_userID}`)
				h5.label-control Name of the child:
				.row
					.col-md-4
						.form-group.pt-0
							input.form-control(type='text' placeholder="Last Name" name='lastname')
					.col-md-4.p-0
						.form-group.pt-0
							input.form-control(type='text' placeholder="First Name" name='firstname')
					.col-md-4
						.form-group.pt-0
							input.form-control(type='text' placeholder="Middle Name" name='middlename')
				.row
					.col-md-4
						.form-group.m-0
							h5.label-control Gender:
							//- 	.form-check.ml-3.mt-3
							//- 		label.form-check-label
							//- 			input.form-check-input(type="radio" name="gender" id="exampleRadios2" value="Male")
							//- 			| Male
							//- 			span.circle
							//- 				span.check
							//- 		label.form-check-label.ml-4
							//- 			input.form-check-input(type="radio" name="gender" id="exampleRadios2" value="Female")
							//- 			| Female
							//- 			span.circle
							//- 				span.check
							.custom-control.custom-radio
								input#customRadio1.custom-control-input(type='radio', name='gender' value="Male")
								label.custom-control-label(for='customRadio1') 
									h5 Male
							.custom-control.custom-radio
								input#customRadio2.custom-control-input(type='radio', name='gender' value="Female")
								label.custom-control-label(for='customRadio2') 
									h5 Female

					.col-md-4
						.form-group
							h5.label-control Birthday
							input.datepicker.form-control(type='date' name='birthday')
					.col-md-4
						.form-group
							h5.label-control Birthplace:
							input.form-control(type='text' name='birthplace')
						br
						br
				.row
					.col-md-6.my-3
						.form-group
							h5.label-control Father's Full Name:
							input.form-control(type='text' name='fathername')
						.form-group
							h5.label-control Mother's Full name:
							input.form-control(type='text' name='mothername')
						.form-group
							h5(for='exampleFormControlTextarea1') Family address:
							textarea#exampleFormControlTextarea1.form-control(rows='2' name='address')
						.form-group
							h5.label-control Relationship with the Child
								br
								.mb-2
								select.form-control(type="text" name='relation')
									option Parent
									option Grandparent
									option Aunt/Uncle
						.form-group.m-0
							h5.label-control Baptism Type & Date:
								//- .form-check.ml-3.mt-3
								//- 	label.form-check-label
								//- 		input#radio1.form-check-input(type="radio" name="baptismtype" value="Regular")
								//- 		| Regular
								//- 		span.circle
								//- 			span.check
								//- 	label.form-check-label.ml-4
								//- 		input#radio2.form-check-input(type="radio" name="baptismtype" value="Special")
								//- 		| Special
								//- 		span.circle
								//- 			span.check
								.custom-control.custom-radio.mt-2
									input#radio1.custom-control-input(type='radio', name='baptismtype' value="Regular")
									label.custom-control-label(for='radio1') 
										h5 Regular
								.custom-control.custom-radio
									input#radio2.custom-control-input(type='radio', name='baptismtype' value="Special")
									label.custom-control-label(for='radio2') 
										h5 Special
							#regular.mt-4
								.form-group
									h5.label-control Regular Baptism Date
									input.datepicker1.RegularDesiredDate.form-control(type='date' name='regdesireddate')
							#special
								.row.mt-4
									.col-md-6
										.form-group
											h5.label-control Special Baptism Date
											input.datepicker.SpecialDesiredDate.form-control(type='date' name='spcdesireddate')
									.col-md-6.mt-2
										//- .form-group
										//- 	label.label-control Special Baptism Time
										//- 	input.timepicker.form-control(type='text' name='desireddate1')
										.form-group
											h5.label-control Special Baptism Time
												select.selectpicker.form-control(type="text" name='desiredtime')
													option 10:00AM
													option 11:00AM
													option 1:00PM
													option 2:00PM
					.col-md-6.my-3
						.form-group
							h5.label-control Father's Birthplace:
							input.form-control(type='text' name='fatherbirthplace')
						.form-group
							h5.label-control Mother's birthplace:
							input.form-control(type='text' name='motherbirthplace')
						.form-group
							h5(for='exampleFormControlTextarea1') Parent's Marriage Address:
							textarea#exampleFormControlTextarea1.form-control(rows='2' name='marriageaddress')
						.form-group
							h5.label-control Contact number
							input#datepicker.form-control(type='text' name='contactnumber')
						.form-group
							h5.label-control Select Image
							input#datepicker(type='file' name='image')
						//- .form-group.form-file-upload.form-file-multiple
						//- 	.fileinput.fileinput-new.text-center(data-provides='fileinput')
						//- 		.fileinput-new.thumbnail.img-no-padding(style='max-width: 400px; max-height: 250px;')
						//- 			img(src='/img/image_holder.png', alt='...')
						//- 		.fileinput-preview.fileinput-exists.thumbnail.img-no-padding(style='max-width: 400px; max-height: 250px;')
						//- 		div
						//- 			span.btn.btn-default.btn-file.btn-round
						//- 				span.fileinput-new 
						//- 					i.fa.fa-cloud-upload
						//- 				span.fileinput-exists Change
						//- 				input(type='file', name='image' accept='image/*' required)
						//- 			a.btn.btn-link.btn-danger.fileinput-exists.btn-round(href='javascript:void(0)', data-dismiss='fileinput')
						//- 				i.fa.fa-times
						//- 				|  Remove
							

				.row#principalSponsor
					.col-md-6
						.form-group.m-0
							h5.label-control Principal Sponsors
							input.form-control(type='text' name='sponsorname')
					.col-md-6
						.form-group
							h5.label-control.invisible Principal Sponsors
							input.form-control.balance(type='text' name='sponsorname')
					//- .col-md-6.mb-4.pb-3
					//- 	.input-group
					//- 		input.form-control(type='text', name='sponsorname')
					//- 		.input-group-prepend
					//- 			span.btnDelete.input-group-text.rounded
					//- 				i.material-icons.text-danger delete
				button#addAdditionalSponsor.btn.btn-success.btn-fab.btn-fab-mini.btn-round.ml-2(type="button")
					i.fa.fa-plus
				.row#additionalSponsor
					.col-md-6.mt-3
						.form-group.m-0
							h5.label-control Additional Sponsors
							input.form-control(type='text' name='sponsorname')
					.col-md-6.my-3
						.form-group
							h5.label-control.invisible Additional Sponsors
							input.form-control.balance(type='text' name='sponsorname')
					//- .col-md-6.mb-4.pb-3
					//- 	.input-group
					//- 		input.form-control(type='text', name='sponsorname')
					//- 		.input-group-prepend
					//- 			span.btnDelete.input-group-text.rounded
					//- 				i.material-icons delete

				.row
					.col-md-12.my-5.text-center
						.learn-more
							button.btn.std-btn.btn-common#submit(type='submit') Submit


block addjs
	script.
		//- $('.selectpicker').selectpicker({
		//- 	style: 'btn-primary',
		//- 	size: 4
		//- });
	
		$('#textarea1').hide();
		$('#textarea2').hide();
		$('#radioup').click(function() {
			$('#textarea1').slideUp();
			$('#textarea2').slideUp();
		});
		$('#exampleRadios1').click(function() {
			$('#textarea1').slideDown();
			$('#textarea2').slideUp();
		});
		$('#exampleRadios3').click(function() {
			$('#textarea1').slideUp();
			$('#textarea2').slideDown();
		});
		
		$('#regular').hide();
		$('#special').hide();

		$('#radio1').click(function() {
			$('#regular').slideDown();
			$('#special').slideUp();
		});
		$('#radio2').click(function() {
			$('#special').slideDown();
			$('#regular').slideUp();
		});

		//add and delete side

		$("#addPrincipalSponsor").click(function(event){
				var principal = "<div class='col-md-6 mb-4 pb-3'><div class='input-group'><input type='text' name='sponsorname' class='form-control'/><div class='input-group-prepend'><span class='btnDelete p-1 input-group-text rounded'><i class='fa fa-trash'></i></span></div></div></div>"
				$(principal).hide().appendTo("#principalSponsor").fadeIn(500);
		});

		$("#principalSponsor").on("click", ".btnDelete", function(event){
			$(this).parent().parent().parent().fadeOut(500, function(){
				$(this).remove();
			});
			event.stopPropagation();
		});

		$("#addAdditionalSponsor").click(function(event){
				var item2 = "<div class='col-md-6 mb-4 pb-3'><div class='input-group'><input type='text' name='sponsorname' class='form-control'/><div class='input-group-prepend'><span class='btnDelete p-1 input-group-text rounded'><i class='fa fa-trash'></i></span></div></div></div>"
				$(item2).hide().appendTo("#additionalSponsor").fadeIn(500);
		});

		$("#additionalSponsor").on("click", ".btnDelete", function(event){
			$(this).parent().parent().parent().fadeOut(500, function(){
				$(this).remove();
			});
			event.stopPropagation();
		});