extends ../../../../templates/guests
block main
	style.
		@media screen and (max-width: 576px) {
			.col-md-4, .col-md-6, .col-md-9 {
				padding-left: 0;
				padding-right: 0;
			}
			.form-wizard-step {
				padding-bottom: 10px !important;
			}
		}
	#headers
		#header-style-1
			.container
				.header-caption
					.row
						.col-md-12.header-content
							h3.header-title.animated.fadeInDown.invisible
								span.text-primary Helium - 
								| Bootstrap 4 UI Kit
							h6.header-text.animated.fadeIn.invisible
								| Lorem ipsum dolor sit amet, consectetuer adipiscing elit<br>Lorem ipsum dolor sit amet, consectetuer.</h6>
							//- a.page-scroll.btn.btn-lg.btn-default-filled.animated.fadeInUp.invisible(href="#") Download Now
							//- a.page-scroll.btn.btn-lg.btn-secondary.animated.fadeInUp.invisible.destination(href="#") Explore
	#raised-section.main.main-raised
		section.form-box
			.container
				.row
					.col-md-12.form-wizard
						// Form Wizard
						form(role='form' action="/guest/baptism/form" enctype="multipart/form-data" method="post")
							h3 Baptism Application
							p Fill all form field to go next step
							// Form progress
							.form-wizard-steps.form-wizard-tolal-steps-3
								.form-wizard-progress
									.form-wizard-progress-line(data-now-value='12.25' data-number-of-steps='3' style='width: 12.25%;')
								// Step 1
								.form-wizard-step.active
									.form-wizard-step-icon
										i.fa.fa-user(aria-hidden='true')
									p.d-none.d-sm-block Personal Information
								// Step 1
								// Step 2
								.form-wizard-step
									.form-wizard-step-icon
										i.fa.fa-location-arrow(aria-hidden='true')
									p.d-none.d-sm-block Baptism Details
								// Step 2
								// Step 3
								.form-wizard-step
									.form-wizard-step-icon
										i.fa.fa-briefcase(aria-hidden='true')
									p.d-none.d-sm-block Sponsors Information
								// Step 3
							// Form progress
							// Form Step 1
							fieldset
								h4
									.d-none.d-sm-inline Personal Information: 
									span Step 1 - 3
								.form-group
									br
									input.form-control(type='hidden' name='userID' value=`${user.int_userID}`)
									.container
										h6.label-control Name of the child:
										.row
											.col-md-4.px-lg-3.px-md-0.px-sm-0
												.form-group.pt-0
													input.form-control(type='text' placeholder="Last Name" name='lastname')
											.col-md-4.p-lg-0.px-md-3.px-sm-0
												.form-group.pt-0
													input.form-control(type='text' placeholder="First Name" name='firstname')
											.col-md-4.px-lg-3.px-md-0.px-sm-0
												.form-group.pt-0
													input.form-control(type='text' placeholder="Middle Name" name='middlename')
										.row
											.col-md-4.px-lg-3.px-md-0.px-sm-0
												.form-group.m-0
													h6.label-control Gender
													.custom-control.custom-radio
														input#customRadio1.custom-control-input(type='radio', name='gender' value="Male")
														label.custom-control-label(for='customRadio1') 
															| Male
													.custom-control.custom-radio
														input#customRadio2.custom-control-input(type='radio', name='gender' value="Female")
														label.custom-control-label(for='customRadio2') 
															| Female

											.col-md-4.p-lg-0.px-md-3.px-sm-0
												.form-group
													h6.label-control Birthday
													input.datepicker.form-control(type='date' name='birthday')
											.col-md-4.px-lg-3.px-md-0.px-sm-0
												.form-group
													h6.label-control Birthplace:
													input.form-control(type='text' name='birthplace' placeholder="Ex. Payatas, Quezon City")
										.row
											.col-md-6.px-lg-3.px-md-3.px-sm-0
												.form-group
													h6.label-control Father's Full Name:
													input.form-control(type='text' name='fathername' placeholder="Ex. Ernesto Dela Cruz")
											.col-md-6.px-lg-3.px-md-3.px-sm-0
												.form-group
													h6.label-control Father's Birthplace:
													input.form-control(type='text' name='fatherbirthplace' placeholder="Ex. Caloocan, Quezon City")
										.row
											.col-md-6.px-lg-3.px-md-3.px-sm-0
												.form-group
													h6.label-control Mother's Full name:
													input.form-control(type='text' name='mothername' placeholder="Ex. Maria Leonora Dela Cruz")
											.col-md-6.px-lg-3.px-md-3.px-sm-0
												.form-group
													h6.label-control Mother's birthplace:
													input.form-control(type='text' name='motherbirthplace' placeholder="Ex. San Isidro, Quezon City")
										.row
											.col-md-6.px-lg-3.px-md-3.px-sm-0
												.form-group
													h6.label-control Relationship with the Child
													select(type="text" name='relation')
														option(selected="" value="" disabled) Choose...
														option Parent
														option Grandparent
														option Aunt/Uncle
											.col-md-6.px-lg-3.px-md-3.px-sm-0
												.form-group
													h6.label-control Family's Contact number
													input#datepicker.form-control(type='text' name='contactnumber' placeholder="Ex. 09423523412")
										.row
											.col-md-6.px-lg-3.px-md-3.px-sm-0
												.form-group
													h6(for='exampleFormControlTextarea1') Parent's Marriage Address:
													textarea#exampleFormControlTextarea1.form-control(rows='2' name='marriageaddress' placeholder="Ex. Urban, Bgy. Payatas B 1119 QC")
											.col-md-6.px-lg-3.px-md-3.px-sm-0
												.form-group
													h6(for='exampleFormControlTextarea1') Family address:
													textarea#exampleFormControlTextarea1.form-control(rows='2' name='address' placeholder="Ex. 75 P. Domingo Street, Carmona, Makati City")
										.row
											.col-md-6
											.col-md-6.px-lg-3.px-md-3.px-sm-0
												.form-group
													h6.label-control Select Image
													input#datepicker(type='file' name='image')
										.learn-more.pull-right
											button.btn.btn-next(type='button') Next

							// Form Step 1
							// Form Step 2
							fieldset
								h4
									.d-none.d-sm-inline Baptism Details: 
									span Step 2 - 3
									.container
										.row
											.col-md-3.px-lg-3.px-md-0.px-sm-0
												.form-group
													br
													h6.label-control Baptism Type & Date:
														.custom-control.custom-radio.mt-2
															input#radio1.custom-control-input(type='radio', name='baptismtype' value="Regular")
															label.custom-control-label(for='radio1') 
																h6 Regular
														.custom-control.custom-radio
															input#radio2.custom-control-input(type='radio', name='baptismtype' value="Special")
															label.custom-control-label(for='radio2') 
																h6 Special
										.row
											.col-md-9.px-lg-3.px-md-3.px-sm-0
												#regular.mt-4
													.form-group
														h6.label-control Regular Baptism Date
														input.datepicker1.RegularDesiredDate.form-control(type='date' name='regdesireddate')
												#special
													.row.mt-4
														.col-md-6.px-lg-3.px-md-3.px-sm-0
															.form-group
																h6.label-control Special Baptism Date
																	input.datepicker.SpecialDesiredDate.form-control(type='date' name='spcdesireddate')
														.col-md-6.mt-2.px-lg-3.px-md-3.px-sm-0
															.form-group
																h6.label-control Special Baptism Time
																	br
																	select(type="text" name='desiredtime')
																		option(selected="" value="" disabled) Choose...
																		each time in times
																			option=time.time_availabletime
								.learn-more.pull-right
									button.btn.std-btn.btn-secondary.btn-previous.m-0(type='button') Prev
									button.btn.btn-next(type='button') Next
							// Form Step 2
							// Form Step 3
							fieldset
								h4
									.d-none.d-sm-inline Sponsors Information:
									span Step 3 - 3
									h6.label-control Principal Sponsors
										.row#principalSponsor
											.col-md-6.px-lg-3.px-md-3.px-sm-0
												.form-group.m-0
													input.form-control(type='text' name='sponsorname' placeholder="First Name")
											.col-md-6.px-lg-3.px-md-3.px-sm-0
												.form-group.m-0
													input.form-control.balance(type='text' name='sponsorname' placeholder="Last Name")
										button#addAdditionalSponsor.btn.btn-success.btn-fab.btn-fab-mini.btn-round.ml-2(type="button")
											i.fa.fa-plus
									h6.label-control Additional Sponsors
										.row#additionalSponsor
											.col-md-6.px-lg-3.px-md-3.px-sm-0
												.form-group.m-0
													input.form-control(type='text' name='sponsorname' placeholder="First Name")
											.col-md-6.px-lg-3.px-md-3.px-sm-0
												.form-group.m-0
													input.form-control.balance(type='text' name='sponsorname' placeholder="Last Name")
								br
								.learn-more.pull-right
									button.btn.std-btn.btn-secondary.btn-previous.m-0(type='button') Prev
									button.btn.btn-submit(type='submit') Submit
							// Form Step 3
						// Form Wizard
block addjs
	script.
	
		$('#textarea1').hide();
		$('#textarea2').hide();
		$('#radioup').click(function() {
			$('#textarea1').slideUp();
			$('#textarea2').slideUp();
		});
		$('#exampleRadios1').click(function() {
			$('#textarea1').slideDown();
			$('#textarea2').slideUp();
		});
		$('#exampleRadios3').click(function() {
			$('#textarea1').slideUp();
			$('#textarea2').slideDown();
		});
		
		$('#regular').hide();
		$('#special').hide();

		$('#radio1').click(function() {
			$('#regular').slideDown();
			$('#special').slideUp();
		});
		$('#radio2').click(function() {
			$('#special').slideDown();
			$('#regular').slideUp();
		});

		//add and delete side

		$("#addPrincipalSponsor").click(function(event){
				var principal = "<div class='col-md-6 mb-4 pb-3'><div class='input-group'><input type='text' name='sponsorname' class='form-control'/><div class='input-group-prepend'><span class='btnDelete p-1 input-group-text rounded'><i class='fa fa-trash'></i></span></div></div></div>"
				$(principal).hide().appendTo("#principalSponsor").fadeIn(500);
		});

		$("#principalSponsor").on("click", ".btnDelete", function(event){
			$(this).parent().parent().parent().fadeOut(500, function(){
				$(this).remove();
			});
			event.stopPropagation();
		});

		$("#addAdditionalSponsor").click(function(event){
				var item2 = "<div class='col-md-6 mb-4 pb-3'><div class='input-group'><input type='text' name='sponsorname' class='form-control'/><div class='input-group-prepend'><span class='btnDelete p-1 input-group-text rounded'><i class='fa fa-trash'></i></span></div></div></div>"
				$(item2).hide().appendTo("#additionalSponsor").fadeIn(500);
		});

		$("#additionalSponsor").on("click", ".btnDelete", function(event){
			$(this).parent().parent().parent().fadeOut(500, function(){
				$(this).remove();
			});
			event.stopPropagation();
		});
