extends ../../../../templates/guests
block main
	.profile-page
		#heading-page.page-header.header-filter(data-parallax="true" style="background-image: url('/img/docu1.jpg');")
			.container
				.row
					.col-md-9.main-header__textbox
						h1.font-italic Document Request
		#raised-section.main.main-raised
			.container
				.row
					.col-md-12
						hr.mt-5.mx-5
				.row
					.col-md-12.my-3
						h3.text-center.text-uppercase.guidelines--text Request Form
				.row
					.col-md-8.my-auto.mx-auto
							.form-group
								label.label-control Document
									select.selectpicker.form-control#documenttype(type="text" name='documenttype')
										option Baptismal Certificate
										option Confirmation Certificate
										option First Communion Certificate
							.row
								.col-md-12.my-3
									label.label-control Person in the Certificate:
							.row
								.col-md-6.my-3
									input#lastName.form-control(type='text' name='lastname' placeholder='Last name')
								.col-md-6.my-3
									input#firstName.form-control(type='text' name='firstname' placeholder='First name')
							.row
								.col-md-9.my-3
									label.label-control Event Date
									input#eventDate.datepicker.form-control(type='date' name='start')
							.row
								.col-md-12.my-3
									.form-group
										label(for='exampleFormControlTextarea1') Purpose:
										textarea#purpose.form-control(rows='3' name= 'purpose')
							.form-group
								.file-loading
									input#file-0b.file(type='file',accept='image/*',name="image")
							.row
								.col-md-12.my-5.text-center
									button.btn.btn-primary#submit(type="button") Submit
			block addjs
				script.
					$(document).ready(function(){
						$("#file-0b").fileinput();
						$('#submit').click(function(){
						var eventDate = moment($('#eventDate').val()).format('YYYY-MM-DD');
						 $.post('/guest/document/form/query',{
						 	eventDate:eventDate,
						 	firstName:$('#firstName').val(),
						 	lastName:$('#lastName').val(),
						 	documentType:$('#documenttype').val(),
							 }).done(data=>{
							 	var fnInput = $('#lastname').val() + ', ' + $('#firstname').val();
							 	var documentType = $('#documenttype').val();
							 	var fnValidate = data.var_doclastname + ', ' + data.var_docfirstname;
							 	if(fnInput == fnValidate && eventDate == data.date_approveddate && documentType == data.var_documenttype){
								var formData = new FormData();
								formData.append('documenttype', $('#documenttype').val())
								formData.append('image', $('#file-0b')[0].files[0]);
								formData.append('lastname', $('#lastname').val())
								formData.append('firstname', $('#firstname').val())
								formData.append('eventDate', $('#eventDate').val())
								formData.append('purpose', $('#purpose').val())
								$.ajax({
									type:'POST',
									url:'/guest/document/form',
									data: formData,
									processData:false,
									contentType:false,
									success: function(data){
										swal({
											title:'You can wait until 3 days, wait for an email coming',
											icon:'success',
											buttons: {
												Okay: 'okay'
											}
										}).then((value)=>{
											window.location='/guest'
										})
									}
								})
								}
								else{
									success: function(data){
										swal({
											title:'Sorry but your transaction did not exist',
											icon:'warning',
											buttons: {
												Okay: 'okay'
											}
										}).then((value)=>{
											window.location='/guest'
										})
									}
								}
						 })
						 })
					})
					
