extends ../../../../templates/guests
block main
	#headers
		#header-style-1
			.container
				.header-caption
					.row
						.col-md-12.header-content
							h3.header-title.animated.fadeInDown.invisible
								span.text-primary Helium - 
								| Bootstrap 4 UI Kit
							h5.header-text.animated.fadeIn.invisible
								| Lorem ipsum dolor sit amet, consectetuer adipiscing elit<br>Lorem ipsum dolor sit amet, consectetuer.</h5>
							//- a.page-scroll.btn.btn-lg.btn-default-filled.animated.fadeInUp.invisible(href="#") Download Now
							//- a.page-scroll.btn.btn-lg.btn-common.animated.fadeInUp.invisible(href="#") Explore
		#raised-section.main.main-raised
			.container
				.row
					.col-md-12
						hr.mt-5.mx-5
				.row
					.col-md-12.my-3
						h3.text-center.text-uppercase.guidelines--text Request Form
				form(action="/guest/funeral/form" enctype="multipart/form-data" method="post")
					input.form-control(type='hidden' name='userID' value=`${user.int_userID}`)
					.row
						.col-md-6.my-3
							.form-group
								label.label-control Name of the deceased:
								.row
									.col-md-4
										.form-group.pt-0
											input.form-control(type='text' placeholder="Last Name" name='lastname')
									.col-md-4.p-0
										.form-group.pt-0
											input.form-control(type='text' placeholder="First Name" name='firstname')
									.col-md-4
										.form-group.pt-0
											input.form-control(type='text' placeholder="Middle Name" name='middlename')
							.form-group.m-0
								label.label-control Gender:
									.form-check.ml-3
										label.form-check-label
											input.form-check-input(type="radio" name="gender" id="exampleRadios2" value="Male")
											| Male
											span.circle
												span.check
										label.form-check-label.ml-3
											input.form-check-input(type="radio" name="gender" id="exampleRadios2" value="Female")
											| Female
											span.circle
												span.check
							.form-group
								label.label-control Birthday
								input.datepicker.form-control(type='date' name='birthday')
							.form-group
								label.label-control Birthplace:
								input.form-control(type='text' name='birthplace')
							.form-group
								label(for='exampleFormControlTextarea1') Address:
								textarea#exampleFormControlTextarea1.form-control(rows='2' name='address')
							.row
								.col-md-6
									.form-group
										label.label-control Desired Date
										input.datepickerFBlessingDesiredDate.form-control(type='date' name='desireddate')
								.col-md-6
									.form-group.mt-1
										label.label-control Desired Time
										input.timepicker.form-control(type='text' name='desiredtime')
							//- .row
							//- 	.col-md-6
							//- 		.form-group
							//- 			label.label-control Alternative Date
							//- 			input.datepicker3.form-control(type='date' name='desireddate2')
							//- 	.col-md-6
							//- 		.form-group.mt-1
							//- 			label.label-control Alternative Time
							//- 			input.timepicker.form-control(type='text' name='desiredtime2')
						.col-md-6.my-3
							.form-group
								label.label-control Relationship with the Deceased
									select.selectpicker.form-control(type="text" name='relation')
										option Spouse
										option Parent
										option Child
										option Grandparent
										option Grandchild
										option Aunt/Uncle
										option Nephew/Niece
										option BF/GF
										option Friend
							.form-group
								label.label-control Cause of Death:
								input.form-control(type='text' name='details')
							.form-group
								label.label-control Place where the will happen:
								.ml-4
									.form-check
										label.form-check-label
											input.form-check-input(type="radio" name="venue" id="exampleRadios1" value="sameaddress" checked)
											| Same as his/her address
											span.circle
												span.check
									.form-check
										label.form-check-label
											input#radioup.form-check-input(type="radio" name="venue" value="INLPP")
											| INLPP
											span.circle
												span.check
									.form-check
										label.form-check-label
											input#exampleRadios3.form-check-input(type="radio" name="venue" value="other")
											.dropdown-toggle.mr-3 Other
											span.circle
												span.check
										#textarea2.form-group
											textarea.form-control(placeholder="Please Enter Complete Address" rows="3" name='othervenue')
									
							.form-group.form-file-upload.form-file-multiple
								.fileinput.fileinput-new.text-center(data-provides='fileinput')
									.fileinput-new.thumbnail.img-no-padding(style='max-width: 400px; max-height: 250px;')
										img(src='/img/image_holder.png', alt='...')
									.fileinput-preview.fileinput-exists.thumbnail.img-no-padding(style='max-width: 400px; max-height: 250px;')
									div
										span.btn.btn-default.btn-file.btn-round
											span.fileinput-new 
												i.fa.fa-cloud-upload
											span.fileinput-exists Change
											input(type='file', name='birthCertificate' accept='image/*' required)
										a.btn.btn-link.btn-danger.fileinput-exists.btn-round(href='javascript:void(0)', data-dismiss='fileinput')
											i.fa.fa-times
											|  Remove
							.form-group.form-file-upload.form-file-multiple
								.fileinput.fileinput-new.text-center(data-provides='fileinput')
									.fileinput-new.thumbnail.img-no-padding(style='max-width: 400px; max-height: 250px;')
										img(src='/img/image_holder.png', alt='...')
									.fileinput-preview.fileinput-exists.thumbnail.img-no-padding(style='max-width: 400px; max-height: 250px;')
									div
										span.btn.btn-default.btn-file.btn-round
											span.fileinput-new 
												i.fa.fa-cloud-upload
											span.fileinput-exists Change
											input(type='file', name='deathCertificate' accept='image/*')
										a.btn.btn-link.btn-danger.fileinput-exists.btn-round(href='javascript:void(0)', data-dismiss='fileinput')
											i.fa.fa-times
											|  Remove
					.row
						.col-md-12.my-5.text-center
							button.btn.btn-primary(type='submit') Submit

block addjs
	script.
		$('#textarea1').hide();
		$('#textarea2').hide();
		$('#radioup').click(function() {
			$('#textarea1').slideUp();
			$('#textarea2').slideUp();
		});
		$('#exampleRadios1').click(function() {
			$('#textarea1').slideDown();
			$('#textarea2').slideUp();
		});
		$('#exampleRadios3').click(function() {
			$('#textarea1').slideUp();
			$('#textarea2').slideDown();
		});
