extends ../../../../templates/guests
block main
	style.
		@import url(https://fonts.googleapis.com/css?family=Roboto:500,700);

		*, *::before, *::after {
			box-sizing: border-box;
		}

		html {
			min-height: 100%;
		}

		body {
			//- margin: 20px;
			color: #435757;
			//- background: linear-gradient(-20deg, #d0b782 20%, #a0cecf 80%);
			background-image: url(/img/casamento.jpg);
			font: 500 1.2em/1.2 'Roboto', sans-serif;
		}
		#main-navbar > ul > li > a {
			color: #585b60;
		}

		.custom_container {
			max-width: 450px;
			margin: 120px 0px 120px 100px;
			border-top: 5px solid #435757;
			background-color: rgba(255, 255, 255, .2);
			box-shadow: 0 0 20px rgba(0, 0, 0, .1);
			user-select: none;
		}

		.custom_container_details {
			max-width: 600px;
			margin: 120px 0 120px 0px;
			border-top: 5px solid #435757;
			background-color: rgba(255, 255, 255, .6);
			box-shadow: 0 0 20px rgba(0, 0, 0, .1);
			user-select: none;
		}

		h1 {
			margin: 0;
			padding: 20px;
			background-color: rgba(255, 255, 255, .4);
			font-size: 1.8em;
			text-align: center;
		}

		.items {
			display: flex;
			flex-direction: column;
			padding: 20px;
			counter-reset: done-items undone-items;
		}

		h2 {
			position: relative;
			margin: 0;
			padding: 10px 0;
			font-size: 1.2em;
		}

		h2::before {
			content: '';
			display: block;
			position: absolute;
			top: 10px;
			bottom: 10px;
			left: -20px;
			width: 5px;
			background-color: #435757;
		}

		h2::after {
			display: block;
			float: right;
			font-weight: normal;
		}

		.done {
			order: 1;
		}

		.done::after {
			content: ' (' counter(done-items) ')';
		}
		.done1 {
			order: 1;
		}
		.done1::after {
		}

		.undone {
			order: 3;
		}

		.undone::after {
			content: ' (' counter(undone-items) ')';
		}

		/* hide inputs offscreen, but at the same vertical positions as the correpsonding labels, so that tabbing scrolls the viewport as expected */
		input {
			display: block;
			height: 53px;
			margin: 0 0 -53px -9999px;
			order: 4;
			outline: none;
			counter-increment: undone-items;
		}

		input:checked {
			order: 2;
			counter-increment: done-items;
		}

		label {
			display: block;
			position: relative;
			padding: 5px 0 5px 45px;
			border-top: 1px dashed #fff;
			order: 4;
			cursor: pointer;
			animation: undone .5s;
		}

		label::before {
			content: '\f10c'; /* circle outline */
			display: block;
			position: absolute;
			top: 3px;
			left: 10px;
			font: 1.5em 'FontAwesome';
		}

		label:hover, input:focus + label {
			background-color: rgba(255, 255, 255, .2);
		}

		input:checked + label {
			order: 2;
			animation: done .5s;
		}

		input:checked + label::before {
			content: '\f058'; /* circle checkmark */
		}

		@keyframes done {
			0% {
				opacity: 0;
				background-color: rgba(255, 255, 255, .4);
				transform: translateY(20px);
			}
			50% {
				opacity: 1;
				background-color: rgba(255, 255, 255, .4);
			}
		}

		@keyframes undone {
			0% {
				opacity: 0;
				background-color: rgba(255, 255, 255, .4);
				transform: translateY(-20px);
			}
			50% {
				opacity: 1;
				background-color: rgba(255, 255, 255, .4);
			}
		}

		/*added css*/
		body > div.row > div:nth-child(1) {
			max-width:45%
		}
		.display_on {
			display: block
		}
		.display_off {
			display: none
		}
		#main-navbar > ul > li > a {
			color: white;
		}
	//
		Checkbox Trickery with CSS:
		http://codersblock.com/blog/checkbox-trickery-with-css/
	.row
		.col-md-6.col-sm-12
			.custom_container
				h1 Wedding Steps:
				.row
					.col-md-6
				.items
					input#item1(type='checkbox', checked='' disabled)
					label.information(for='item1') Reservation
					input#item2(type='checkbox' checked='' disabled)
					label.information1(for='item2') Application Request
					input#item3(type='checkbox' checked='' disabled)
					label.information2(for='item3') Payment
					input#item4(type='checkbox' checked='' disabled)
					label.information3(for='item4') Cannonical Interview
					input#item5(type='checkbox' checked='' disabled)
					label.information4(for='item5') Submission of Requirements
					input#item6(type='checkbox' checked='' disabled)
					label.information5(	='item6') Issue of Marriage Banns
					input#item7(type='checkbox')
					label.information6(for='item7') Pre - Cana
					h2.done(aria-hidden='true') Done
					h2.undone(aria-hidden='true') Not Done
		.col-md-6.col-sm-12.information_details.display_off
			.custom_container_details
				h1 Payment:
				.items.pb-0
					h2.done1(aria-hidden='true') Reservation
						p Modes of payment: Half or Full Payment.

						br 
						p You will be given voucher which you will present to the cashier once you pay. The voucher has expiration date so remember to pay before the deadline. If you don't, your application will be considered as cancelled.
				//- .items.pt-0
				//- 	input#item8(type='checkbox', checked='')
				//- 	label(for='item8') Reservation
				//- 	input#item9(type='checkbox', checked='')
				//- 	label(for='item9') Application Request
				//- 	h2.done(aria-hidden='true') Done
				//- 	h2.undone(aria-hidden='true') Not Done
		.col-md-6.col-sm-12.information_details1.display_off
			.custom_container_details
				h1 Information:
				.items.pb-0
					h2.done1(aria-hidden='true') Pre-Cana Seminar
						br
						//- p The wedding date won't be settled until you completed the requirements. 

						p Pre-Cana is a course or consultation Catholic couples must undergo before they can be married in a Catholic church. The name is derived from John 2:1-12, the wedding feast at Cana in Galilee, where Jesus performed the miracle of turning water into wine.

						p Approaches to Pre-Cana vary among Catholic dioceses and parishes. Often six weekly sessions will be led by a priest or deacon with support from a married Catholic couple. Common topics include: compatibility of the couple, basic principles of Catholic marriage and family life (namely theological meaning of marriage), conflict resolution within marriage, rules the couple are expected to follow.
						br
						//- p <strong> Total Amount: </stong> P1,500
						//- p The Marriage Banns must return on 
						p <strong>Schedule for Pre-Cana Seminar: </strong> December 15, 2018
						//- br
						//- br
						//- p.label-control 
						//- 	a(href=`/guest/voucher` style= 'margin-left: 3px; color: red' target="_blank" ) Click Here To Save and Print Voucher
				//- .items.pt-0
				//- 	p(style='font-size: 23px') <strong> Requirements</strong>
				//- 	input#item8(type='checkbox', checked='')
				//- 	label(for='item8') Birth Certificates
				//- 	input#item9(type='checkbox', checked='')
				//- 	label(for='item9') Valid IDs
				//- 	input#item9(type='checkbox', checked='')
				//- 	label(for='item9') Baptismal Certificates
					
				//- 	input#item9(type='checkbox', checked='')
				//- 	label(for='item9') Confirmation Certificates
				//- 	input#item9(type='checkbox', checked='')
				//- 	label(for='item9') CENOMAR of the Bride
				//- 	input#item9(type='checkbox', checked='')
				//- 	label(for='item9') CENOMAR of the groom 
				//- 	input#item9(type='checkbox', checked='')
				//- 	label(for='item9') Marriage Contract
				//- 	input#item9(type='checkbox', checked='')
				//- 	label(for='item9') Marriage Lincense
				//- 	input#item9(type='checkbox', checked='')
				//- 	label(for='item9') Permission from the Bride's Parish
				//- 	input#item9(type='checkbox', checked='')
				//- 	label(for='item9') Marriage Banns
				//- 	h5.done(aria-hidden='true') Submitted
				//- 	h5.undone(aria-hidden='true') To be submitted
		//- .col-md-6.col-sm-12.information_details2.display_off
		//- 	.custom_container_details
		//- 		h1 Information:
		//- 		.items.pb-0
		//- 			h2.done1(aria-hidden='true') Payment
		//- 				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aliquid nihil eius recusandae blanditiis aperiam, delectus veritatis excepturi minus, magni voluptatum quia nam incidunt inventore id aut eaque minima tenetur.
		//- 		.items.pt-0
		//- 			input#item8(type='checkbox', checked='')
		//- 			label(for='item8') Reservation
		//- 			input#item9(type='checkbox', checked='')
		//- 			label(for='item9') Application Request
		//- 			h2.done(aria-hidden='true') Done
		//- 			h2.undone(aria-hidden='true') Not Done
		//- .col-md-6.col-sm-12.information_details3.display_off
		//- 	.custom_container_details
		//- 		h1 Information:
		//- 		.items.pb-0
		//- 			h2.done1(aria-hidden='true') Cannonical Interview
		//- 				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aliquid nihil eius recusandae blanditiis aperiam, delectus veritatis excepturi minus, magni voluptatum quia nam incidunt inventore id aut eaque minima tenetur.
		//- 		.items.pt-0
		//- 			input#item8(type='checkbox', checked='')
		//- 			label(for='item8') Reservation
		//- 			input#item9(type='checkbox', checked='')
		//- 			label(for='item9') Application Request
		//- 			h2.done(aria-hidden='true') Done
		//- 			h2.undone(aria-hidden='true') Not Done
		//- .col-md-6.col-sm-12.information_details4.display_off
		//- 	.custom_container_details
		//- 		h1 Information:
		//- 		.items.pb-0
		//- 			h2.done1(aria-hidden='true') Submission of Requirements
		//- 				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aliquid nihil eius recusandae blanditiis aperiam, delectus veritatis excepturi minus, magni voluptatum quia nam incidunt inventore id aut eaque minima tenetur.
		//- 		.items.pt-0
		//- 			input#item8(type='checkbox', checked='')
		//- 			label(for='item8') Reservation
		//- 			input#item9(type='checkbox', checked='')
		//- 			label(for='item9') Application Request
		//- 			h2.done(aria-hidden='true') Done
		//- 			h2.undone(aria-hidden='true') Not Done
		.col-md-6.col-sm-12.information_details5.display_off
			.custom_container_details
				h1 Information:
				.items.pb-0
					h2.done1(aria-hidden='true') Pre-cana Seminar
						
						p Pre-Cana is a course or consultation Catholic couples must undergo before they can be married in a Catholic church. The name is derived from John 2:1-12, the wedding feast at Cana in Galilee, where Jesus performed the miracle of turning water into wine.

						p Approaches to Pre-Cana vary among Catholic dioceses and parishes. Often six weekly sessions will be led by a priest or deacon with support from a married Catholic couple. Common topics include: compatibility of the couple, basic principles of Catholic marriage and family life (namely theological meaning of marriage), conflict resolution within marriage, rules the couple are expected to follow.
				//- .items.pt-0
				//- 	input#item8(type='checkbox', checked='')
				//- 	label(for='item8') Reservation
				//- 	input#item9(type='checkbox', checked='')
				//- 	label(for='item9') Application Request
				//- 	h2.done(aria-hidden='true') Done
				//- 	h2.undone(aria-hidden='true') Not Done
		//- .col-md-6.col-sm-12.information_details6.display_off
		//- 	.custom_container_details
		//- 		h1 Information:
		//- 		.items.pb-0
		//- 			h2.done1(aria-hidden='true') Pre - Cana
		//- 				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aliquid nihil eius recusandae blanditiis aperiam, delectus veritatis excepturi minus, magni voluptatum quia nam incidunt inventore id aut eaque minima tenetur.
		//- 		.items.pt-0
		//- 			input#item8(type='checkbox', checked='')
		//- 			label(for='item8') Reservation
		//- 			input#item9(type='checkbox', checked='')
		//- 			label(for='item9') Application Request
		//- 			h2.done(aria-hidden='true') Done
		//- 			h2.undone(aria-hidden='true') Not Done
block addjs
	script.
		$(document).ready(function() {
			$('.information').click(function() {
				$('.information_details').toggleClass("animated fadeInDown faster display_off")
			});
			$('.information1').click(function() {
				$('.information_details1').toggleClass("animated fadeInDown faster display_off")
			});
			$('.information2').click(function() {
				$('.information_details2').toggleClass("animated fadeInDown faster display_off")
			});
			$('.information3').click(function() {
				$('.information_details3').toggleClass("animated fadeInDown faster display_off")
			});
			$('.information4').click(function() {
				$('.information_details4').toggleClass("animated fadeInDown faster display_off")
			});
			$('.information5').click(function() {
				$('.information_details5').toggleClass("animated fadeInDown faster display_off")
			});
			$('.information6').click(function() {
				$('.information_details6').toggleClass("animated fadeInDown faster display_off")
			});
		});