extends ../../../../templates/guests
block main
	.profile-page
		//- Heading Page
		#heading-page.page-header.header-filter(data-parallax="true" style="background-image: url('/img/events/rings3.jpg');")
			.container
				.row
					.col-md-9.main-header__textbox
						h1.font-italic Marriage
						a(href="/guest/marriage/form")
							p.text-uppercase.card-desc
								| Guidelines | Requirements
		#raised-section.main.main-raised
			.container
				.row
					.col-md-12
						hr.mt-5.mx-5
				//- .row#show
				//- 	.col-md-12.my-3
				//- 		h3.text-center.text-uppercase.guidelines--text Application Form
				.row
					.col-md-12.my-3
						form#form(action="/guest/marriage/form" method="post")
							input.form-control(type='hidden' name='userID' value=`${user.int_userID}`)
							.row.tab
								.col-md-12
									h1.main--header.font-italic.text-center Reservation
									.row
										.col-md-6.mx-auto.my-auto
											.form-group
												label.label-control.text-center Desired Date
												input.datepicker2.form-control(type='date' name='desireddate')
											.row
												.col-md-3.mx-auto.my-auto
													.form-group
														label.label-control.text-center Desired Time
															select.selectpicker.form-control(type="text" name='desiredtime')
																option 10:00AM
																option 11:00AM
																option 1:00PM
																option 2:00PM
							.row.tab
								.col-md-12
									h1.main--header.font-italic.text-center Groom
									.row
										.col-md-6.my-3
											.form-group
												label.label-control Name
												.row
													.col-md-4
														.form-group.pt-0
															input.form-control(type='text' placeholder="Last Name" name='lastname')
													.col-md-4
														.form-group.pt-0
															input.form-control(type='text' placeholder="First Name" name='firstname')
													.col-md-4
														.form-group.pt-0
															input.form-control(type='text' placeholder="Middle Name" name='middlename')
											.form-group
												label.label-control Birthday
												input.datepicker2.form-control(type='date' name='birthday')
											.form-group
												label.label-control Birthplace:
												input.form-control(type='text' name='birthplace')
											.form-group
												label(for='exampleFormControlTextarea1') Address:
												textarea#exampleFormControlTextarea1.form-control(rows='2' name='address')
											.form-group
												label.label-control Nationality:
												input.form-control(type='text' name='gnationality')
											.row
												.col-md-6.my-3
													.form-group
														label.label-control Civil Status
															select.selectpicker.form-control(type="text" name='gcivilstatus')
																option Single
																option Married
																option Divorced
																option Widower
												.col-md-6.my-3
													.form-group.mt-1
														label.label-control Religion
															select.selectpicker.form-control(type="text" name='greligion')
																option Catholic
																option Non-Catholic
																option Non-Christion
																option No religion
											.form-group
												label.label-control Current parish:
												input.form-control(type='text' name='gcurrentparish')
											.form-group
												label.label-control Occupation:
												input.form-control(type='text' name='goccupation')
										.col-md-6.my-3
											.form-group
												label.label-control Father's name:
												input.form-control(type='text' name='gfathername')
											.form-group
												label.label-control Father's birthplace:
												input.form-control(type='text' name='gfatherbplace')
											.form-group
												label.label-control Father's Religion
															select.selectpicker.form-control(type="text" name='gfatherreligion')
																option Catholic
																option Non-Catholic
																option Non-Christion
																option No religion
											.form-group
												label.label-control Mother's name:
												input.form-control(type='text' name='gmothername')
											.form-group
												label.label-control Mother's birthplace:
												input.form-control(type='text' name='gmotherbplace')
											.form-group
												label.label-control Mother's Religion
															select.selectpicker.form-control(type="text" name='gmotherreligion')
																option Catholic
																option Non-Catholic
																option Non-Christion
																option No religion
											.form-group
												label.label-control Baptized?
												.ml-4
													.form-check
														label.form-check-label
															input.exampleRadios1.form-check-input(type="radio" name="gbaptized" value="1")
															.dropdown-toggle.mr-3 Yes
															span.circle
																span.check
														.textarea1.form-group
															.form-group
																label.label-control Parish where you were baptized:
																input.form-control(type='text' name='gbapplace')
															.form-group
																label.label-control Date when you were baptized:
																input.datepicker2.form-control(type='date' name='gbapdate')
															
													.form-check
														label.form-check-label
															input.radioup.form-check-input(type="radio" name="gbaptized" value="0" )
															| No
															span.circle
																span.check
											
											.form-group
												label.label-control Confirmed?
												.ml-4
													.form-check
														label.form-check-label
															input.exampleRadios2.form-check-input(type="radio" name="gconfirmed" value="1")
															.dropdown-toggle.mr-3 Yes
															span.circle
																span.check
														.textarea2.form-group
															.form-group
																label.label-control Parish where you were confirmed:
																input.form-control(type='text' name='gconplace')
															.form-group
																label.label-control Date when you were confirmed:
																input.datepicker2.form-control(type='date' name='gcondate')
															
													.form-check
														label.form-check-label
															input.radioup2.form-check-input(type="radio" name="gconfirmed" value="0" )
															| No
															span.circle
																span.check
											
							.row.tab
								.col-md-12
									h1.main--header.font-italic.text-center Bride
								.row
									.col-md-6.my-3
										.form-group
											label.label-control Name:
											.row
												.col-md-4
													.form-group.pt-0
														input.form-control(type='text' placeholder="Last Name" name='blastname')
												.col-md-4
													.form-group.pt-0
														input.form-control(type='text' placeholder="First Name" name='bfirstname')
												.col-md-4
													.form-group.pt-0
														input.form-control(type='text' placeholder="Middle Name" name='bmiddlename')
										.form-group
											label.label-control Birthday
											input.datepicker2.form-control(type='date' name='bbirthday')
										.form-group
											label.label-control Birthplace:
											input.form-control(type='text' name='bbirthplace')
										.form-group
											label(for='exampleFormControlTextarea1') Address:
											textarea#exampleFormControlTextarea1.form-control(rows='2' name='baddress')
										.form-group
											label.label-control Nationality:
											input.form-control(type='text' name='bnationality')
										.row
												.col-md-6
													.form-group
														label.label-control Civil Status
															select.selectpicker.form-control(type="text" name='bcivilstatus')
																option Single
																option Married
																option Divorced
																option Widower
												.col-md-6
													.form-group.mt-1
														label.label-control Religion
															select.selectpicker.form-control(type="text" name='breligion')
																option Catholic
																option Non-Catholic
																option Non-Christion
																option No religion
										.form-group.m-0
											label.label-control Are you 5months or above pregnant?
												.form-check.ml-3
													label.form-check-label
														input.form-check-input(type="radio" name="boolpregnant" id="exampleRadios2" value="1")
														| Yes
														span.circle
															span.check
													label.form-check-label.ml-3
														input.form-check-input(type="radio" name="boolpregnant" id="exampleRadios2" value="0")
														| No
														span.circle
															span.check
										.form-group
												label.label-control Current parish:
												input.form-control(type='text' name='bcurrentparish')
										.form-group
												label.label-control Occupation:
												input.form-control(type='text' name='boccupation')
									.col-md-6.my-3
										.form-group
											label.label-control Father's name:
											input.form-control(type='text' name='bfathername')
										.form-group
											label.label-control Father's birthplace:
											input.form-control(type='text' name='bfatherbplace')
										.form-group
											label.label-control Father's Religion
														select.selectpicker.form-control(type="text" name='bfatherreligion')
															option Catholic
															option Non-Catholic
															option Non-Christion
															option No religion
										.form-group
											label.label-control Mother's name:
											input.form-control(type='text' name='bmothername')
										.form-group
											label.label-control Mother's birthplace:
											input.form-control(type='text' name='bmotherbplace')
										.form-group
											label.label-control Mother's Religion
														select.selectpicker.form-control(type="text" name='bmotherreligion')
															option Catholic
															option Non-Catholic
															option Non-Christion
															option No religion
										.form-group
											label.label-control Baptized?
											.ml-4
												.form-check
													label.form-check-label
														input.exampleRadios1.form-check-input(type="radio" name="bbaptized" value="1")
														.dropdown-toggle.mr-3 Yes
														span.circle
															span.check
													.textarea1.form-group
														.form-group
															label.label-control Parish where you were baptized:
															input.form-control(type='text' name='bbapplace')
														.form-group
															label.label-control Date when you were baptized:
															input.datepicker2.form-control(type='date' name='bbapdate')
														
												.form-check
													label.form-check-label
														input.radioup.form-check-input(type="radio" name="bbaptized" value="0" )
														| No
														span.circle
															span.check
										
										.form-group
											label.label-control Confirmed?
											.ml-4
												.form-check
													label.form-check-label
														input.exampleRadios2.form-check-input(type="radio" name="bconfirmed" value="1")
														.dropdown-toggle.mr-3 Yes
														span.circle
															span.check
													.textarea2.form-group
														.form-group
															label.label-control Parish where you were confirmed:
															input.form-control(type='text' name='bconplace')
														.form-group
															label.label-control Date when you were confirmed:
															input.datepicker2.form-control(type='date' name='bcondate')
														
												.form-check
													label.form-check-label
														input.radioup2.form-check-input(type="radio" name="bconfirmed" value="0" )
														| No
														span.circle
															span.check
								.col-md-12
									hr
									h2.main--header.font-italic.text-center For the couple
									.row
										.col-md-3.mx-auto.my-auto
											//- h2.main--header.font-italic For the couple
											.form-group.m-0
												label.label-control Living in?
													.form-check.ml-3
														label.form-check-label
															input.form-check-input(type="radio" name="boollivingin" id="exampleRadios2" value="1")
															| Yes
															span.circle
																span.check
														label.form-check-label.ml-3
															input.form-check-input(type="radio" name="boollivingin" id="exampleRadios2" value="0")
															| No
															span.circle
																span.check
											.form-group
												label.label-control Were the couple married before?
												.ml-4
													.form-check
														label.form-check-label
															input.exampleRadios3.form-check-input(type="radio" name="boolmarried" value="1")
															.dropdown-toggle.mr-3 Yes
															span.circle
																span.check
														.textarea3.form-group
															.form-group
																label.label-control Previous wedding date
																input.form-control(type='text' name='cprevweddingdate')
															.form-group
																label.label-control Previous wedding place/parish
																input.datepicker2.form-control(type='date' name='cprevweddingplace')
													.form-check
														label.form-check-label
															input.radioup3.form-check-input(type="radio" name="boolmarried" value="0" )
															| No
															span.circle
																span.check

							.row.tab
								.col-md-12
									h1.main--header.font-italic.text-center Sponsors
									.row
										.col-md-6.my-3
											.form-group
												label.label-control Principal Sponsor
												input.form-control(type='text' name='sponsorname')
										.col-md-6.my-3
											.form-group
												input.form-control(type='text' name='sponsorname')
									.row
										.col-md-6.my-3
											.form-group
												label.label-control Additional
												input.form-control(type='text' name='sponsorname')
											.form-group
												input.form-control(type='text' name='sponsorname')
											.form-group
												input.form-control(type='text' name='sponsorname')
										.col-md-6.my-2
											.form-group
												input.form-control(type='text' name='sponsorname')
											.form-group
												input.form-control(type='text' name='sponsorname')
											.form-group
												input.form-control(type='text' name='sponsorname')
						.row
							.col-md-12.my-2.text-center
								div(style='text-align:center;margin-top:40px;')
									span.step
									span.step
									span.step
									span.step

						.row
							.col-md-12.my-5.text-center
								button#prevBtn.btn.btn-default(type='button' onclick='nextPrev(-1)') Previous
								button#nextBtn.btn.btn-primary(type='button' onclick='nextPrev(1)') Next
							//- 	a#prevBtn.btn-design.m-3(href="#show" onclick='nextPrev(-1)') Previous
							//- .col-md-6.my-5.text-left.p-0
							//- 	a#nextBtn.btn-design.m-3(href="#show" onclick='nextPrev(1)') Next


block addjs
	script.
		$('.textarea1').hide();
		$('.radioup').click(function() {
			$('.textarea1').slideUp();
		});
		$('.exampleRadios1').click(function() {
			$('.textarea1').slideDown();
		});

		$('.textarea2').hide();
		$('.radioup2').click(function() {
			$('.textarea2').slideUp();
		});
		$('.exampleRadios2').click(function() {
			$('.textarea2').slideDown();
		});

		$('.textarea3').hide();
		$('.radioup3').click(function() {
			$('.textarea3').slideUp();
		});
		$('.exampleRadios3').click(function() {
			$('.textarea3').slideDown();
		});

		var currentTab = 0; // Current tab is set to be the first tab (0)
		showTab(currentTab); // Display the current tab

		function showTab(n) {
			// This function will display the specified tab of the form ...
			var x = document.getElementsByClassName("tab");
			x[n].style.display = "block";
			// ... and fix the Previous/Next buttons:
			if (n == 0) {
				document.getElementById("prevBtn").style.display = "none";
			} else {
				document.getElementById("prevBtn").style.display = "inline";
			}
			if (n == (x.length - 1)) {
				document.getElementById("nextBtn").innerHTML = "Submit";
			} else {
				document.getElementById("nextBtn").innerHTML = "Next";
			}
			// ... and run a function that displays the correct step indicator:
			fixStepIndicator(n)
		}

		function nextPrev(n) {
			// This function will figure out which tab to display
			var x = document.getElementsByClassName("tab");
			// Exit the function if any field in the current tab is invalid:
			//- if (n == 1 && !validateForm()) return false;
			// Hide the current tab:
			x[currentTab].style.display = "none";
			// Increase or decrease the current tab by 1:
			currentTab = currentTab + n;
			// if you have reached the end of the form... :
			if (currentTab >= x.length) {
				//...the form gets submitted:
				document.getElementById("form").submit();
				return false;
			}
			// Otherwise, display the correct tab:
			showTab(currentTab);
		}

		function fixStepIndicator(n) {
			// This function removes the "active" class of all steps...
			var i, x = document.getElementsByClassName("step");
			for (i = 0; i < x.length; i++) {
				x[i].className = x[i].className.replace(" active", "");
			}
			//... and adds the "active" class to the current step:
			x[n].className += " active";
		}