extends ../../../../templates/guests
block main
	#headers
		#header-style-1
			.container
				.header-caption
					.row
						.col-md-12.header-content
							h3.header-title.animated.fadeInDown.invisible
								span.text-primary Helium - 
								| Bootstrap 4 UI Kit
							h5.header-text.animated.fadeIn.invisible
								| Lorem ipsum dolor sit amet, consectetuer adipiscing elit<br>Lorem ipsum dolor sit amet, consectetuer.</h5>
							//- a.page-scroll.btn.btn-lg.btn-default-filled.animated.fadeInUp.invisible(href="#") Download Now
							//- a.page-scroll.btn.btn-lg.btn-success.animated.fadeInUp.invisible(href="#") Explore
		#raised-section.main.main-raised
			section.form-box
				.container
					.row
						.col-md-12.form-wizard
							h3 Reservation Form
							p Fill all form fields
			.container
				.row
					.col-md-7.my-3
						#form-facility
							#calendar
					.col-md-5.my-3
						form(action="/guest/facilities/secondfloor/form" enctype="multipart/form-data" method='post')
							input.form-control(type='hidden' name='userID' value=`${user.int_userID}`)
							.form-group
								h6.label-control Event
								input.form-control(type='text' name= 'event' placeholder="Ex. Bible Study")
							.form-group
								h6.label-control Desired Date
								input.datepicker.form-control(type='date' name='desireddate')
							.form-group
								h6.label-control Start Time
								input.timepicker.form-control(type='text' name='starttime')
							.form-group
								h6.label-control End Time
								input.timepicker.form-control(type='text' name='endtime')
							.form-group
								h6.label-control Valid ID
								input(type='file' name='image' accept='image/*')
							.row
								.col-md-12.text-center.learn-more
									button.btn.btn-common(type='submit') Submit

	#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					#calendar1
