extends ../../../templates/home
block prepend main
	.container
		section#about
			.container
				.row
					.col-md-12
						.page-header-title
							h2.heading-title.text-center About Us
				.row
					.col-sm-6.col-md-3
						.about.block.text-center
							img(src='/guest/img/about/img1.png', alt='')
							h5
								a(href='#') About Title
							p
								| Quisque sit amet libero purus. Nulla a dignissim quam. In hac habitasse platea dictumst.
					.col-sm-6.col-md-3
						.about.block.text-center
							img(src='/guest/img/about/img2.png', alt='')
							h5
								a(href='#') About Title
							p
								| Quisque sit amet libero purus. Nulla a dignissim quam. In hac habitasse platea dictumst.
					.col-sm-6.col-md-3
						.about.block.text-center
							img(src='/guest/img/about/img3.png', alt='')
							h5
								a(href='#') About Title
							p
								| Quisque sit amet libero purus. Nulla a dignissim quam. In hac habitasse platea dictumst.
					.col-sm-6.col-md-3
						.about.block.text-center
							img(src='/guest/img/about/img4.png', alt='')
							h5
								a(href='#') About Title
							p
								| Quisque sit amet libero purus. Nulla a dignissim quam. In hac habitasse platea dictumst.


	section#portfolio.section-padding
		.row
			.col-md-12.pl-0
				.page-header-title
					h2.heading-title.text-center Portfolio
		.row
			.col-lg-12.col-md-12
				.controls.text-center.wow.fadeInUpQuick(data-wow-delay='.6s')
					a.filter.active.btn.btn-common(data-filter='all')
						| All
					a.filter.btn.btn-common(data-filter='.branding')
						| Branding
					a.filter.btn.btn-common(data-filter='.marketing')
						| Marketing
					a.filter.btn.btn-common(data-filter='.planning')
						| Planning
					a.filter.btn.btn-common(data-filter='.research')
						| Research
			.container
				.row.wow.fadeInUpQuick(data-wow-delay='0.8s')
					.col-lg-4.col-md-6.col-xs-12.mix.marketing.planning
						.portfolio-item
							.portfolio-img
								img(src='/img/portfolio/img1.jpg', alt='')
							.portfoli-content
								.sup-desc-wrap
									.sup-desc-inner
										.sup-link
											a.left-link(href='#')
												i.fa.fa-link
											a.right-link(href='#')
												i.fa.fa-heart
										.sup-meta-wrap
											a.sup-title(href='#')
												h4 TITLE HERE
											p.sup-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.
					.col-lg-4.col-md-6.col-xs-12.mix.branding.planning
						.portfolio-item
							.portfolio-img
								img(src='/img/portfolio/img2.jpg', alt='')
							.portfoli-content
								.sup-desc-wrap
									.sup-desc-inner
										.sup-link
											a.left-link(href='#')
												i.fa.fa-link
											a.right-link(href='#')
												i.fa.fa-heart
										.sup-meta-wrap
											a.sup-title(href='#')
												h4 TITLE HERE
											p.sup-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.
					.col-lg-4.col-md-6.col-xs-12.mix.branding.research
						.portfolio-item
							.portfolio-img
								img(src='/img/portfolio/img3.jpg', alt='')
							.portfoli-content
								.sup-desc-wrap
									.sup-desc-inner
										.sup-link
											a.left-link(href='#')
												i.fa.fa-link
											a.right-link(href='#')
												i.fa.fa-heart
										.sup-meta-wrap
											a.sup-title(href='#')
												h4 TITLE HERE
											p.sup-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.
					.col-lg-4.col-md-6.col-xs-12.mix.marketing.research
						.portfolio-item
							.portfolio-img
								img(src='/img/portfolio/img4.jpg', alt='')
							.portfoli-content
								.sup-desc-wrap
									.sup-desc-inner
										.sup-link
											a.left-link(href='#')
												i.fa.fa-link
											a.right-link(href='#')
												i.fa.fa-heart
										.sup-meta-wrap
											a.sup-title(href='#')
												h4 TITLE HERE
											p.sup-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.
					.col-lg-4.col-md-6.col-xs-12.mix.marketing.planning
						.portfolio-item
							.portfolio-img
								img(src='/img/portfolio/img5.jpg', alt='')
							.portfoli-content
								.sup-desc-wrap
									.sup-desc-inner
										.sup-link
											a.left-link(href='#')
												i.fa.fa-link
											a.right-link(href='#')
												i.fa.fa-heart
										.sup-meta-wrap
											a.sup-title(href='#')
												h4 TITLE HERE
											p.sup-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.
					.col-lg-4.col-md-6.col-xs-12.mix.planning.research
						.portfolio-item
							.portfolio-img
								img(src='/img/portfolio/img6.jpg', alt='')
							.portfoli-content
								.sup-desc-wrap
									.sup-desc-inner
										.sup-link
											a.left-link(href='#')
												i.fa.fa-link
											a.right-link(href='#')
												i.fa.fa-heart
										.sup-meta-wrap
											a.sup-title(href='#')
												h4 TITLE HERE
											p.sup-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.
		section#facts
			.single-testimonial-area
				.container
					.row
						.col-sm-6.col-md-3.text-center
							i.fact-icon.fa.fa-user
							h3#websites.timer.text-white(data-to='560', data-speed='1000') 560
							h5.fact-title.text-white Happy Clients
						.col-sm-6.col-md-3.text-center
							i.fact-icon.fa.fa-rocket
							h3#code.timer.text-white(data-to='2700', data-speed='1500') 2700
							h5.fact-title.text-white Project Lanched
						.col-sm-6.col-md-3.text-center
							i.fact-icon.fa.fa-coffee
							h3#coffee.timer.text-white(data-to='234', data-speed='2000') 234
							h5.fact-title.text-white Cup of Coffee
						.col-sm-6.col-md-3.text-center
							i.fact-icon.fa.fa-heart
							h3#emails.timer.text-white(data-to='234', data-speed='2500') 970
							h5.fact-title.text-white Peoples Love


		section#services
			.container
				.row
					.col-md-12
						.page-header-title
							h2.heading-title.text-center Services
				.row
					// Start Service Icon 1
					.col-md-4.col-sm-6
						.service-box
							.service-icon
								i.fa.fa-cogs
							.service-content
								h4
									a(href='#') Easy to Customize
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto officiis consequuntur vero error excepturi.
					// End Service Icon 1
					// Start Service Icon 2
					.col-md-4.col-sm-6
						.service-box
							.service-icon
								i.fa.fa-cubes
							.service-content
								h4
									a(href='#') 100+ Components
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto officiis consequuntur vero error excepturi.
					// End Service Icon 2
					// Start Service Icon 3
					.col-md-4.col-sm-6
						.service-box
							.service-icon
								i.fa.fa-tachometer
							.service-content
								h4
									a(href='#') Super Fast
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto officiis consequuntur vero error excepturi.
					// End Service Icon 3
					// Start Service Icon 4
					.col-md-4.col-sm-6
						.service-box
							.service-icon
								i.fa.fa-check
							.service-content
								h4
									a(href='#') Clean Design
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto officiis consequuntur vero error excepturi.
					// End Service Icon 4
					// Start Service Icon 5
					.col-md-4.col-sm-6
						.service-box
							.service-icon
								i.fa.fa-flash
							.service-content
								h4
									a(href='#') Bootstrap 4 UI Kit
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto officiis consequuntur vero error excepturi.
					// End Service Icon 5
					// Start Service Icon 6
					.col-md-4.col-sm-6
						.service-box
							.service-icon
								i.fa.fa-hand-pointer-o
							.service-content
								h4
									a(href='#') Advanced Features
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto officiis consequuntur vero error excepturi.
					// End Service Icon 6
