doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title Sign In
		link(href='/css/loader.css', rel='stylesheet')
		link(rel='icon', href='/imgchurch/favicon.ico', type='image/x-icon')
		link(href='/admin/style.css', rel='stylesheet')
		style.
			.shadow {
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

			.shadow2 {
				box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
			}
				
			.shadow3 {
				box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
			}
	body.app
		#loader
			.spinner
		#wrapper
			.peers.ai-s.fxw-nw.h-100vh
				//- .peer.peer-greed.h-100.pos-r.bgr-n.bgpX-c.bgpY-c.bgsz-cv(class='d-n@sm-', style='background-image: url("/imgchurch/bg5.jpg")')
				//- 	.pos-a.centerXY
						//- .bgc-white.bdrs-50p.pos-r(style='width: 105px; height: 105px; margin-left:25px;')
				.col-12.col-md-4.peer.pX-40.pY-150.h-100.bgc-white.scrollable.pos-r.mx-auto.pt-30(style='min-width: 320px;')
					h3.c-grey-900.mB-40.text-uppercase
						img.rounded-circle.shadow2(src='/Helium/img/INLPP.png', alt=''  style="width: 3.5rem")
						|  Login
					form#needs-validation.form(method='POST', action='/adminlogin' novalidate)
						.form-group
							label.h6.text-normal.text-dark Username
							input.form-control(type='string', name='user_username' placeholder='Username...' required)
							.invalid-feedback Please enter your username.
						.form-group
							label.h6.text-normal.text-dark Password
							input.form-control(type='password', name='user_password' placeholder='Password...' required)
							.invalid-feedback Please enter your password.
						.form-group
								-if(typeof reqQuery == 'undefined')
									.text-right
										button.btn.btn-primary(type="submit") Login
								-else
									.text-right
										button.btn.btn-primary(type="submit" value=`${reqQuery.redirect}`) Login
	script(type='text/javascript', src='/js/jquery.min.js')
	script(type='text/javascript', src='/admin/vendor.js')
	script(type='text/javascript', src='/admin/bundle.js')
	script(type='text/javascript', src='/js/loader.js')
	script.
		(function() {
			'use strict';

			window.addEventListener('load', function() {
				var form = document.getElementById('needs-validation');
				form.addEventListener('submit', function(event) {
					if (form.checkValidity() === false) {
						event.preventDefault();
						event.stopPropagation();
					}
					form.classList.add('was-validated');
				}, false);
			}, false);
		})();
