extends ../../../templates/masterhome
block main
	.header-filter(filter-color='black', style="background-image: url('./img/bg1.png'); background-size: cover; background-position: top center;")
		.container
			.row
				.col-md-10.ml-auto.mr-auto.mt-5
					.card.card-signup.mt-5
						h2.text-center.mt-3 Sign-up
						.card-body
							.row.mb-3
								.col-md-5.ml-auto
									.info.info-horizontal.py-0
										.icon.icon-rose
											i.fa.fa-shopping-cart(aria-hidden='true')
										.description
											h4.info-title Reserve
											p.description
												| We've created the marketing campaign of the website. It was a very interesting collaboration.
									.info.info-horizontal.py-0
										.icon.icon-primary
											i.fa.fa-bar-chart(aria-hidden='true')
										.description
											h4.info-title Manage
											p.description
												| We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
									.info.info-horizontal.py-0
										.icon.icon-info
											i.fa.fa-users(aria-hidden='true')
										.description
											h4.info-title Audience
											p.description
												| We've made this for the church to easily manage the reservation of events, services, and many other more!.
									.social.text-center
										button.btn.btn-just-icon.btn-round.btn-twitter
											i.fa.fa-twitter
										button.btn.btn-just-icon.btn-round.btn-dribbble
											i.fa.fa-dribbble
										button.btn.btn-just-icon.btn-round.btn-facebook
											i.fa.fa-facebook  
										h4  or be classical 
								.col-md-5.mr-5
									form.form(action="/signup" method="post")
										.form-group
											label.label-control Name:										
											.row
												.col-md-4
													.form-group.pt-0
														input.form-control(type='text' placeholder="Last Name" name='lastname')
												.col-md-4
													.form-group.pt-0
														input.form-control(type='text' placeholder="First Name" name='firstname')
												.col-md-4
													.form-group.pt-0
														input.form-control(type='text' placeholder="Middle Name" name='middlename')
										.form-group.m-0
											label.label-control Gender:
												.form-check.ml-3
													label.form-check-label
														input.form-check-input(type="radio" name="gender" id="exampleRadios2" value="Male")
														| Male
														span.circle
															span.check
													label.form-check-label.ml-3
														input.form-check-input(type="radio" name="gender" id="exampleRadios2" value="Female")
														| Female
														span.circle
															span.check
										.form-group
											label.label-control Birthday
											input#datepicker.form-control(type='date' name='birthday')
										.form-group
											label(for='exampleFormControlTextarea1') Address:
											textarea#exampleFormControlTextarea1.form-control(rows='2' name='address')
										.form-group
											label.label-control Contact Number:
											input.form-control(type='text' name='contactnumber')
										.form-group
											label.label-control Email Address:
											input.form-control(type='text' name='email')
										.form-group
											label.label-control Username:
											input.form-control(type='text' name='username')
										.form-group
											label.label-control Password:
											input.form-control(type='password' name='password')
										.form-group
											label.label-control Confirm password:
											input.form-control(type='password' name='confirmpassword')
										
										.form-check
											label.form-check-label
											input.form-check-input(type='checkbox', value='', checked='')
											span.form-check-sign
												span.check
												| ..I agree to the 
												a(href='#something') terms and conditions
												| .
											.text-center
												button.btn.btn-primary(type='submit') Submit