doctype
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="stylesheet" href="/css/font-awesome.min.css")
		link(rel="stylesheet" href="/css/ekko-lightbox.css")
		link(rel="stylesheet" href="/css/material-kit.css?v=2.0.3")
		link(rel="stylesheet" href="/css/slick.css")
		link(rel="stylesheet" href="/css/slick-theme.css")
		link(rel="stylesheet" href="/css/animate.min.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mr+Dafoe")
		link(rel="stylesheet" href="/css/style.css")
		title Church
	body
		block body

	script(src="/js/jquery.min.js")
	script(src="/js/popper.min.js")
	script(src="js/bootstrap-material-design.min.js")
	script(src="/js/material-kit.min.js?v=2.0.0")
	script(src="/js/ekko-lightbox.min.js")
	script(src="/js/slick.min.js")
	script(src="/js/custom1.js")
	block addjs