doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title INLPP
		link(rel="stylesheet", href="/css/bootstrap4.1.min.css")
		link(rel='stylesheet' href='/css/fullcalendar.min.css')
		link(rel='stylesheet', href='/Helium/css/font-awesome.min.css')
		link(rel='stylesheet', href='/css/modal-anim.css')
		link(rel='stylesheet', href='/css/loader.css')
		link(rel="stylesheet" href="/css/timedropper.min.css")
		link(rel="stylesheet" href="/css/bootstrap-datetimepicker-solo.css")
		link(rel='stylesheet', href='/css/dataTables.bootstrap4.min.css')
		link(rel='stylesheet', href='/css/responsive.bootstrap4.min.css')
		style.
			.shadow {
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

			.shadow2 {
				box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
			}
				
			.shadow3 {
				box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
			}
	body
		#loader
			.spinner
		#wrapper
		header
			nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
				.container
					a.navbar-brand(href="/catechist")
						img.rounded-circle.shadow(src='/Helium/img/INLPP.png', alt='' style="width: 3.5rem")
					button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
						span.navbar-toggler-icon
					#navbarNav.collapse.navbar-collapse
						ul.navbar-nav.ml-auto
							//- li.nav-item: a.nav-link(href="/guest/reservation")
							//- 	| Reservations
							//- li.nav-item: a.nav-link(href="/guest/schedule" rel="tooltip" title="")
							//- 	| Schedule
							//- li.nav-item: a.nav-link(href="/services" rel="tooltip" title="" data-original-title="See our services here")
							//- 	| Services
							//- li.nav-item: a.nav-link(href="#" rel="tooltip" title="" data-original-title="Read our articles")
							//- 	i.fa.fa-comments(aria-hidden="true") 
							//- 	| Blog
							//- li.nav-item: a.nav-link(href="#" rel="tooltip" title="" data-original-title="Email Us Now!")
							//- 	i.fa.fa-envelope-o(aria-hidden="true") 
							//- 	| Contact
							//- li.dropdown.nav-item
							//- 	a.dropdown-toggle.nav-link(href="#" data-toggle="dropdown")
							//- 		| Sacrament
							//- 	.dropdown-menu.dropdown-with-icons
							//- 		a.dropdown-item(href="/guest/baptism")
							//- 			i.fa.fa-twitter(aria-hidden="true")
							//- 			| &nbsp; Baptism
							//- 		a.dropdown-item(href="/guest/confirmation")
							//- 			i.fa.fa-facebook-square(aria-hidden="true")
							//- 			| &nbsp; Confirmation
							//- 		a.dropdown-item(href="#")
							//- 			i.fa.fa-instagram(aria-hidden="true")
							//- 			| &nbsp; Eucharist
							//- 		a.dropdown-item(href="/guest/marriage")
							//- 			i.fa.fa-instagram(aria-hidden="true")
							//- 			| &nbsp; Marriage
							//- 		a.dropdown-item(href="/guest/anointing")
							//- 			i.fa.fa-instagram(aria-hidden="true")
							//- 			| &nbsp; Anointing
							//- 		a.dropdown-item(href="/guest/funeral")
							//- 			i.fa.fa-instagram(aria-hidden="true")
							//- 			| &nbsp; Funeral Blessing
							//- 		a.dropdown-item(href="#")
							//- 			i.fa.fa-instagram(aria-hidden="true")
							//- 			| &nbsp; Confession
							//- li.nav-item: a.nav-link(href="#" rel="tooltip" title="")
								| Events
							li.nav-item.active: a.nav-link(href="/catechist")
								| Home
							//- li.nav-item: a.nav-link(href="#")
							//- 	| Profile
							li.nav-item: a.nav-link(href="/catechist/schedule")
								| Schedule
							li.nav-item: a.nav-link(href="/catechist/sections")
								| Sections	
							li.nav-item: a.nav-link(href="#")
								| Notification	
							li.dropdown.nav-item
								a.dropdown-toggle.nav-link(href="#" data-toggle="dropdown")
									| My Account
								.dropdown-menu.dropdown-with-icons
									a.dropdown-item(href="/catechist/profile")
										| &nbsp; My Profile
									a.dropdown-item(href="#")
										| &nbsp; Messages
									a.dropdown-item(href="#")
										| &nbsp; Notification
									//- a.dropdown-item(href="/guest/reservation")
									//- 	| &nbsp; Reservations
									.container
										hr
									a.dropdown-item(href="/logout")
										| &nbsp; Sign-out
							//- li.dropdown.nav-item
							//- 	a.nav-link(href="#" data-toggle="dropdown")
							//- 		| Notifications	
							//- li.nav-item
							//- 	a.nav-link(href='/logout')
							//- 		span.no-icon Log out
							//- li.nav-item: a.nav-link(href="/login" rel="tooltip" title="" data-original-title="Login Now")
							//- 	| Login
							//- li.nav-item: a.nav-link(href="/signup" rel="tooltip" title="" data-original-title="Signup Now")
							//- 	| Sign Up


		block main
		script(src="/js/jquery.min.js")
		script(src="/js/popper.min.js")
		script(src="/js/bootstrap4.1.min.js")
		script(src='/js/loader.js')

		script(src="/js/moment.min.js")
		script(src="/js/fullcalendar.min.js")
		script(src="/js/sweetalert2.all.min.js")
		script(src="/js/calendar.js")
		script(src='/js/datatables.min.js')
		script(src='/js/dataTables.bootstrap4.min.js')
		script(src='/js/dataTables.responsive.min.js')
		script(src='/js/responsive.bootstrap4.min.js')
		script.
			$(document).ready(function() {
				$('.table').DataTable( {
						responsive: {
								details: {
										display: $.fn.dataTable.Responsive.display.modal( {
												header: function ( row ) {
														var data = row.data();
														return 'Details for '+data[0]+' '+data[1];
												}
										} ),
										renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
												tableClass: 'table'
										} )
								}
						}
				} );
			});


