doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title Helium - Bootstrap 4 Onepage Template
		link(rel='stylesheet', href='/Helium/css/bootstrap.min.css')
		link(rel='stylesheet', href='/Helium/css/font-awesome.min.css')
		link(rel='stylesheet', href='/Helium/css/owl.carousel.css')
		link(rel='stylesheet', href='/Helium/css/owl.theme.css')
		link(rel='stylesheet', href='/Helium/css/animate.css')
		link(rel='stylesheet', href='/Helium/css/main.css')
		link(rel='stylesheet', href='/Helium/css/extras.css')
		link(rel='stylesheet', href='/Helium/css/responsive.css')
		link(rel='stylesheet', href='/Helium/css/helium.css')
		link(rel='stylesheet', href='/css/loader.css')
		link(rel="stylesheet" href="/css/jasny-bootstrap.min.css")
		link(rel="stylesheet" href="/css/fileinput-rtl.css")
		link(rel="stylesheet" href="/css/fileinput-rtl.min.css")
		link(rel="stylesheet" href="/css/fileinput.css")
		link(rel="stylesheet" href="/css/fileinput.min.css")
		link(href='/themes/explorer-fa/theme.css', media='all', rel='stylesheet', type='text/css')
	body
		#loader
			.spinner
		#wrapper
			block nav
				nav.navbar.navbar-expand-lg.fixed-top.scrolling-navbar.indigo
					.container
						.navbar-header
							.slicknav_menu
								liner.slicknav_btn.slicknav_collapsed(aria-haspopup='true', tabindex='0', style='outline: none;')
									span.slicknav_menutxt
									span.slicknav_icon.slicknav_no-text
										span.slicknav_icon-bar
										span.slicknav_icon-bar
										span.slicknav_icon-bar
								ul.slicknav_nav.slicknav_hidden(aria-hidden='true', role='menu', style='display: none;')
									li
										a.page-scroll(href='#sliders', role='menuitem', tabindex='-1')
											| Home
									li
										a.page-scroll(href='#about', role='menuitem', tabindex='-1')
											| About
									li
										a.page-scroll(href='#services', role='menuitem', tabindex='-1')
											| Services
									li
										a.page-scroll(href='#portfolio', role='menuitem', tabindex='-1')
											| Portfolio
									li
										a.page-scroll(href='#feature', role='menuitem', tabindex='-1')
											| Features
									li
										a.page-scroll(href='#team', role='menuitem', tabindex='-1')
											| Team
									li
										a.page-scroll(href='#pricing', role='menuitem', tabindex='-1')
											| Pricing
									li
										a.page-scroll(href='#contact', role='menuitem', tabindex='-1')
											| Contact
									li.page-scroll.dropdown
										a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') My Account
										.dropdown-menu
											a.dropdown-item(href='#') My Profile
											a.dropdown-item(href='#') Messages
											a.dropdown-item(href='#') Notification
											a.dropdown-item(href='/guest/reservation') Reservations
											hr
											a.dropdown-item(href='/logout') Logout
							button.navbar-toggler(type='button', data-toggle='collapse', data-target='#main-navbar', aria-controls='main-navbar', aria-expanded='false', aria-label='Toggle navigation')
								span.navbar-toggler-icon
								span.icon-menu
								span.icon-menu
								span.icon-menu
							a.navbar-brand(href='')
								img(src='/Helium/img/logo.png', alt='')
						#main-navbar.collapse.navbar-collapse
							ul.navbar-nav.mr-auto.w-100.justify-content-end.clearfix
								li.nav-item.active
									a.nav-link(href='#sliders')
										| Home
								li.nav-item
									a.nav-link(href='#about')
										| About
								li.nav-item
									a.nav-link(href='#services')
										| Services
								li.nav-item
									a.nav-link(href='#portfolio')
										| Portfolio
								li.nav-item
									a.nav-link(href='#feature')
										| Features
								li.nav-item
									a.nav-link(href='#team')
										| Team
								li.nav-item
									a.nav-link(href='#pricing')
										| Pricing
								li.nav-item
									a.nav-link(href='#contact')
										| Contact
								li.nav-item.dropdown
									a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') My Account
									.dropdown-menu
										a.dropdown-item(href='#') My Profile
										a.dropdown-item(href='#') Messages
										a.dropdown-item(href='#') Notification
										a.dropdown-item(href='/guest/reservation') Reservations
										hr
										a.dropdown-item(href='/logout') Logout
					ul.mobile-menu.navbar-nav
						li.active
							a.page-scroll(href='#sliders')
								| Home
						li
							a.page-scroll(href='#about')
								| About
						li
							a.page-scroll(href='#services')
								| Services
						li
							a.page-scroll(href='#portfolio')
								| Portfolio
						li
							a.page-scroll(href='#feature')
								| Features
						li
							a.page-scroll(href='#team')
								| Team
						li
							a.page-scroll(href='#pricing')
								| Pricing
						li
							a.page-scroll(href='#contact')
								| Contact
						li.dropdown
							a.page-scroll.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') My Account
							.dropdown-menu
								a.dropdown-item(href='#') My Profile
								a.dropdown-item(href='#') Messages
								a.dropdown-item(href='#') Notification
								a.dropdown-item(href='/guest/reservation') Reservations
								hr
								a.dropdown-item(href='/logout') Logout
			block main
		footer.footer
			.container
				.row.section
					.footer-widget.col-lg-3.col-md-6.col-xs-12.wow.fadeIn
						h3.small-title
							| About Us
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis veritatis eius porro modi hic. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						.social-footer
							a(href='#')
								i.fa.fa-facebook.icon-round
							a(href='#')
								i.fa.fa-twitter.icon-round
							a(href='#')
								i.fa.fa-linkedin.icon-round
							a(href='#')
								i.fa.fa-google-plus.icon-round
					.footer-widget.col-lg-3.col-md-6.col-xs-12.wow.fadeIn(data-wow-delay='.2s')
						h3.small-title
							| Links
						ul.menu
							li
								a(href='#') About Us
							li
								a(href='#') Services
							li
								a(href='#') Works
							li
								a(href='#') Pricing
							li
								a(href='#') Contact
					.footer-widget.col-lg-3.col-md-6.col-xs-12.wow.fadeIn(data-wow-delay='.5s')
						h3.small-title
							| GALLERY
						.plain-flicker-gallery
							a(href='#')
								img(src='/Helium/img/img1(2).jpg', alt='')
							a(href='#')
								img(src='/Helium/img/img2(2).jpg', alt='')
							a(href='#')
								img(src='/Helium/img/img3(2).jpg', alt='')
							a(href='#')
								img(src='/Helium/img/img4(1).jpg', alt='')
							a(href='#')
								img(src='/Helium/img/img5(1).jpg', alt='')
							a(href='#')
								img(src='/Helium/img/img6(1).jpg', alt='')
					.footer-widget.col-lg-3.col-md-6.col-xs-12.wow.fadeIn(data-wow-delay='.8s')
						h3.small-title
							| SUBSCRIBE US
						.contact-us
							form
								.form-group
									input#exampleInputName2.form-control(type='text', placeholder='Enter your name')
								.form-group
									input#exampleInputEmail2.form-control(type='email', placeholder='Enter your email')
								button.btn.btn-common(type='submit') Submit
			#copyright
				.container
					.row
						.col-lg-6.col-md-6.col-xs-12
							p.copyright-text
								| All copyrights reserved © 2018 - Designed & Developed by 
								a(rel='nofollow', href='https://uideck.com/') UIdeck
						.col-lg-6.col-md-6.col-xs-12
							ul.nav.nav-inline.justify-content-end
								li.nav-item
									a.nav-link.active(href='#') Home
								li.nav-item
									a.nav-link(href='#') Sitemap
								li.nav-item
									a.nav-link(href='#') Privacy Policy
								li.nav-item
									a.nav-link(href='#') Terms of services
		a.back-to-top(href='#', style='display: none;')
			i.fa.fa-arrow-up
		#preloader(style='display: none;')
			#loader-1.loader
		script(src='/Helium/js/jquery-min.js')
		script(src='/Helium/js/popper.min.js')
		script(src='/Helium/js/bootstrap.min.js')
		script(src='/Helium/js/owl.carousel.min.js')
		script(src='/Helium/js/jquery.mixitup.js')
		script(src='/Helium/js/jquery.countTo.js')
		script(src='/Helium/js/jquery.nav.js')
		script(src='/Helium/js/scrolling-nav.js')
		script(src='/Helium/js/jquery.easing.min.js')
		script(src='/Helium/js/jquery.slicknav.js')
		script(src='/Helium/js/form-validator.min.js')
		script(src='/Helium/js/contact-form-script.js')
		script(src='/Helium/js/main.js')
		script(src='/js/loader.js')
		script(src='/js/fileinput.js')
		script(src='/js/fileinput.min.js')
		script(src='/js/plugins/sortable.js')
		script(src='/js/locales/fr.js', type='text/javascript')
		script(src='/js/locales/es.js', type='text/javascript')
		script(src='/themes/explorer-fa/theme.js', type='text/javascript')
		script(src='/themes/fa/theme.js', type='text/javascript')
		block addjs
			script.
			
