doctype html
html(lang='en')
	head
		// meta tags
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='Bootstrap UI Kit')
		meta(name='keywords', content='ui kit')
		
		meta(name='author', content='UIdeck')
		title Headers - Helium Bootstrap 4 UI Kit
		
		// CSS Files
		link(rel='stylesheet', href='/guest/css/bootstrap.min.css')
		link(rel='stylesheet', href='/guest/css/main.css')
		link(rel='stylesheet', href='/guest/css/animate.css')
		link(rel='stylesheet', href='/guest/css/owl.carousel.css')
		link(rel='stylesheet', href='/guest/css/owl.theme.css')
		link(href='/css/loader.css', rel='stylesheet')
		link(rel='stylesheet', href='/guest/css/responsive.css')
		// Fonts icons
		link(rel='stylesheet', href='/guest/css/font-awesome.min.css')
	body
		#loader
			.spinner
		// Page Wrapper Start
		#wrapper
			// Content Area Start
			#content
				// Headers Start
				#headers
					// Light header
					header#header-style-1
						nav.navbar.navbar-toggleable-sm.navbar-light.bg-faded
							.container
								a.navbar-brand(href='index.html')
									img(src='/guest/img/logo-2.png', alt='')
								button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
									i.fa.fa-bars
								#navbarCollapse.collapse.navbar-collapse.justify-content-end
									ul.navbar-nav
										li.nav-item: a.nav-link(href="/guest")
											| Home
										li.nav-item: a.nav-link(href="/guest/schedule")
											| Schedule
										li.dropdown.nav-item
											a.dropdown-toggle.nav-link(href="#" data-toggle="dropdown")
												| Parish Services	
											.dropdown-menu
												a.dropdown-item(href="/guest/anointing")
													| &nbsp; Anointing of the Sick
												a.dropdown-item(href="/guest/baptism")
													| &nbsp; Baptism
												a.dropdown-item(href="/guest/confirmation")
													| &nbsp; Confirmation
												a.dropdown-item(href="/guest/funeral")
													| &nbsp; Funeral Blessing
												a.dropdown-item(href="/guest/marriage")
													| &nbsp; Marriage
												hr
												a.dropdown-item(href="/guest/document")
													| &nbsp; Document Request
												a.dropdown-item(href="/guest/facilities")
													| &nbsp; Facility Reservation
												a.dropdown-item(href="/guest/establishment")
													| &nbsp; Establishment Blessing
										li.nav-item: a.nav-link(href="/guest/parishevents")
											| Events
										li.nav-item: a.nav-link(href="/guest/about")
											| About Us						
										li.nav-item.dropdown
											a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown Item
											.dropdown-menu
												a.dropdown-item(href='#') My Profile
												a.dropdown-item(href='#') Messages
												a.dropdown-item(href='#') Notification
												a.dropdown-item(href='/guest/reservation') Reservations
												hr
												a.dropdown-item(href='/logout') Logout
						.container
							.header-caption
								.row
									.col-md-12.header-content
										h3.header-title.animated.fadeInDown
											span.text-primary Helium 
											|  - Bootstrap 4 UI Kit
										h5.header-text.animated.fadeIn
											| Lorem ipsum dolor sit amet, consectetuer adipiscing elit
											br
											| Lorem ipsum dolor sit amet, consectetuer.
										a.page-scroll.btn.btn-lg.btn-default-filled.animated.fadeInUp(href='#') Download Now
										a.page-scroll.btn.btn-lg.btn-common.animated.fadeInUp(href='#') Explore
				block main
				// Headers End
			// Content Area End
		// Page Wrapper End
		// jQuery first, then Tether, then Bootstrap JS.
		script(src='/guest/js/jquery.min.js')
		script(src='/guest/js/tether.min.js')
		script(src='/guest/js/bootstrap.min.js')
		script(src='/guest/js/owl.carousel.min.js')
		script(src='/guest/js/jquery.mixitup.js')
		script(src='/js/loader.js')
		script(src='/guest/js/form-validator.min.js')
		script(src='/guest/js/contact-form-script.js')
		script(src='/guest/js/main.js')
		script.
			$(document).ready(function() {
				//MixitUp
				$(function() {
					$('#portfolio').mixItUp();
				});
			});
