doctype
html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title INLPP
		link(rel='shortcut icon', href='/imgchurch/favicon.ico', type='image/x-icon')
		link(rel='icon', href='/imgchurch/favicon.ico', type='image/x-icon')
		link(rel='stylesheet', href='/Helium/css/bootstrap.min.css')
		link(rel='stylesheet', href='/Helium/css/font-awesome.min.css')
		link(rel='stylesheet', href='/Helium/css/owl.carousel.css')
		link(rel='stylesheet', href='/Helium/css/owl.theme.css')
		link(rel='stylesheet', href='/Helium/css/animate.css')
		link(rel='stylesheet', href='/Helium/css/main.css')
		link(rel='stylesheet', href='/Helium/css/extras.css')
		link(rel='stylesheet', href='/Helium/css/responsive.css')
		link(rel='stylesheet', href='/css/form-wizard.css')
		link(rel='stylesheet', href='/Helium/css/helium.css')
		link(rel='stylesheet', href='/css/slicknav.min.css')
		style.
			.shadow {
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

			.shadow2 {
				box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
			}
				
			.shadow3 {
				box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
			}
			.bg-black {
				background-color: #3333338c;
			}

			@media only screen and (max-width: 992px) {
				.slicknav_menu .slicknav_icon-bar {
					background:#cb9c57 !important;
				}
			}
			.description {
				border-left: 7px solid #cb9c57; font-size: 15px;
			}
	body
		#loader
			.spinner
		#wrapper
			block nav
				nav.navbar.navbar-expand-lg.fixed-top.scrolling-navbar.bg-black
						.container
							.navbar-header
								button.navbar-toggler(type='button', data-toggle='collapse', data-target='#main-navbar', aria-controls='main-navbar', aria-expanded='false', aria-label='Toggle navigation')
									span.navbar-toggler-icon
									span.icon-menu
									span.icon-menu
									span.icon-menu
								a.navbar-brand.pt-md-1.pl-md-5.pt-sm-0(href='/index/#headers')
									img.rounded-circle.shadow(src='/Helium/img/INLPP.png', alt='' style="width: 3.5rem;")
							#main-navbar.collapse.navbar-collapse
								ul.navbar-nav.mr-auto.w-100.justify-content-end.clearfix
									li.nav-item: a.nav-link(href="/index/#headers")
										| Home
									li.nav-item: a.nav-link(href="#services")
										| Services
									li.nav-item: a.nav-link(href="#portfolio")
										| Events
									li.nav-item: a.nav-link(href="#team")
										| Team
									li.nav-item: a.nav-link(href="#contact")
										| Contact
									li.nav-item: a.nav-link(href="/login")
										| Login
									li.nav-item: a.nav-link(href="/signup")
										| Signup
						ul.mobile-menu.navbar-nav
							li
								a.page-scroll(href='/index/#headers', role='menuitem', tabindex='-1')
									| Home
							li
								a.page-scroll(href='#services', role='menuitem', tabindex='-1')
									| Services
							li
								a.page-scroll(href='#portfolio', role='menuitem', tabindex='-1')
									| Events
							li
								a.page-scroll(href='#team', role='menuitem', tabindex='-1')
									| Team
							li
								a.page-scroll(href='#contact', role='menuitem', tabindex='-1')
									| Contact
							li
								a.page-scroll(href='/login', role='menuitem', tabindex='-1')
									| Login
							li
								a.page-scroll(href='/signup', role='menuitem', tabindex='-1')
									| Signup
			block main
		footer.footer
			#copyright
				.container
					.row
						.col-lg-6.col-md-6.col-xs-12
							p.copyright-text
								| All copyrights reserved © 2018 - Designed & Developed by 
								a(rel='nofollow', href='https://uideck.com/') UIdeck
						.col-lg-6.col-md-6.col-xs-12
							ul.nav.nav-inline.justify-content-end
								li.nav-item
									a.nav-link.active(href='#') Home
								li.nav-item
									a.nav-link(href='#') Sitemap
								li.nav-item
									a.nav-link(href='#') Privacy Policy
								li.nav-item
									a.nav-link(href='#') Terms of services
		a.back-to-top(href='#', style='display: none;')
			i.fa.fa-arrow-up
		#preloader(style='display: none;')
			#loader-1.loader
		script(src='/Helium/js/jquery-min.js')
		script(src='/Helium/js/popper.min.js')
		script(src='/Helium/js/bootstrap.min.js')
		script(src='/Helium/js/owl.carousel.min.js')
		script(src='/Helium/js/jquery.mixitup.js')
		script(src='/Helium/js/jquery.countTo.js')
		script(src='/Helium/js/jquery.nav.js')
		script(src='/Helium/js/scrolling-nav.js')
		script(src='/Helium/js/jquery.easing.min.js')
		script(src='/Helium/js/jquery.slicknav.js')
		script(src='/Helium/js/form-validator.min.js')
		script(src='/Helium/js/contact-form-script.js')
		script(src='/js/moment.min.js')
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAHo_WtZ2nIYCgCLf7sINZaqcrpqSDio9o')
		script(src='/Helium/js/main.js')
		script(src='/js/loader.js')
		block addjs