doctype html
html(lang='en')
	head
		// meta tags
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='Bootstrap UI Kit')
		meta(name='keywords', content='ui kit')
		
		meta(name='author', content='UIdeck')
		title Church to Go
		
		// CSS Files
		link(rel='stylesheet', href='/guest/css/bootstrap.min.css')
		link(rel='stylesheet', href='/guest/css/font-awesome.min.css')
		link(rel='stylesheet', href='/guest/css/owl.carousel.css')
		link(rel='stylesheet', href='/guest/css/owl.theme.css')
		link(rel='stylesheet', href='/guest/css/animate.css')
		link(rel='stylesheet', href='/guest/css/main.css')
		link(rel='stylesheet', href='/guest/css/extras.css')
		link(href='/css/loader.css', rel='stylesheet')
		link(rel='stylesheet', href='/guest/css/responsive.css')
	body
		#loader
			.spinner
		// Page Wrapper Start
		#wrapper
			// Content Area Start
			#content
				// Headers Start
				#headers
					// Light header
					header#header-style-1
						nav.navbar.navbar-toggleable-sm.navbar-light.fixed-top.scrolling-navbar
							.container
								a.navbar-brand(href='index.html')
									img(src='/guest/img/logo-2.png', alt='')
								button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
									i.fa.fa-bars
								#navbarCollapse.collapse.navbar-collapse.justify-content-end
									ul.navbar-nav
										li.nav-item
											a.nav-link(href='/index') Home
										li.nav-item
											a.nav-link(href='#about') About
										li.nav-item
											a.nav-link(href='#portfolio') Portfolio
										li.nav-item
											a.nav-link(href='#facts') Events
										li.nav-item
											a.nav-link(href='#services') Parish Services
										//- li.nav-item.dropdown
										//- 	a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Parish Services
										//- 	.dropdown-menu
										//- 		a.dropdown-item(href='#') Anointing of the sick
										//- 		a.dropdown-item(href='#') Baptism
										//- 		a.dropdown-item(href='#') Confirmation
										//- 		a.dropdown-item(href='#') Funeral Blessing
										//- 		a.dropdown-item(href='#') Marriage
										//- 		a.dropdown-item(href='#') Document Request
										//- 		a.dropdown-item(href='#') Establishment Blessing
										//- 		a.dropdown-item(href='#') Facility Reservation
												
										li.nav-item
											a.nav-link(href='/login') Login
										li.nav-item
											a.nav-link(href='/signup') Sign-up
						.container
				block main
				// Headers End
			// Content Area End
		// Page Wrapper End
		// jQuery first, then Tether, then Bootstrap JS.
		script(src='/guest/js/jquery.min.js')
		script(src='/guest/js/tether.min.js')
		script(src='/guest/js/bootstrap.min.js')
		script(src='/guest/js/owl.carousel.min.js')
		script(src='/guest/js/jquery.mixitup.js')
		script(src='/guest/js/scrolling-nav.js')
		script(src='/guest/js/jquery.easing.min.js')
		script(src='/js/loader.js')
		script(src='/guest/js/form-validator.min.js')
		script(src='/guest/js/contact-form-script.js')
		script(src='/guest/js/main.js')
		block addjs
		script.
			$(document).ready(function() {
				//MixitUp
				$(function() {
					$('#portfolio').mixItUp();
				});
			});
