extends ./basecoordinators
block body
	header
		nav.navbar.navbar-color-on-scroll.navbar-transparent.fixed-top.navbar-expand-lg(color-on-scroll="100" id="sectionsNav")
			.container
				.navbar-translate
					a.navbar-brand(href="/coordinator")
						i.fa.fa-institution(aria-hidden="true") 
						| &nbsp; Church
					button.navbar-toggler(type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation")
						span.navbar-toggler-icon
						span.navbar-toggler-icon
						span.navbar-toggler-icon
				.collapse.navbar-collapse
					ul.navbar-nav.ml-auto
						li.nav-item.active: a.nav-link(href="/coordinator" rel="tooltip" title="" data-original-title="Back to Home")
							| Home
						li.nav-item: a.nav-link(href="/coordinator/schedule")
							| Schedule
						li.nav-item: a.nav-link(href="/coordinator/appointments")
							| Appointments
						li.dropdown.nav-item
							a.nav-link(href="#" data-toggle="dropdown")
								| Notifications &nbsp;	
								span.badge.badge-info 1
							.dropdown-menu
								a.dropdown-item(href="/coordinator/voucher")
									.row
										p
											| Your reservation has been approved! Click here 
										p
											| to generate voucher.
											i.fa.fa-smile-o(aria-hidden='true')
						li.nav-item
							a.nav-link(href='/logout')
								span.no-icon Log out
						//- li.nav-item: a.nav-link(href="/login" rel="tooltip" title="" data-original-title="Login Now")
						//- 	| Login
						//- li.nav-item: a.nav-link(href="/signup" rel="tooltip" title="" data-original-title="Signup Now")
						//- 	| Sign Up

	block main
	
	footer.footer
		.container
			nav.pull-left
				ul
					li: a(href="#") Church
					li: a(href="#") About Us
					li: a(href="#") Blog
					li: a(href="#") Services
			.copyright.pull-right © 
				script.
					document.write(new Date().getFullYear())
				| , made with 
				i.fa.fa-heart
				|  by 
				a(href="#") SAD Team
				| ,	Ina ng Lupang Pangako Parish
