extends ./basesecretariat
block body
	#loader-wrapper
		#loader
		.loader-section.section-left
		.loader-section.section-right
	.wrapper
		.sidebar(data-color='brown')
			//- .sidebar(data-color='brown' data-image='/img/bg5.jpg')
			.sidebar-wrapper
				.logo.d-flex.justify-content-center
					a(href="/secretariat")
						img(src='/img/churchicon.png' alt='' style='height: 70px; width: 70px')
				ul.nav
					li.nav-item
							a.nav-link(href='/secretariat')
								i.nc-icon.nc-app
								p Schedule
					li
						a.nav-link(data-toggle="collapse" href="#events")
							i.nc-icon.nc-notes
							p Events
								.float-right.dropdown-toggle.d-inline
					.collapse#events
						ul
							li.nav-item
								a.nav-link(href='/secretariat/events/churchevents')
									p Event Application
						ul
							li.nav-item
								a.nav-link(href='/secretariat/events/specialevents')
									p Special Events
					li.nav-item
						a.nav-link(data-toggle="collapse" href='#reservation')
							i.nc-icon.nc-grid-45
							p Special Services
								.float-right.dropdown-toggle.d-inline
					.collapse#reservation
							ul
								li.nav-item
									a.nav-link(href='/secretariat/reservation/facilities')
										p Facility Reservations
							ul
								li.nav-item
									a.nav-link(href='/secretariat/reservation/document')
										p Document Requests
					li.nav-item
						a.nav-link(data-toggle="collapse" href='#documents')
							i.nc-icon.nc-grid-45
							p Documents
								.float-right.dropdown-toggle.d-inline
					.collapse#documents
							ul
								li.nav-item
									a.nav-link(href='#')
										p Marriage Forms
							ul
								li.nav-item
									a.nav-link(href='#')
										p Certificates
					li.nav-item
						a.nav-link(href='secretariat/reservation/walkin')
							i.nc-icon.nc-grid-45
							p Walk-in Transaction
		.main-panel
			//- Navbar
			nav.navbar.navbar-expand-lg.sticky-top
				.container-fluid
					a.navbar-brand(href='/secretariat') 
						i.nc-icon.nc-atom
						|  Maintenance
					button.navbar-toggler.navbar-toggler-right(href='', type='button', data-toggle='collapse', aria-controls='navigation-index', aria-expanded='false', aria-label='Toggle navigation')
						i.nc-icon.nc-bullet-list-67
					#navigation.collapse.navbar-collapse.justify-content-end
						ul.nav.navbar-nav.mr-auto
							li.nav-item
								a.nav-link(href='#')
									i.nc-icon.nc-zoom-split
									span.d-lg-block  Search
							li.nav-item.dropdown
								a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
									span.no-icon Sort By
								.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
									a.dropdown-item(href='#') Profile
									a.dropdown-item(href='#') Reports
									a.dropdown-item(href='#') Activity log
						ul.navbar-nav.ml-auto
							li.nav-item
								//- a.nav-link(href='#pablo')
								//- 	span.no-icon Account
								img.img-fluid.rounded-circle.ml-4(src='/img/eldrin.jpg', alt='Card image cap' style="height: 45px;")
							li.font-weight-bold &nbsp; Rei Pablo
							li.nav-item.dropdown
								a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
									span.no-icon Notification
								.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
									a.dropdown-item(href='#') Profile
									a.dropdown-item(href='#') Reports
									a.dropdown-item(href='#') Activity log
									.divider
									a.dropdown-item(href='#') Transactions
							li.nav-item
								a.nav-link(href='/logout')
									span.no-icon Log out
			block main

			footer.footer
				.container
					nav
						ul.footer-menu
							li
								a(href='#')
									| Home
							li
								a(href='#')
									| Company
							li
								a(href='#')
									| Portfolio
							li
								a(href='#')
									| Blog
						p.copyright.text-center
							| ©
							script.
								document.write(new Date().getFullYear())
							a(href='#')  SAD Team
							| , Ina ng Lupang Pangako Parish
		.fixed-plugin
			.dropdown
				a(href='#', data-toggle='dropdown')
					i.fa.fa-cog.fa-2x  
				ul.dropdown-menu
					li.header-title  Sidebar Style
					li.adjustments-line
						a.switch-trigger(href='javascript:void(0)')
							p Background Image
							label.switch
								input(type='checkbox', data-toggle='switch', checked='', data-on-color='primary', data-off-color='primary')
								span.toggle
							.clearfix
					li.adjustments-line
						a.switch-trigger.background-color(href='javascript:void(0)')
							p Filters
							.pull-right
								span.badge.filter.badge-brown(data-color='brown')
								span.badge.filter.badge-azure(data-color='azure')
								span.badge.filter.badge-grey.active(data-color='grey')
								span.badge.filter.badge-lightblue(data-color='lightblue')
								span.badge.filter.badge-lightpeach(data-color='lightpeach')
								span.badge.filter.badge-purple(data-color='purple')
							.clearfix
					li.header-title Sidebar Images
					li.active
						a.img-holder.switch-trigger(href='javascript:void(0)')
							img(src='/img/bg1.png', alt='')
					li
						a.img-holder.switch-trigger(href='javascript:void(0)')
							img(src='/img/bg2.png', alt='')
					li
						a.img-holder.switch-trigger(href='javascript:void(0)')
							img(src='/img/bg3.png', alt='')
					li
						a.img-holder.switch-trigger(href='javascript:void(0)')
							img(src='/img/bg4.png', alt='')