doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title Parish Office	
		link(href='/css/loader.css', rel='stylesheet')
		link(href='/admin/style.css', rel='stylesheet')
		link(rel="stylesheet" href="/css/bootstrap-material-datetimepicker.css")
		link(rel="stylesheet" href="/css/bootstrap-datetimepicker-solo.css")
		link(rel="stylesheet" href="/css/imageModal.css")
		style.
			.shadow {
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

			.shadow2 {
				box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
			}
				
			.shadow3 {
				box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
			}
	body.app
		// @TOC
		// ===================================================
		//
			+ @Page Loader
			+ @App Content
			- #Left Sidebar
			> $Sidebar Header
			> $Sidebar Menu
			- #Main
			> $Topbar
			> $App Screen Content
		// @Page Loader
		// ===================================================
		#loader
			.spinner
		// @App Content
		// ===================================================
		div#wrapper
			// #Left Sidebar ====================
			.sidebar
				.sidebar-inner
					// ### $Sidebar Header ###
					.sidebar-logo
						.peers.ai-c.fxw-nw
							.peer.peer-greed
								a.sidebar-link.td-n(href='index.html')
									.peers.ai-c.fxw-nw
										.peer
											.logo.text-center.mt-3
												img.rounded-circle.shadow2(src='/Helium/img/INLPP.png', alt='' style="width: 4rem")
										.peer.peer-greed
											h5.lh-1.mB-0.logo-text Secretariat
							.peer
								.mobile-toggle.sidebar-toggle
									a.td-n(href='')
										i.ti-arrow-circle-left
					// ### $Sidebar Menu ###
					ul.sidebar-menu.scrollable.pos-r
						li.nav-item.mT-30.active
							a.sidebar-link(href='#')
								span.icon-holder
									i.c-blue-500.ti-home
								span.title Dashboard
					
						li.nav-item
							a.sidebar-link(href='#')
								span.icon-holder
									i.c-deep-orange-500.ti-calendar
								span.title Calendar
						
						//- li.nav-item.dropdown
						//- 	a.dropdown-toggle(href='javascript:void(0);')
						//- 		span.icon-holder
						//- 			i.c-orange-500.ti-layout-list-thumb
						//- 		span.title Maintenance
						//- 		span.arrow
						//- 			i.ti-angle-right
						//- 	ul.dropdown-menu
						//- 		li
						//- 			a.sidebar-link(href='/admin/maintenance-services') Services
						//- 		li
						//- 			a.sidebar-link(href='/admin/maintenance-events') Events
						//- 		li
						//- 			a.sidebar-link(href='/admin/maintenance-facilities') Facilities
						//- 		li
						//- 			a.sidebar-link(href='/admin/maintenance-ministries') Ministries
						//- 		li
						//- 			a.sidebar-link(href='#') Requirements
						//- 		li
						//- 			a.sidebar-link(href='#') Marriage Steps
						//- 		li
						//- 			a.sidebar-link(href='#') Marriage Cases
						li.nav-item.dropdown
							a.dropdown-toggle(href='javascript:void(0);')
								span.icon-holder
									i.c-purple-500.ti-map
								span.title Transactions
								span.arrow
									i.ti-angle-right
							ul.dropdown-menu
								li
									a(href='/secretariat/transaction-documentrequest') Document Request
									
								li.nav-item.dropdown
									a.dropdown-toggle(href='javascript:void(0);')
										span.icon-holder
										span.title Event Application
										span.arrow
											i.ti-angle-right
									ul.dropdown-menu
										li
											a(href='/secretariat/transaction-baptism') Baptism
										li
											a(href='/secretariat/transaction-blessings') Blessing
										li
											a(href='/secretariat/transaction-confirmation') Confirmation
										li
											a(href='/secretariat/transaction-marriage') Marriage	
								li
									a(href='/secretariat/transaction-eventproposal') Event Proposals	
								li
									a(href='/secretariat/transaction-facilityreservation') Facility Reservation
								li
									a(href='/secretariat/transaction-walkin') Walk-in
						//- li.nav-item
						//- 	a.sidebar-link(href='forms.html')
						//- 		span.icon-holder
						//- 			i.c-light-blue-500.ti-pencil
						//- 		span.title Reports
						//- li.nav-item.dropdown
						//- 	a.sidebar-link(href='ui.html')
						//- 		span.icon-holder
						//- 			i.c-pink-500.ti-palette
						//- 		span.title Queries
						//- li.nav-item.dropdown
						//- 	a.sidebar-link(href='ui.html')
						//- 		span.icon-holder
						//- 			i.c-pink-500.ti-palette
						//- 		span.title Utilities
						
						//- li.nav-item.dropdown
						//- 	a.dropdown-toggle(href='javascript:void(0);')
						//- 		span.icon-holder
						//- 			i.c-teal-500.ti-view-list-alt
						//- 		span.title Multiple Levels
						//- 		span.arrow
						//- 			i.ti-angle-right
						//- 	ul.dropdown-menu
						//- 		li.nav-item.dropdown
						//- 			a(href='javascript:void(0);')
						//- 				span Menu Item
						//- 		li.nav-item.dropdown
						//- 			a(href='javascript:void(0);')
						//- 				span Menu Item
						//- 				span.arrow
						//- 					i.ti-angle-right
						//- 			ul.dropdown-menu
						//- 				li
						//- 					a(href='javascript:void(0);') Menu Item
						//- 				li
						//- 					a(href='javascript:void(0);') Menu Item
			// #Main ============================
			.page-container
				// ### $Topbar ###
				.header.navbar
					.header-container
						ul.nav-left
							li
								a#sidebar-toggle.sidebar-toggle(href='javascript:void(0);')
									i.ti-menu
							li.search-box
								a.search-toggle.no-pdd-right(href='javascript:void(0);')
									i.search-icon.ti-search.pdd-right-10
									i.search-icon-close.ti-close.pdd-right-10
							li.search-input
								input.form-control(type='text', placeholder='Search...')
						ul.nav-right
							li.notifications.dropdown
								span.counter.bgc-red 3
								a.dropdown-toggle.no-after(href='', data-toggle='dropdown')
									i.ti-bell
								ul.dropdown-menu
									li.pX-20.pY-15.bdB
										i.ti-bell.pR-10
										span.fsz-sm.fw-600.c-grey-900 Notifications
									li
										ul.ovY-a.pos-r.scrollable.lis-n.p-0.m-0.fsz-sm
											li
												a.peers.fxw-nw.td-n.p-20.bdB.c-grey-800.cH-blue.bgcH-grey-100(href='')
													.peer.mR-15
														img.w-3r.bdrs-50p(src='https://randomuser.me/api/portraits/men/1.jpg', alt='')
													.peer.peer-greed
														span
															span.fw-500 John Doe
															span.c-grey-600
																| liked your 
																span.text-dark post
														p.m-0
															small.fsz-xs 5 mins ago
											li
												a.peers.fxw-nw.td-n.p-20.bdB.c-grey-800.cH-blue.bgcH-grey-100(href='')
													.peer.mR-15
														img.w-3r.bdrs-50p(src='https://randomuser.me/api/portraits/men/2.jpg', alt='')
													.peer.peer-greed
														span
															span.fw-500 Moo Doe
															span.c-grey-600
																| liked your 
																span.text-dark cover image
														p.m-0
															small.fsz-xs 7 mins ago
											li
												a.peers.fxw-nw.td-n.p-20.bdB.c-grey-800.cH-blue.bgcH-grey-100(href='')
													.peer.mR-15
														img.w-3r.bdrs-50p(src='https://randomuser.me/api/portraits/men/3.jpg', alt='')
													.peer.peer-greed
														span
															span.fw-500 Lee Doe
															span.c-grey-600
																| commented on your 
																span.text-dark video
														p.m-0
															small.fsz-xs 10 mins ago
									li.pX-20.pY-15.ta-c.bdT
										span
											a.c-grey-600.cH-blue.fsz-sm.td-n(href='')
												| View All Notifications 
												i.ti-angle-right.fsz-xs.mL-10
							li.notifications.dropdown
								span.counter.bgc-blue 3
								a.dropdown-toggle.no-after(href='', data-toggle='dropdown')
									i.ti-email
								ul.dropdown-menu
									li.pX-20.pY-15.bdB
										i.ti-email.pR-10
										span.fsz-sm.fw-600.c-grey-900 Emails
									li
										ul.ovY-a.pos-r.scrollable.lis-n.p-0.m-0.fsz-sm
											li
												a.peers.fxw-nw.td-n.p-20.bdB.c-grey-800.cH-blue.bgcH-grey-100(href='')
													.peer.mR-15
														img.w-3r.bdrs-50p(src='https://randomuser.me/api/portraits/men/1.jpg', alt='')
													.peer.peer-greed
														div
															.peers.jc-sb.fxw-nw.mB-5
																.peer
																	p.fw-500.mB-0 John Doe
																.peer
																	small.fsz-xs 5 mins ago
															span.c-grey-600.fsz-sm
																| Want to create your own customized data generator for your app...
											li
												a.peers.fxw-nw.td-n.p-20.bdB.c-grey-800.cH-blue.bgcH-grey-100(href='')
													.peer.mR-15
														img.w-3r.bdrs-50p(src='https://randomuser.me/api/portraits/men/2.jpg', alt='')
													.peer.peer-greed
														div
															.peers.jc-sb.fxw-nw.mB-5
																.peer
																	p.fw-500.mB-0 Moo Doe
																.peer
																	small.fsz-xs 15 mins ago
															span.c-grey-600.fsz-sm
																| Want to create your own customized data generator for your app...
											li
												a.peers.fxw-nw.td-n.p-20.bdB.c-grey-800.cH-blue.bgcH-grey-100(href='')
													.peer.mR-15
														img.w-3r.bdrs-50p(src='https://randomuser.me/api/portraits/men/3.jpg', alt='')
													.peer.peer-greed
														div
															.peers.jc-sb.fxw-nw.mB-5
																.peer
																	p.fw-500.mB-0 Lee Doe
																.peer
																	small.fsz-xs 25 mins ago
															span.c-grey-600.fsz-sm
																| Want to create your own customized data generator for your app...
									li.pX-20.pY-15.ta-c.bdT
										span
											a.c-grey-600.cH-blue.fsz-sm.td-n(href='email.html')
												| View All Email 
												i.fs-xs.ti-angle-right.mL-10
							li.dropdown
								a.dropdown-toggle.no-after.peers.fxw-nw.ai-c.lh-1(href='', data-toggle='dropdown')
									.peer.mR-10
										img.w-2r.bdrs-50p(src='https://randomuser.me/api/portraits/men/10.jpg', alt='')
									.peer
										span.fsz-sm.c-grey-900 John Doe
								ul.dropdown-menu.fsz-sm
									li
										a.d-b.td-n.pY-5.bgcH-grey-100.c-grey-700(href='')
											i.ti-settings.mR-10
											span Setting
									li
										a.d-b.td-n.pY-5.bgcH-grey-100.c-grey-700(href='')
											i.ti-user.mR-10
											span Profile
									//- li
									//- 	a.d-b.td-n.pY-5.bgcH-grey-100.c-grey-700(href='email.html')
									//- 		i.ti-email.mR-10
									//- 		span Messages
									li.divider(role='separator')
									li
										a.d-b.td-n.pY-5.bgcH-grey-100.c-grey-700(href='/logout')
											i.ti-power-off.mR-10
											span Logout
							li.nav-item
								a.d-b.td-n.pY-5.bgcH-grey-100.c-grey-700(href='/logout')
									i.ti-power-off.mR-10
				// ### $App Screen Content ###
				main.main-content.bgc-grey-100
					#mainContent
						block main
				// ### $App Screen Footer ###
				footer.bdT.ta-c.p-30.lh-0.fsz-sm.c-grey-600
					span
						| Copyright © 2017 Designed by 
						a(href='https://colorlib.com', target='_blank', title='Colorlib') Colorlib
						| . All rights reserved.
	script(src='/js/jquery.min.js' type='text/javascript')
	script(src='/js/loader.js')
	script(src='/admin/vendor.js')
	script(src='/admin/bundle.js')
	script(src='/js/moment.min.js')
	script(src='/Helium/js/bootstrap.min.js')
	script(src='/js/pdfmake.js')
	script(src='/js/vfs_fonts.js')
	script(src='/js/sweetalert2.all.min.js')
	script(src="/js/bootstrap-datetimepicker.min.js")
	script(src="/js/bootstrap-material-datetimepicker.js")
	script(src="/js/imageModal.js")
	block addjs
	//- script(src="/js/jspdf.js")
	//- script(src="/js/jspdf.min.js")