extends ../../../../templates/guests
block main
	#headers
		#header-style-1
			.container
				.header-caption
					.row
						.col-md-12.header-content
							h3.header-title.animated.fadeInDown.invisible
								span.text-primary Helium - 
								| Bootstrap 4 UI Kit
							h5.header-text.animated.fadeIn.invisible
								| Lorem ipsum dolor sit amet, consectetuer adipiscing elit<br>Lorem ipsum dolor sit amet, consectetuer.</h5>
							//- a.page-scroll.btn.btn-lg.btn-default-filled.animated.fadeInUp.invisible(href="#") Download Now
							//- a.page-scroll.btn.btn-lg.btn-common.animated.fadeInUp.invisible(href="#") Explore
		#raised-section.main.main-raised
			section.form-box
				.container
					.row
						.col-md-12.form-wizard
							h3 Facility Reservation
							p Choose a facility to reserve
			.container
				.row
					.col-md-6
						.card-2.shadow2
							.image
								img(src='/img/facility/facility_1.jpg')
							.card-block
								h3.card-title Meeting Room
								.meta
									a Recommended
								.description
									.row
										.col-md-4
											span
												strong Rate: 
											
										.col-md-8
											.row
												span
												|      ₱1200 for the first 4hrs.
											.row
												span
												|      +₱300/additional hour
									.row
										.col-md-4
											span
												strong Ideal For: 
											
										.col-md-8
											.row
												span
												|      Meetings, training, seminars, workshops
									.row
										.col-md-4
											span
												strong Size:
											
										.col-md-8
											.row
												span
												|      4.9m x 11.5m (16ft x 37ft)
							.card-footer.p-0
								.extra.p-3
									.learn-more.text-center
										a.btn.btn-common.ml-auto.mx-auto(href="/guest/facility/form") Inquire
									span.right
										| ₱300/hr
								//- span
								//- 	i.fa.fa-user
								//- 	|                   75 Friends
					.col-md-6
						.card-2.shadow2
							.image
								img(src='/img/facility/facility_2.jpg')
							.card-block
								h3.card-title Multi-purpose Room
								.meta
									a Highly Recommended
								.description
									.row
										.col-md-4
											span
												strong Rate: 
											
										.col-md-8
											.row
												span
												|      ₱1200 for the first 4hrs.
											.row
												span
												|      +₱300/additional hour
									.row
										.col-md-4
											span
												strong Ideal For: 
											
										.col-md-8
											.row
												span
												|      Meetings, training, seminars, workshops, holiday parties, banquets, receptions, class reunions, anniversary parties, birthday parties, baby showers
									.row
										.col-md-4
											span
												strong Size:
											
										.col-md-8
											.row
												span
												|      4.9m x 11.5m (16ft x 37ft)
							.card-footer.p-0
								.extra.p-3
									.learn-more.text-center
										a.btn.btn-common.ml-auto.mx-auto(href="#") Inquire
									span.right
										| ₱300/hr
								//- span
								//- 	i.fa.fa-user
								//- 	|                   75 Friends